<!DOCTYPE html>
<html lang="en">
<head>
<title>要闻显示</title>
<meta charset="UTF-8" />
<link rel="icon" href="__PUBLIC__/img/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
<link rel="stylesheet" href="__PUBLIC__/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="__PUBLIC__/css/fullcalendar.css" />
<link rel="stylesheet" href="__PUBLIC__/css/matrix-style.css" />
<link rel="stylesheet" href="__PUBLIC__/css/matrix-media.css" />
<link href="__PUBLIC__/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="__PUBLIC__/css/jquery.gritter.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jquery.gritter.css"">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css">

</head>
<body>

<!--Header-part-->
{include file="common/header" /}
<!--close-Header-part-->


<!--sidebar-menu-->
{include file="common/left" /}
<!--sidebar-menu-->

<!--main-container-part-->
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#"  class="tip-bottom"><i class="icon-home"></i> 系统</a> <a href="#" class="current">通知要闻</a> </div> 
  </div>   

  <div class="container-fluid">
    <hr>                                            
    <button type="button" tooltip="添加用户" style="border-radius:6px" class="btn btn-info btn-sm shiny" onClick="javascript:window.location.href = '{:url('tzyw/add')}'"> <i></i> 新增要闻
    </button>
    
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>文章列表</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  <th style="width: 8% ">ID</th>                 
                  <th>标题</th>
                  <th>时间</th>
                  <th>点击数</th>             
                  <th style="width: 15%">操作</th>  
                </tr>
              </thead>
              <tbody>
                 {volist name="tzyws" id="vo"}
                <tr>
                  <td style="text-align: center;">{$vo.id}</td>
                  <td style="text-align: center;">{$vo.title}</td>                  
                  <td style="text-align: center;">{$vo.datetime}</td>
                  <td style="text-align: center;">{$vo.count}</td>
                  <td style="text-align: center;"> 
                        <a href="{:url('tzyw/edit',array('id'=>$vo['id']))}" class="btn btn-primary btn-sm shiny" style="border-radius:6px">
                            <i></i> 编辑
                        </a>
                                   
                        <a href="#" onClick="warning('确实要删除吗', '{:url('tzyw/del',array('id'=>$vo['id']))}')" class="btn btn-danger btn-sm shiny" style="border-radius:6px">
                            <i class="fa fa-trash-o"></i> 删除
                        </a>                                    
                  </td>         
                </tr>
                {/volist}
              </tbody>
            </table>  
             </div>      
            <div class="widget-foot" style="text-align: right;">{$tzyws->render()}</div>   
             </div>  
          </div>      
            <div class="widget-foot" style="text-align: right;"></div>   
      </div>
        
  </div>
</div>
 
<!--end-main-container-part-->

<!--Footer-part-->

<div class="row-fluid">
  <div id="footer" class="span12"> 2013 &copy; Matrix Admin. Brought to you by <a href="http://themedesigner.in/">Themedesigner.in</a> </div>
</div>

<!--end-Footer-part-->

<script src="__PUBLIC__/js/excanvas.min.js"></script> 
<script src="__PUBLIC__/js/jquery.min.js"></script> 
<script src="__PUBLIC__/js/jquery.ui.custom.js"></script> 
<script src="__PUBLIC__/js/bootstrap.min.js"></script> 
<script src="__PUBLIC__/js/jquery.flot.min.js"></script> 
<script src="__PUBLIC__/js/jquery.flot.resize.min.js"></script> 
<script src="__PUBLIC__/js/jquery.peity.min.js"></script> 
<script src="__PUBLIC__/js/fullcalendar.min.js"></script> 
<script src="__PUBLIC__/js/jquery.validate.js"></script> 
<script src="__PUBLIC__/js/jquery.wizard.js"></script> 
<script src="__PUBLIC__/js/jquery.uniform.js"></script> 
<script src="__PUBLIC__/js/select2.min.js"></script> 
<script src="__PUBLIC__/js/jquery.dataTables.min.js"></script> 
<script src="__PUBLIC__/js/matrix.js"></script> 
<script src="__PUBLIC__/js/beyond.js"></script>


</body>
</html>
