<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  	<meta http-equiv="x-ua-compatible" content="ie=edge">
  	<title>哈尔滨工业大学 高端装备制造虚拟仿真实验教学中心</title>
  	<meta name="description" content="">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  	
  	<link rel="icon" href="__PUBLIC__/img/favicon.ico">
  	<style type="text/css">
		<!--
		.STYLE1 {
			font-size: medium;
			color: #FF0000;
			font-weight: bold;
		}
		.STYLE2 {
			font-size: small;
			font-weight: bold;
			color: #FF0000;
		}
		.STYLE3 {font-size: medium}
		.STYLE4 {font-weight: bold; color: #FF0000;}
		-->
      </style>

</head>
<body bgcolor="white" text="black" link="#0000FF" vlink="#840084" alink="#0000FF">
   <div class="book" lang="zh-CN">
         <div class="titlepage">
            <div>
              <div>
                 <h1 align="center" class="title"><a name="OLE_LINK1"><strong>关于课程仿真实验台常见问题</strong></a></h1>
              </div>
           </div>
            <hr>
         </div>
     <div class="toc">
        <p align="center"><b>目录</b></p>
            <dl>
              <dd><span class="section"><a href="index.html#run_computer_1">1、课程仿真实验台的运行对计算机硬件配置最低要求是什么？</a></span> </dd>
              <dt>&nbsp;</dt>
              <dd><span class="section"><a href="index.html#run_computer_2">2、我的系统装的金山毒霸软件，在使用您们的软件做实验时，电路连接正确，但示波器测量就是没有波形，其它仪表测量也没有数据，而且金山毒霸会报警，这是什么原因导致的？</a></span></dd>
              <dt>&nbsp;</dt>
              <dt><span class="section"><a href="ch02.html#d0e1015"></a></span><span class="section"><a href="ch02.html#d0e1126"></a></span> </dt>
              <dd><span class="section"><a href="index.html#run_computer_3">3、在用搜狗浏览器时，有时会出现如下提示框，同时，仪表测量结果均为0.0或者示波器无波形，这是为什么？</a></span></dd>
              <dt>&nbsp;</dt>
              <dd><span class="section"><a href="ch02.html#d0e1317"></a></span><span class="section"><a href="index.html#run_computer_4">4、电路类课程虚实验平台器材可以相互连接，但连接后测量仪表的结果显示为0.0,或者示波器无波形显示，这是什么原因？</a></span></dd>
              <dt>&nbsp;</dt>
              <dd><span class="section"><a href="ch02.html#d0e1524"></a></span><span class="section"><a href="index.html#run_computer_5">5、针对个别客户反应(win8 IE10环境下)在进入虚拟实验仿真台页面时出现浏览器崩溃或者实验台仪器仪表没有结果。</a></span></dd>
              <dt>&nbsp;</dt>
              <dd><span class="section"><a href="ch02.html#d0e1652"></a></span><span class="section"><a href="index.html#run_computer_6">6、在某些浏览器(如IE8.0/IE6.0)中，进入电类课程的实验仿真台页面，当实验仿真台页面有实验电路时，会弹出如下窗口，同时实验电路无法测量结果(仪表测量结果均为0.0或者示波器无波形)。</a></span></dd>
              <dt>&nbsp;</dt>
              <dd><span class="section"><a href="ch02.html#d0e1939"></a></span><span class="section"><a href="index.html#run_computer_7">7、在用火狐浏览器时，仿真实验台有时会出现如下提示框同时，下载完插件还是同样显示提示框，这是为什么？</a></span></dd>
              <dt>&nbsp;</dt>
              <dd><span class="section"><a href="ch02.html#d0e2175"></a></span><span class="section"><a href="index.html#run_computer_8">8、进入虚拟实验平台页面时，平台出现如下页面错误，无法进行实验，是怎么回事？</a></span></dd>
           </dl>
            <dl>
              <dd><span class="section"><a href="index.html#run_computer_9">9、进入课程实验仿真台时，出现如下提示框</a></span></dd>
            </dl>
            <dl>
              <dd><span class="section"><a href="index.html#run_computer_10">10、进入课程仿真实验台时,在请求智能指导时，出现如下：安全警告对话框</a></span></dd>
            </dl>
            <dl>
              <dd><span class="section"><a href="index.html#run_computer_11">11、有的机器(win 7出现过)安装jre6.0时，安装弹出如下警告框</a></span></dd>
            </dl>
            <dl>
              <dd><span class="section"><a href="index.html#run_computer_12">12、360安全浏览器、谷歌chrome浏览器，会出现总是提示  Java(TM)因过期而遭到阻止，点击运行一次后才能运行虚拟试验台，如图所示</a></span></dd>
            </dl>
            <dl>
              <dd><span class="section"><a href="index.html#run_computer_13">13.进入课程实验仿真台时，出现如下提示框</a></span></dd>
            </dl>
            <p>&nbsp;</p>
<dl>
              <blockquote>
                <dl>
                  <dt class="STYLE1"><a name="run_computer_1"></a>1、课程仿真实验台的运行对计算机硬件配置最低要求是什么？</dt>
                </dl>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;答：由于我们的每门课程的仿真都是需要经过建立器材模型以及运算求解，在这个过程比较耗</p>
                <p>系统的性能，所能建议客户机器的配置在主频2G以上，内存2G以上，这样就能保证仿真平台的运行流畅。</p>
              </blockquote>
              <dt>&nbsp;</dt>
                <p>&nbsp;</p>
                <blockquote>
                  <p class="STYLE1"><a name="run_computer_2" id="run_computer_2"></a>2</a>、我的系统装的金山毒霸软件，在使用您们的软件做实验时，电路连接正确，</p>
                  <p class="STYLE1">但示波器测量就是没有波形，其它仪表测量也没有数据，而且金山毒霸会报警，</p>
                  <p class="STYLE1">这是什么原因导致的？ </p>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;答：由于我们的平台在做实验时，会调用用户目录下的owvlab.exe进行求解。但杀毒软件误报</p>
                  <p>我们的软件owvlab.exe是个木马。我们已和金山公司反应了此问题，金山公司版本更新时会解决此问题。</p>
                  <p>目前的解决方法是：使用我们的软件时暂时关闭一下&quot;上网安全保护&quot;功能。如下图： </p>
                  <p><img src="__PUBLIC__/img/question/image-2-1.gif" width="667" height="499"></p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p class="STYLE1"><a name="run_computer_3" id="run_computer_3"></a>3、在用搜狗浏览器时，有时会出现如下提示框，同时，仪表测量结果均为0.0</p>
                  <p class="STYLE1">或者示波器无波形，这是为什么？ </p>
                  <p><img src="__PUBLIC__/img/question/image-3-1.gif" width="382" height="273"></p>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;答：这是因为搜狗浏览器阻止课程仿真实验台在仿真计算时调用了本地的文件所导致的，</p>
                  <p>只要关闭搜狗网页安全卫士即可解决，具体步骤如下：<br>
&nbsp;&nbsp;&nbsp;&nbsp;1）、点击搜狗浏览器右上方“工具” </p>
                  <p><img src="__PUBLIC__/img/question/image-3-2.gif" width="667" height="499"></p>
                  <p>2）、选择“搜狗高速浏览器选项” </p>
                  <p><img src="__PUBLIC__/img/question/image-3-3.gif" width="269" height="284"></p>
                  <p>3）、在“安全”中关闭搜狗网页安全卫士 </p>
                  <p><img src="__PUBLIC__/img/question/image-3-4.gif" width="667" height="499"></p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p class="STYLE1"><a name="run_computer_4" id="run_computer_4"></a>4</a>、电路类课程虚实验平台器材可以相互连接，但连接后测量仪表的结果显示为0.0,</p>
                  <p class="STYLE1">或者示波器无波形显示，这是什么原因？ </p>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;答：首先：确认您连接的电路是否正确，是否已接了地(这个很重要，任何一个电路都必须有一个节点接地，</p>
                  <p>一般地接在仪器仪表的负极上);</p>
                  <p><br>
  &nbsp;&nbsp;&nbsp;&nbsp;其次：请检查您使用的浏览器，在一些比如360、搜狗等浏览器或者防火墙、杀毒软件，会阻虚拟实验平台</p>
                  <p>调用用户目录下的owvlab.exe，而这个文件正是用来求解电路结果使用的文件。而这些浏览器或防火墙、</p>
                  <p>杀毒软件认为owvlab.exe不安全而阻止虚拟实验平台的调用，最终导致测量仪表的结果显示为0.0,或者示波器无波形显示。</p>
                  <p>出现此问题可参照问题2、3来解决，或者换成IE浏览器重新登陆使用。</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p class="STYLE1"><a name="run_computer_5" id="run_computer_5"></a>5</a>、针对个别客户反应(win8 IE10环境下)在进入虚拟实验仿真台页面时出现浏览器崩溃</p>
                  <p class="STYLE1">或者实验台仪器仪表没有结果。 </p>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;答：解决方法如下:让客户卸载掉之前java6.0虚拟机，重新装一下java7.0或者升级更新java6.0,</p>
                  <p>java7.0下载地址<a href="http://www.rainier.net.cn/xgxz/cyrj/">http://www.rainier.net.cn/xgxz/cyrj/</a>，但如果客户用的浏览器是IE6.0，只能装java6.0虚拟机。</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p class="STYLE1"><a name="run_computer_6" id="run_computer_6"></a>6</a>、在某些浏览器(如IE8.0/IE6.0)中，进入电类课程的实验仿真台页面，当实验仿真台页面有实验电路时，</p>
                  <p class="STYLE1">会弹出如下窗口，同时实验电路无法测量结果(仪表测量结果均为0.0或者示波器无波形)。 </p>
                  <p><img src="__PUBLIC__/img/question/image-6-1.gif" width="667" height="400"></p>
                  <p>&nbsp;</p>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;答：可以尝试下面两个方法解决： </p>
                  <p><br>
  &nbsp;&nbsp;&nbsp;&nbsp;查看电脑右下解是否已运行杀毒软件、安全卫士、防火墙等软件，如果发现，把这些软件全部退出，</p>
                  <p>然后关闭所有浏览器，再重新打开浏览器登陆相关页面即可，切记一定要先关闭所有浏览器再重新</p>
                  <p>打开浏览器才可以。主要原因是由于我们的平台在做实验时，会调用用户目录下的owvlab.exe进行求解。</p>
                  <p>但这些软件误报我们的软件owvlab.exe是个木马程序。 </p>
                  <p><br>
  &nbsp;&nbsp;&nbsp;&nbsp;不退出相关的杀毒软件、安全卫士、防火墙，安装或使用其它浏览器登陆，比如搜狗，火狐、360、chrome浏览器等。</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p class="STYLE2 STYLE3"><span class="STYLE4"><a name="run_computer_7" id="run_computer_7"></a></span>7</a>、在用火狐浏览器时，仿真实验台有时会出现如下提示框同时，下载完插件还是同样显示提示框，</p>
                  <p class="STYLE2 STYLE3">这是为什么？ </p>
                  <p><img src="__PUBLIC__/img/question/image-7-1.gif" width="667" height="430"></p>
                  <p><strong>答：</strong>这是因为火狐浏览器禁用课程模拟插件所导致的，只要打开火狐浏览器附加组件即可解决，具体步骤如下： <br>
                    1）、点击火狐浏览器右上方“工具” </p>
                  <p><img src="__PUBLIC__/img/question/image-7-2.gif" width="667" height="90"></p>
                  <p>2）、选择“火狐浏览器”附加组件 </p>
                  <p><img src="__PUBLIC__/img/question/image-7-3.gif" width="667" height="400"></p>
                  <p>3）、在“插件”中启用 java</p>
                  <p><img src="__PUBLIC__/img/question/image-7-4.gif" width="667" height="100"></p>
                  <p><img src="__PUBLIC__/img/question/image-7-5.gif" width="667" height="100"></p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p class="STYLE1"><a name="run_computer_8" id="run_computer_8"></a>8、进入虚拟实验平台页面时，平台出现如下页面错误，无法进行实验，是怎么回事？ </p>
                  <p><img src="__PUBLIC__/img/question/image-8-1.gif" width="667" height="499"></p>
                  <p> &nbsp;&nbsp;&nbsp;&nbsp;答：出现这种情况的原因有可能是因为进入虚拟实验平台页面，但平台又还没有实始化完成</p>
                  <p>就切换到另外一个页面造成的。具体解决方法是清除java缓存即可，清除java缓存的方法如下： </p>
                  <p><br>
                    <strong>步骤一： </strong><br>
&nbsp;&nbsp;&nbsp;&nbsp;在电脑右下角找到java logo</p>
                  <p><img src="__PUBLIC__/img/question/image-8-2.gif" width="193" height="31"></p>
                  <p>右键弹出菜单 </p>
                  <p><img src="__PUBLIC__/img/question/image-8-3.gif" width="211" height="128"></p>
                  <p>点击打开控制面板，弹出java控制面板，进入步骤二 </p>
                  <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;如果电脑右下角没有java logo</strong><strong>，则按照如下方法： </strong><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;查找 Java 控制面板 <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;Windows 8&nbsp;使用搜索来查找控制面板 </p>
                  <ol>
                    <li>按 Windows 徽标键 + W 以打开搜索框来搜索设置，或者将鼠标指针拖动到屏幕的右下角，然后单击搜索图标。 </li>
                    <li>在搜索框中输入 Java 控制面板 </li>
                    <li>单击屏幕右下角Java 图标以打开 Java 控制面板。 </li>
                  </ol>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;Windows 7、Vista</p>
                  <ol>
                    <li>单击开始按钮，然后单击控制面板选项。 </li>
                    <li>在控制面板搜索中输入 Java 控制面板。 </li>
                    <li>单击屏幕右下角Java 图标以打开 Java 控制面板。 </li>
                  </ol>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;Windows XP</p>
                  <ol>
                    <li>单击开始按钮，然后单击控制面板选项。 </li>
                    <li>双击 Java 图标以打开 Java 控制面板。 </li>
                    <li>单击屏幕右下角Java 图标以打开 Java 控制面板。 </li>
                  </ol>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;Mac OS X 10.7.3 和更高版本 </p>
                  <ol>
                    <li>单击屏幕左上角的 Apple 图标。 </li>
                    <li>转到系统偏好设置 </li>
                  </ol>
                  <p><strong><img src="__PUBLIC__/img/question/image-8-4.gif" width="435" height="490"></strong></p>
                  <p><strong>步骤二： </strong><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;在常规选项中的临时Internet文件点击“设置”按钮再点击“删除文件”按钮,删除所有的临时文件。 </p>
                  <p><img src="__PUBLIC__/img/question/image-8-5.gif" width="512" height="531"></p>
                  <p><img src="__PUBLIC__/img/question/image-8-6.gif" width="512" height="524"></p>
                  <p><strong>步骤三： </strong><br>
                    删除完缓存之后，需要关闭所有浏览器。再次打开浏览器进入虚拟实验系统即可。</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p class="STYLE1"><a name="run_computer_9" id="run_computer_9"></a>9、进入课程实验仿真台时，出现如下提示框</p>
                  <p class="STYLE1"><img src="__PUBLIC__/img/question/image-9-1.gif" width="667" height="357"></p>
                  <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;答：出现这种情况的原因是JAVA运行环境从 Java  SE 7.0 Update 50 及以上版本开始提高了安全级别。有如下两种解决方法： </p>
                  <p align="left"><strong>&nbsp;&nbsp;&nbsp;&nbsp;解决方法1</strong>：进行控制面板—》程序—》卸载，卸载该版本的JAVA程序，卸载后安装Java  SE 7.0 Update 50以下的版本，</p>
                  <p align="left">点击下图中的插件下载即可： </p>
                  <p><img src="__PUBLIC__/img/question/image-9-2.gif" width="667" height="150">           </p>
                  <p>&nbsp;</p>
                  <p>或者进入如下地址进行下载jre7.0： <a href="http://www.rainier.net.cn/xgxz/cyrj/">http://www.rainier.net.cn/xgxz/cyrj/</a> </p>
                  <p align="left"><strong>&nbsp;&nbsp;&nbsp;&nbsp;解决方法2</strong>：进入控制面板——》程序——》Java——》安全，在例外站点里把您访问的</p>
                  <p align="left">网站地址(http://xxx.xxx.xxx.xxx:xxxx)添加进去就可以了，同时把安全等级也调到最低，</p>
                  <p align="left">添加网站注意是主网地址也就是提示您Web站点不可信时显示的地址，这样就行了。 </p>
                  <p><img src="__PUBLIC__/img/question/image-9-3.gif" width="530" height="564"></p>
                  <p align="left">编辑站点列表，弹出如下框 </p>
                  <p><img src="__PUBLIC__/img/question/image-9-4.gif" width="552" height="371">           </p>
                  <p align="left">点击添加按钮，把您访问的网站地址添加进去 </p>
                  <p><img src="__PUBLIC__/img/question/image-9-5.gif" width="552" height="371">           </p>
                  <p align="left">点击确定后， </p>
                  <p><img src="__PUBLIC__/img/question/image-9-6.gif" width="526" height="272">           </p>
                  <p>点击继续，再点击确定返回到课程实验台页面后，刷新页面即可。</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p class="STYLE1"><a name="run_computer_10" id="run_computer_10"></a>10、进入课程仿真实验台时,在请求智能指导时，出现如下：安全警告对话框。 </p>
                  <p><img src="__PUBLIC__/img/question/image-10-1.gif" width="516" height="250"></p>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;答：碰到这种情况下，选择不阻止，否则系统可能无法运行。出现这种原因主要</p>
                  <p>是因为JAVA运行环境从 Java SE 6 Update 19 版本开始，当程序同时包含签名和未签名组件时，</p>
                  <p>会出现一个警告对话框。&nbsp;如需以后不再弹出该警告框的解决方法如下： </p>
                  <p><br>
  &nbsp;&nbsp;&nbsp;&nbsp;1)在安全对话框中，点击单击否按钮，则可以继续执行。如果单击是，</p>
                  <p>实验台将无法运行或者请求指导功能无法使用。 </p>
                  <p><br>
  &nbsp;&nbsp;&nbsp;&nbsp;2）可以通过 Java 控制面板管理来处此种情况。首先查找</a> Java 控制面板 </p>
                  <p><br>
  &nbsp;&nbsp;&nbsp;&nbsp;Windows 8&nbsp;使用搜索来查找控制面板 </p>
                  <ol>
                    <li>按 Windows 徽标键 + W 以打开搜索框来搜索设置，或者将鼠标指针拖动到屏幕的右下角，然后单击搜索图标。 </li>
                    <li>在搜索框中输入 Java 控制面板 </li>
                    <li>单击屏幕右下角Java 图标以打开 Java 控制面板。 </li>
                  </ol>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;Windows 7、Vista</p>
                  <ol>
                    <li>单击开始按钮，然后单击控制面板选项。 </li>
                    <li>在控制面板搜索中输入 Java 控制面板。 </li>
                    <li>单击屏幕右下角Java 图标以打开 Java 控制面板。 </li>
                  </ol>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;Windows XP</p>
                  <ol>
                    <li>单击开始按钮，然后单击控制面板选项。 </li>
                    <li>双击 Java 图标以打开 Java 控制面板。 </li>
                    <li>单击屏幕右下角Java 图标以打开 Java 控制面板。 </li>
                  </ol>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;Mac OS X 10.7.3 和更高版本 </p>
                  <ol>
                    <li>单击屏幕左上角的 Apple 图标。 </li>
                    <li>转到系统偏好设置 </li>
                  </ol>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;单击屏幕右下角Java 图标以打开 Java 控制面板 </p>
                  <p><img src="__PUBLIC__/img/question/image-10-2.gif" width="370" height="400"></p>
                  <p align="left">在 Java 控制面板中单击高级选项卡。展开安全部分下的混合代码（沙盒与可信）安全验证选项。 </p>
                  <p><img src="__PUBLIC__/img/question/image-10-3.gif" width="370" height="384">           </p>
                  <p>单击选禁用验证，点击确定即可。</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p class="STYLE1"><a name="run_computer_11" id="run_computer_11"></a>11、有的机器(win 7出现过)安装jre6.0时，安装弹出如下警告框</p>
                  <p><img src="__PUBLIC__/img/question/image-11-1.gif" width="366" height="174"></p>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;答：出现这种情况是因为您当前安装的jre6.0和您的机器的环境不匹配。请您下载安装jre7.0，</p>
                  <p>下载地址如下： <a href="http://www.rainier.net.cn/xgxz/cyrj/">&nbsp;&nbsp;http://www.rainier.net.cn/xgxz/cyrj/</a></p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p class="STYLE1"><a name="run_computer_12" id="run_computer_12"></a>12、360安全浏览器、谷歌chrome浏览器，会出现总是提示  Java(TM)因过期而遭到阻止，</p>
                  <p class="STYLE1">点击运行一次后才能运行虚拟试验台，如图所示</p>
                  <p><img src="__PUBLIC__/img/question/image-12-1.gif" width="490" height="349"></p>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;答：可以采下面解决方法，避免每次弹出该提示框。 <br>
                    右键Google Chrome或者360安全浏览器，选择属性，如图： </p>
                  <p><img src="__PUBLIC__/img/question/image-12-2.gif" width="368" height="467"></p>
                  <p>在目标 后面的地址栏中输入：--allow-outdated-plugins，然后确定。</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p class="STYLE1"><a name="run_computer_13" id="run_computer_13"></a>13.进入课程实验仿真台时，出现如下提示框 </p>
                  <p><img src="__PUBLIC__/img/question/image-13-1.gif" width="527" height="257"></p>
                  <p align="left">解决方法：进入控制面板——》程序——》Java——》安全，把安全等级也调到最低。如下图所示:</p>
                  <p><img src="__PUBLIC__/img/question/image-13-2.gif" width="450" height="474">           </p>
                  <p><strong>如果您根据上述还无法解决您的问题，请联系我们的技术人员解决。 </strong><br>
                    <strong>电话：400-888-3467  </strong><br>
                    <strong>QQ:  1052004576 </strong><br>
                    <strong>Email:support@rainier.net.cn</strong></p>
                </blockquote>
</dl>
     </div>
   </div>
</body>

</html>