<!doctype html>
<html class="no-js" lang="">

<head> 
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>中心简介</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="icon" href="__PUBLIC__/img/favicon.ico">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="__PUBLIC__/css/normalize.css">
  <link rel="stylesheet" href="__PUBLIC__/css/main.css">
  <link rel="stylesheet" href="__PUBLIC__/css/index.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css" />
 
 
</head>

<body>
  
  <!-- header start -->
  {include file="common/header" /}
  <!-- header end -->



  <!-- center start -->
  <div class="container">
    <div class="row clearfix" id="i_zxgk">
      
      <div class="col-md-4 column">
        <ul>
          <li><h4>中心简介</h4></li>
          
        </ul>
      </div>
      
      <div class="col-md-8 column">
        <div class="gps">
          当前位置:  &nbsp;&nbsp; <a href="{:url('index/index')}">首页</a> << <a href="{:url('index/zxjj')}">中心简介</a>
        </div>
        
        <article>
          <h3>中心简介</h3>
          <div class="data">2015-04-21 05:23:00</div>

          <div class="center" id="color_red">
            <div >
            <p>&ldquo;高端装备制造虚拟仿真实验教学中心&rdquo;隶属于哈尔滨工业大学机电工程学院，是黑龙江省的省级虚拟仿真实验教学中心。</p>

            <p>哈工大的本科生人才培养目标为培养&ldquo;学术型拔尖创新人才（科技领军人）、工程应用型拔尖创新人才（工程领军人）&rdquo;两类人才。中心的成立和建设依据哈工大的人才培养目标，面向国民经济建设的支柱制造业，切合时代发展的要求，为高端装备制造业培养具有创新实践力能的人才。</p>

            <p style="text-align:right"><img class="picture" src="__PUBLIC__/img/zxjj/1(8).jpg" style="float:right; height:143px; width:250px" /></p>

            <p>制造业是社会经济发展的物质基础，在国民经济建设中处于支柱和主导地位。在《中国制造2025》中明确指出了发展高端装备制造业的重要意义。</p>

            <p>高端装备制造业需要高端技术人才的支撑，为适应高端装备制造创新性人才培养的需要，哈工大建设了适应课程需要的、有利于大学生实践能力培养的高端装备制造虚拟仿真实验教学中心。</p>

            <p>高端装备制造虚拟仿真实验教学中心的建设坚持&ldquo;科学规划、共享资源、突出重点、提高效益、持续发展&rdquo;的指导思想，充分体现了虚实结合、相互补充、能 实不虚的原则。中心与哈工大机械工程实验教学示范中心平行运作，一虚一实、互相补充、互相支持，开创了机电工程学院实验教学的新局面。</p>

            <p><img class="picture" src="__PUBLIC__/img/zxjj/111111.jpg" style="float:left; height:261px; width:450px" />高端装备制造虚拟仿真实验教学中心拥有完善的结构体系，针对课程教学中存在一些极端的环境、不可逆的操作或实验的耗材消耗巨大、实验周期漫长等实践教学的难 题，建设了3个虚拟仿真实验教学平台，分别为：面向大型、高成本、高消耗的&ldquo;学科基础课程虚拟仿真实验教学平台&rdquo;；面向空间、特殊作业环境和微纳尺度的 &ldquo;专业课程虚拟仿真实验教学平台&rdquo;面向创新创业能力综合训练的虚拟仿真实验教学平台。依据分阶段、平台模块化的原则，在纵向上将中心平台的布局分为三个阶段，分别适应从大一到大四的各个阶段的本科生培养的需要，同时各个平台又分为若干模块，适应不同专业和不同课程的需要。</p>

            <p style="text-align:right"><img class="picture" src="__PUBLIC__/img/zxjj/3(4).jpg" style="float:right; height:155px; width:250px" /></p>

            <p>中心共有专职和兼职教师77名，是一个教学、科研、技术和管理人员相结合的，核心骨干人员稳定的，教师教育理念先进、业务能力强、团结协作、勇于创 新的虚拟仿真实验教学团队。近三年来，获得国家级教学成果奖二等奖1项，黑龙江省高等教育教学成果奖6项。指导的学生获得省部级以上创新大赛47项。</p>

            <p><img class="picture" src="__PUBLIC__/img/zxjj/4(2).jpg" style="float:left; height:167px; width:250px" /></p>

            <p>&nbsp;</p>

            <p>实验教学中心面向全校师生开放，实现资源共享。实验教学中心重视交流与合作，建立了相应的实验教学工作交流机制，通过高校之间的合作交流，促进了实验中心的教学方法和理念的更新、发挥了实验中心的辐射作用。</p>

            <p>&nbsp;</p>

            <p><img class="picture" src="__PUBLIC__/img/zxjj/5(2).png" style="float:right; height:272px; width:250px" /></p>

            <p>高端装备制造虚拟仿真实验教学中心得到了985、国防科工局及国家自然科学基金等各类项目的资助。中心拥有完善的实验设备和虚拟仿真软件，能够满足 中心各平台的运作要求。在条件建设中，在寻求适合教学的商业仿真软件的基础上，中心还充分地发挥了学校的科研优势进行自主开发，并同时利用了企业的技术优 势进行联合开发，形成强强协作的建设开发模式。自主开发和校企合作开发的成果获得了国家级教学成果二等奖2项、黑龙江省高等教育教学成果一等奖1项，专利 3项、软件著作权4项。</p>

            <p>高端装备制造虚拟仿真实验教学中心的建设工作，以国民经济发展基础的机械工业为背景，面向战略性新兴产业&ldquo;高端装置制造&rdquo;的人才培养，契合高等教育信息化的时代要求，加强学生理论和实践协调发展，全面提高创新意识、创新能力。</p>

            <p>实验教学中心的进步和发展是哈尔滨工业大学创建国际一流高水平大学的一个重要组成部分，中心将依托科研、人才和技术的优势，加强自身建设，强化对外 辐射与示范作用，规格严格、功夫到家，发扬&ldquo;自力更生、艰苦奋斗、大力协同、无私奉献、严谨务实、勇于攀登&rdquo;的航天精神，建设更高水平的虚拟仿真实验教学 中心！</p>
            </div>

          

        </article>
      </div>
    </div>
  </div>
  <!-- center end -->

  <!-- footer start -->
  {include file="common/foot" /}
  <!-- footer end -->
 
  <script src="__PUBLIC__/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="__PUBLIC__/js/plugins.js"></script>
  <script src="__PUBLIC__/js/main.js"></script>
  <script src="__PUBLIC__/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/move-top.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/easing.js"></script>

  
  <script type="text/javascript">
    $(document).ready(function() {
    
      var defaults = {
          containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
      };
      
      
      $().UItoTop({ easingType: 'easeOutQuart' });
      
    });
  </script>
  <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>

</html>

