<!doctype html>
<html class="no-js" lang="">

<head> 
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>队伍结构</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="icon" href="__PUBLIC__/img/favicon.ico">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="__PUBLIC__/css/normalize.css">
  <link rel="stylesheet" href="__PUBLIC__/css/main.css">
  <link rel="stylesheet" href="__PUBLIC__/css/index.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css" />
 
 
</head>

<body>
  
  <!-- header start -->
  {include file="common/header" /}
  <!-- header end -->



  <!-- center start -->
  <div class="container">
    <div class="row clearfix" id="i_zxgk">
      
      <div class="col-md-4 column">
        <ul>
          <li><h4>师资队伍</h4></li>
          <li><a href="zxzr.html">中心主任</a></li>
          <li><a href="zxry.html">中心人员</a></li>
          <li><a href="dwjg.html">队伍结构</a></li>
          <li><a href="jssphcg.html">教师水平和成果</a></li>
        </ul>
      </div>
      
      <div class="col-md-8 column">
        <div class="gps">
          当前位置:  &nbsp;&nbsp; <a href="{:url('index/index')}">首页</a> << <a href="{:url('szdw/index')}">师资队伍</a> << <a href="{:url('szdw/dwjg')}">队伍结构</a>
        </div>
        
        <article>
          <h3>队伍结构</h3>
          <div class="data">2014-07-01 09:36:00 </div>

          <div class="center">
            <p>高端装备制造虚拟仿真实验教学中心共有专职和兼职教师77名，其中专职教师33名，兼职教师44名。</p>

            <p>在年龄分布上，中心拥有经验丰富的50岁以上教师21名，40-49岁的骨干教师33名，40岁以下的青年教师23人。</p>

            </p>
              <img alt="140x140" src="__PUBLIC__/img/2(3).1.jpg" />
            <p>

            <p>在青年教师中，教授、副教授和讲师共19名，这19名教师全部获得了博士学位。这些年轻教师普遍具有很好的虚拟仿真科研基础，科研视野比较开阔，接受新鲜事物能力快。中心制定计划有意识地对青年教师进行技术扶持和政策倾斜，通过虚拟仿真实验教学的开展，引导鼓励他们将科研成果转化到教学实践当中，从而带动教学水平的提高。具体培养计划为：</p>

            <p>（1）有计划性的鼓励青年教师到企业去进行专题培训，参加企业项目，提高青年教师的技术能力和实践能力；</p>

            <p>（2）请企业技术骨干来校指导、进行讲座交流，为青年教师在实践教学过程遇到的困难答疑解惑，同时带来虚拟仿真领域的新技术新方案；</p>

            <p>（3）建立&ldquo;帮带&rdquo;的机制，采用教学经验丰富的老教师和青年教师&ldquo;一带一&rdquo;或&ldquo;多带一&rdquo;的方式，促进青年的教学水平的成长；</p>

            <p>（4）定期举行青年教师虚拟仿真教学经验交流会，促使青年教师相互帮助，共同成长。</p>

            <p>在学历分布上，研究生学历教师73名，其中获得博士学位教师65名，获得硕士学位教师8名。另有本科学历教师4名。博士化率达到85%。</p>

            </p>
              <img alt="140x140" src="__PUBLIC__/img/2(3).2.jpg" />
            <p>

            <p>在职称分布上，拥有正高级职称教师35名，副高级职称教师26名，中级职称教师14名，初级职称教师2名。拥有高级职称的教师占全部教师比重达到79.22%。</p>

            </p>
              <img alt="140x140" src="__PUBLIC__/img/2(3).4.jpg" />
            <p>

            <p>中心人员构成合理，核心骨干人员相对稳定，教育理念先进，学术水平高，教学科研能力强，实践经验丰富，勇于创新，满足了中心建设、运作和发展的需要。</p>


          </div>
          

        </article>
      </div>
    </div>
  </div>
  <!-- center end -->

  <!-- footer start -->
  {include file="common/foot" /}
  <!-- footer end -->
 
  <script src="__PUBLIC__/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="__PUBLIC__/js/plugins.js"></script>
  <script src="__PUBLIC__/js/main.js"></script>
  <script src="__PUBLIC__/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/move-top.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/easing.js"></script>

  
  <script type="text/javascript">
    $(document).ready(function() {
    
      var defaults = {
          containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
      };
      
      
      $().UItoTop({ easingType: 'easeOutQuart' });
      
    });
  </script>
  <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>

</html>

