<!doctype html>
<html class="no-js" lang="">

<head> 
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>师资队伍</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="icon" href="__PUBLIC__/img/favicon.ico">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="__PUBLIC__/css/normalize.css">
  <link rel="stylesheet" href="__PUBLIC__/css/main.css">
  <link rel="stylesheet" href="__PUBLIC__/css/index.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css" />
 
 
</head>

<body>
  
  <!-- header start -->
  {include file="common/header" /}
  <!-- header end -->



  <!-- center start -->
  <div class="container">
    <div class="row clearfix" id="i_zxgk">
      
      <div class="col-md-4 column">
        <ul>
          <li><h4>师资队伍</h4></li>
          <li><a href="zxzr.html">中心主任</a></li>
          <li><a href="zxry.html">中心人员</a></li>
          <li><a href="dwjg.html">队伍结构</a></li>
          <li><a href="jssphcg.html">教师水平和成果</a></li>
        </ul>
      </div>
      
      <div class="col-md-8 column">
        <div class="gps">
          当前位置:  &nbsp;&nbsp; <a href="{:url('index/index')}">首页</a> << <a href="{:url('szdw/index')}">师资队伍</a>
        </div>
        
        <article>
          <h3>师资队伍</h3>
          <div class="data">2014-07-01 05:13:00</div>

          <div class="center">
            <p>高端装备制造虚拟仿真实验教学中心的教师队伍由学校统一规划，教师队伍分为管理者、专职实验教师、兼职实验教师。中心主任为机电学院教学副院长、国家级机械工程实验教学示范中心常务副主任，国家级教学成果奖二等奖获得者和国家黑龙江省高等学校教学名师宋宝玉教授。</p>

            <p>中心共有专职和兼职教师共77名。虚拟仿真实验课程需要教师不仅具有良好的专业知识素养，又需要具有良好的虚拟仿真知识基础，因此中心不仅有专职实验教师，还吸收了分属于不同的虚拟仿真实验教学平台的兼职学科专业教师44名。兼职教师根据自己的开课情况，分属于不同的虚拟仿真实验教学平台。</p>

            <p >
              <img alt="140x140" src="__PUBLIC__/img/2(1).jpg"  />
            </p>

            <p>中心拥有信息技术研发和维护人员15人，进行各平台的更新和日常维护工作。中心还聘请了北京润尼尔网络科技有限公司等12家企业的26名专家对中心资源进行长期共同建设、更新，或建立合作关系协助教学，为中心的可持续发展创造了更好的条件。</p>

          </div>
          

        </article>
      </div>
    </div>
  </div>
  <!-- center end -->

  <!-- footer start -->
  {include file="common/foot" /}
  <!-- footer end -->
 
  <script src="__PUBLIC__/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="__PUBLIC__/js/plugins.js"></script>
  <script src="__PUBLIC__/js/main.js"></script>
  <script src="__PUBLIC__/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/move-top.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/easing.js"></script>

  
  <script type="text/javascript">
    $(document).ready(function() {
    
      var defaults = {
          containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
      };
      
      
      $().UItoTop({ easingType: 'easeOutQuart' });
      
    });
  </script>
  <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>

</html>

