<!doctype html>
<html class="no-js" lang="">

<head> 
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>教师水平和成果</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="icon" href="__PUBLIC__/img/favicon.ico">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="__PUBLIC__/css/normalize.css">
  <link rel="stylesheet" href="__PUBLIC__/css/main.css">
  <link rel="stylesheet" href="__PUBLIC__/css/index.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css" />
 
 
</head>

<body>
  
  <!-- header start -->
  {include file="common/header" /}
  <!-- header end -->



  <!-- center start -->
  <div class="container">
    <div class="row clearfix" id="i_zxgk">
      
      <div class="col-md-4 column">
        <ul>
          <li><h4>师资队伍</h4></li>
          <li><a href="zxzr.html">中心主任</a></li>
          <li><a href="zxry.html">中心人员</a></li>
          <li><a href="dwjg.html">队伍结构</a></li>
          <li><a href="jssphcg.html">教师水平和成果</a></li>
        </ul>
      </div>
      
      <div class="col-md-8 column">
        <div class="gps">
          当前位置:  &nbsp;&nbsp; <a href="{:url('index/index')}">首页</a> << <a href="{:url('szdw/index')}">师资队伍</a> << <a href="{:url('szdw/jssphcg')}">教师水平和成果</a>
        </div>
        
        <article>
          <h3>教师水平和成果</h3>
          <div class="data">2014-07-01 09:28:00 </div>

          <div class="center">
            <p>&ldquo;高端装备制造虚拟仿真实验教学中心&rdquo;构建了稳定的、结构合理的教师团队，形成了一支教育理念先进、教学和科研水平高、虚拟仿真技术应用能力强和实验教学经验丰富的团结的敢于创新的队伍。在教学和科研方面取得显著的成果。<br />
中心教师在教学研究中获得标志性成果主要有：</p>

            <p>&ldquo;高端装备制造虚拟仿真实验教学中心&rdquo;构建了稳定的、结构合理的教师团队，形成了一支教育理念先进、教学和科研水平高、虚拟仿真技术应用能力强和实验教学经验丰富的团结的敢于创新的队伍。在教学和科研方面取得显著的成果。</p>

            <p><strong>中心教师在教学研究中获得标志性成果主要有：</strong></p>

            <p>（1）<strong>获得&ldquo;强化工程创新能力培养的机械专业实践教学建设&rdquo;、&ldquo;应用数字化技术增强实验设备的人才培养能力&rdquo;和&ldquo;哈工大国家工科机械基础课程教学基地建设的研究与实践&rdquo;国家级教学成果奖</strong><strong>3项</strong>，&ldquo;面向高素质人才培养的机械基础系列课程改革与实践&rdquo;等省级教学奖12项；</p>

            </p>
              <img alt="140x140" src="__PUBLIC__/img/2(4).1.jpg" />
            <p>

            </p>
              <img alt="140x140" src="__PUBLIC__/img/2(4).11.png" />
            <p>
            <p>（2）主编参编&ldquo;机械设计&rdquo;等教材、专著共18本；</p>

            </p>
              <img alt="140x140" src="__PUBLIC__/img/2(4).2.jpg" />
            <p>

            <p>（3）负责国家级精品课程2门，省级精品课程3门；</p>

            </p>
              <img alt="140x140" src="__PUBLIC__/img/2(4).3.jpg" />
            <p>

            <p>（4）发表教学研究论文27篇；</p>

            <p>（5）实验平台相关专利/软件著作权5项；</p>

            </p>
              <img alt="140x140" src="__PUBLIC__/img/2(4).4.jpg" />
            <p>

            <p>（6）近三年指导学生获得省部级科技创新奖47项。</p>

            </p>
              <img alt="140x140" src="__PUBLIC__/img/2(4).5.jpg" />
            <p>

            </p>
              <img alt="140x140" src="__PUBLIC__/img/2(4).6.jpg" />
            <p>


          </div>
          

        </article>
      </div>
    </div>
  </div>
  <!-- center end -->

  <!-- footer start -->
  {include file="common/foot" /}
  <!-- footer end -->
 
  <script src="__PUBLIC__/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="__PUBLIC__/js/plugins.js"></script>
  <script src="__PUBLIC__/js/main.js"></script>
  <script src="__PUBLIC__/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/move-top.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/easing.js"></script>

  
  <script type="text/javascript">
    $(document).ready(function() {
    
      var defaults = {
          containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
      };
      
      
      $().UItoTop({ easingType: 'easeOutQuart' });
      
    });
  </script>
  <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>

</html>

