<!doctype html>
<html class="no-js" lang="">

<head> 
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>中心主任</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="icon" href="__PUBLIC__/img/favicon.ico">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="__PUBLIC__/css/normalize.css">
  <link rel="stylesheet" href="__PUBLIC__/css/main.css">
  <link rel="stylesheet" href="__PUBLIC__/css/index.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css" />
 
 
</head>

<body>
  
  <!-- header start -->
  {include file="common/header" /}
  <!-- header end -->



  <!-- center start -->
  <div class="container">
    <div class="row clearfix" id="i_zxgk">
      
      <div class="col-md-4 column">
        <ul>
          <li><h4>师资队伍</h4></li>
          <li><a href="zxzr.html">中心主任</a></li>
          <li><a href="zxry.html">中心人员</a></li>
          <li><a href="dwjg.html">队伍结构</a></li>
          <li><a href="jssphcg.html">教师水平和成果</a></li>
        </ul>
      </div>
      
      <div class="col-md-8 column">
        <div class="gps">
          当前位置:  &nbsp;&nbsp; <a href="{:url('index/index')}">首页</a> << <a href="{:url('szdw/index')}">师资队伍</a> << <a href="{:url('szdw/zxzr')}">中心主任</a>
        </div>
        
        <article>
          <h3>中心主任</h3>
          <div class="data">2014-07-01 06:15:00 </div>

          <div class="center">
            <p>闫纪红（个人主页：<a href="http://homepage.hit.edu.cn/pages/yanjihong">http://homepage.hit.edu.cn/pages/yanjihong</a>）：机电工程学院教授、博士生导师，副院长。全面负责高端装备虚拟仿真实验教学中心的总体规划、建设、改造及运行，包括实验教学规划与改革、实验教学队伍建设、实验环境改造、人事、对外交流及经费管理等。</p>
            <div id="zxzr_pic" >
              <img alt="140*140" src="__PUBLIC__/img/2(1).1.jpg" style="width: 300px; height: 350px; margin-left: 170px" />
            </div>
            

            <p>2001至2005年在美国威斯康星大学、宾夕法尼亚州立大学博士后研究，方向为智能预诊、剩余寿命预测及系统决策。留学期间参与多项美国NSF、美国NSF重点项目、以及工业界合作项目研究。2005年9月作为哈尔滨工业大学&ldquo;海外引进人才&rdquo;回国工作。主要研究方向为工业大数据分析、可持续制造、智能维护。作为项目负责人，主持的主要项目：国家自然科学基金项目3项、国家自然科学基金中美合作项目1项（哈工大团队负责人）、数控重大专项子项目1项、总装备部预研基金1项、航天支撑技术基金1项、航天CAST项目2项、哈尔滨汽轮机厂项目等共计15项；主要参与的项目：973项目1项、千人计划项目1项等。负责校优秀课程1门，教育部双语示范课程1门。发表论文100余篇，其中SCI检索40余篇，总他引570余次。主编出版中文著作2部、英文专著1部（John Wiley &amp; Sons, 2015）。</p>

          </div>
          

        </article>
      </div>
    </div>
  </div>
  <!-- center end -->

  <!-- footer start -->
  {include file="common/foot" /}
  <!-- footer end -->
 
  <script src="__PUBLIC__/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="__PUBLIC__/js/plugins.js"></script>
  <script src="__PUBLIC__/js/main.js"></script>
  <script src="__PUBLIC__/js/bootstrap.min.js"></script>
  
  <script type="text/javascript" src="__PUBLIC__/js/move-top.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/easing.js"></script>

  
  <script type="text/javascript">
    $(document).ready(function() {
    
      var defaults = {
          containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
      };
      
      
      $().UItoTop({ easingType: 'easeOutQuart' });
      
    });
  </script>
  <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>

</html>

