<!doctype html>
<html class="no-js" lang="">

<head> 
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>校际共享</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="icon" href="__PUBLIC__/img/favicon.ico">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="__PUBLIC__/css/normalize.css">
  <link rel="stylesheet" href="__PUBLIC__/css/main.css">
  <link rel="stylesheet" href="__PUBLIC__/css/index.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css" />
 
 
</head>

<body>
  
  <!-- header start -->
  {include file="common/header" /}
  <!-- header end -->



  <!-- center start -->
  <div class="container">
    <div class="row clearfix" id="i_zxgk">
      
      <div class="col-md-4 column">
        <ul>
          <li><h4>资源共享</h4></li>
          <li><a href="xngx.html">校内共享</a></li>
          <li><a href="xjgx.html">校际共享</a></li>
          <li><a href="gxjh.html">进一步共享计划</a></li>
        </ul>
      </div>
      
      <div class="col-md-8 column">
        <div class="gps">
          当前位置:  &nbsp;&nbsp; <a href="{:url('index/index')}">首页</a> << <a href="{:url('zygx/index')}">资源共享</a> << <a href="{:url('zygx/xjgx')}">校际共享</a>
        </div>
        
        <article>
          <h3>校际共享</h3>
          <div class="data">2014-07-01 09:39:00</div>

          <div class="center" id="color_red">
            <p>通过网上平台和组织培训交流的方式对省内兄弟院校进行共享。网上平台具有用户身份管理、认证和计费管理系统的功能，通过网上平台对各高校有相关需求的专业实现虚拟仿真实验资源共享。中心借助哈工大教师教学发展中心，通过课程培训的方式，积极与省内各高校进行交流培训（图1），充分发挥中心的示范辐射作用。</p>
            
            <figure>
              <img src="__PUBLIC__/img/6(2).1.png" alt="">
              <figcaption><p style="text-align:center">图1省内各高校交流照片</p></figcaption>
              
            </figure>
           

            <p>实验教学中心重视全国范围内的充分交流与合作，已经接待了众多高校专家和同行参观与交流。中央电视台新闻频道、新华社、人民日报海外版、中国教育电视台、光明日报、科技日报、黑龙江电视台、哈尔滨电视台、生活报、新晚报、黑龙江晨报、新浪网、英国Monocle杂志等数十家新闻媒体对中心进行了采访和报道。先后有国内外兄弟院校与企业千余人来中心参观指导，起到了宣传和示范作用。国内西安交通大学等30多所高校曾到中心进行学术交流与访问，并建立了相应的实验教学工作交流机制。实验中心在做好自身建设的同时，还积极宣传中心的建设理念，为省内外高校提供建设方案。另外，实验教学中心的教师也多次到国内外的高校进行观摩交流。通过国内外高校之间的交流与合作，促进了实验中心的教学方法和理念的更新、发挥了实验中心的辐射作用。</p>

           

           <figure>
              <img src="__PUBLIC__/img/6(2).2.png" alt="">
              <figcaption><p style="text-align:center">图2新闻媒体采访和高校交流</p></figcaption>
              
            </figure>
          </div>
          

        </article>
      </div>
    </div>
  </div>
  <!-- center end -->

  <!-- footer start -->
  {include file="common/foot" /}
  <!-- footer end -->
 
  <script src="__PUBLIC__/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="__PUBLIC__/js/plugins.js"></script>
  <script src="__PUBLIC__/js/main.js"></script>
  <script src="__PUBLIC__/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/move-top.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/easing.js"></script>

  
  <script type="text/javascript">
    $(document).ready(function() {
    
      var defaults = {
          containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
      };
      
      
      $().UItoTop({ easingType: 'easeOutQuart' });
      
    });
  </script>
  <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>

</html>

