<!doctype html>
<html class="no-js" lang="">

<head> 
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>校内共享</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="icon" href="__PUBLIC__/img/favicon.ico">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="__PUBLIC__/css/normalize.css">
  <link rel="stylesheet" href="__PUBLIC__/css/main.css">
  <link rel="stylesheet" href="__PUBLIC__/css/index.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css" />
 
 
</head>

<body>
  
  <!-- header start -->
  {include file="common/header" /}
  <!-- header end -->



  <!-- center start -->
  <div class="container">
    <div class="row clearfix" id="i_zxgk">
      
      <div class="col-md-4 column">
        <ul>
          <li><h4>资源共享</h4></li>
          <li><a href="xngx.html">校内共享</a></li>
          <li><a href="xjgx.html">校际共享</a></li>
          <li><a href="gxjh.html">进一步共享计划</a></li>
        </ul>
      </div>
      
      <div class="col-md-8 column">
        <div class="gps">
          当前位置:  &nbsp;&nbsp; <a href="{:url('index/index')}">首页</a> << <a href="{:url('zygx/index')}">资源共享</a> << <a href="{:url('zygx/xngx')}">校内共享</a>
        </div>
        
        <article>
          <h3>校内共享</h3>
          <div class="data">2014-07-01 08:52:00</div>

          <div class="center" id="color_red">
            <p>实验中心的三个实验教学平台面向全院师生开放。平台的建设的出发点即为面向全院7个专业4个年级学生的课程和创新实践的需要，从实践基础到专业实践全方位共享。</p>

            <figure>
              <img src="__PUBLIC__/img/6.1.jpg" alt="">
              <figcaption><p style="text-align:center">中心实验教学平台面面向学院各专业的共享</p></figcaption>
              
            </figure>


            <p>实验教学中心的教学资源面向全校师生开放，中心的教学体系及其管理模式对专业课程的改革和其它实验课程的建设发展起到了很强的示范和推进作用，成为全校学生进行科技创新和实验培训的重要基地。为方便学生对实验设备的利用，根据实验的学时数、人数和实验设备数量等情况，对实验开放进行统筹安排，采用工作日全天开放和预约开放相结合的开放制度。在工作日的工作时间实验室全面开放，其他时间预约开放，保证实验正常开出。实验室利用率高，教学实验系统开出率100%。当学生达到教学基本要求和技能训练之后，可根据个人兴趣，通过组团或独立名义进入大学生创新创业平台，实验室和创新创业基地对创新创业的学生开放。教学实验室对课程设计、毕业设计等教学环节开放。除此之外，中心所引进和研制的许多先进的仪器设备，为学校实验教学提供了必要的手段。这些既培养了学生独立的创新能力，又促进了机电工程学院的实验教学的现代化，同时对学校的科研开发起到了很大的促进作用。实验中心的大型仪器设备，包括离散元仿真软件EDEM等全部纳入于哈尔滨工业大学仪器共享平台。</p>




          </div>
          

        </article>
      </div>
    </div>
  </div>
  <!-- center end -->

  <!-- footer start -->
  {include file="common/foot" /}
  <!-- footer end -->
 
  <script src="__PUBLIC__/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="__PUBLIC__/js/plugins.js"></script>
  <script src="__PUBLIC__/js/main.js"></script>
  <script src="__PUBLIC__/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/move-top.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/easing.js"></script>

  
  <script type="text/javascript">
    $(document).ready(function() {
    
      var defaults = {
          containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
      };
      
      
      $().UItoTop({ easingType: 'easeOutQuart' });
      
    });
  </script>
  <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>

</html>

