<!doctype html>
<html class="no-js" lang="">

<head> 
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>合作成果</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="icon" href="__PUBLIC__/img/favicon.ico">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="__PUBLIC__/css/normalize.css">
  <link rel="stylesheet" href="__PUBLIC__/css/main.css">
  <link rel="stylesheet" href="__PUBLIC__/css/index.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css" />
 
 
</head>

<body>
  
  <!-- header start -->
  {include file="common/header" /}
  <!-- header end -->



  <!-- center start -->
  <div class="container">
    <div class="row clearfix" id="i_zxgk">
      
      <div class="col-md-4 column">
        <ul>
          <li><h4>校企合作</h4></li>
          <li><a href="hzcg.html">合作成果</a></li>
          
        </ul>
      </div>
      
      <div class="col-md-8 column">
        <div class="gps">
          当前位置:  &nbsp;&nbsp; <a href="{:url('index/index')}">首页</a> << <a href="{:url('xqhz/index')}">校企合作</a><< <a href="{:url('xqhz/hzcg')}">合作成果</a>
        </div>
        
        <article>
          <h3>合作成果</h3>
          <div class="data">2014-07-01 09:03:00</div>

          <div class="center" id="color_red">
           <p><strong>（1</strong><strong>）北京润尼尔网络科技有限公司</strong></p>

          <p><strong>企业概况：</strong>北京润尼尔网络科技有限公司是一家以计算机技术和网络技术为依托，主要从事教育教学软件的研发、销售，产品宣传、推广策划、售后服务等市场相关工作，并可为客户提供教学系统整体解决方案，是一家在北京市中关村德胜科技园注册的国家级高新技术企业。</p>

          <p>北京润尼尔网络科技有限公司坚持&ldquo;专注实验教学、提升教学质量、服务学术人群&rdquo;的宗旨，与国内众多著名高校建立了长期稳定的合作关系，在国家科技支撑计划项目研究成果的基础上，依靠名校的教学创新经验和智力资源，结合公司专业的技术研发、市场推广和完善的技术服务，努力为各类院校提供高水平的教学系统软件和优质的技术支持与服务。帮助国内学校提高实验教学质量，推动实验教学领域内的思想变革和技术创新。</p>

          <p><strong>合作成果：</strong>共同建设虚拟仿真实验教学平台。北京润尼尔网络科技有限公司与哈工大联合研发具有扩展性、兼容性、前瞻性的管理和共享平台，高效管理计算机实验教学资源，实现校内外的实验教学资源共享，满足机械工程学科虚拟仿真实验教学的需求。</p>

          <p><strong>（2</strong><strong>）深圳市海特智能设备有限公司</strong></p>

          <p><strong>企业概况：</strong>深圳市海特智能设备有限公司是一家与哈尔滨工业大学合作，并在技术开发上得到哈尔滨工业大学大力支持的高新科技企业，公司主要从事于将科研成果产业化的工作。</p>

          <p>公司的产品发展方向是为大专院校、职业中专及培训机构等提供经济适用的教学设备。其中&ldquo;数控技术培训机&rdquo;即为适用于数控机床教学的产品，该产品的研究开发得到国家自然科学基金委员会、国防科学技术工业委员会、中国人民解放军总装备部、黑龙江省科学技术厅及哈尔滨市科学技术局等部门的大力支持。</p>

          <p><strong>合作成果：</strong>机械设计、制造工艺数字化实验教学平台是哈尔滨工业大学与深圳市海特智能设备有限公司合作开发而成的设备。利用&ldquo;数控技术培训机&rdquo;开发的机械制造工艺数字化实验教学系统，已获得多项国家发明专利（图1），并获得黑龙江省教学成果一等奖及国家级教学成果二等奖（图2）。该产品在学校实际教学过程中获得极大好评。</p>

          <figure>
              <img src="__PUBLIC__/img/7.2.png" alt="">
              <figcaption><p style="text-align:center">图1平台所获得的专利</p></figcaption>
              
          </figure>
          <figure>
              <img src="__PUBLIC__/img/7.3.png" alt="">
              <figcaption><p style="text-align:center">图2 获得的教学成果奖</p></figcaption>
              
          </figure>

          

          

          <p><strong>（3</strong><strong>）深圳市圆梦精密技术研究院</strong></p>

          <p><strong>企业概况：</strong>深圳市圆梦精密技术研究院围绕精密制造领域，从实际应用出发，在高端装备、精密工具、新型材料等和虚拟仿真软件开发领域取得多项处于国际领先地位的研发成果，在故障诊断、智能制造、网络制造、超高速加工设备及技术、超精密加工设备及技术、超精密测量、精密模具、精密工具、高端工具材料、纳米涂层、液态金属、激光加工、超精密光学元器件、精密气动元器件等领域取得了多项国际领先水平的研发成果，累计申请专利170余项，其中核心成员发明专利126项，发明专利授权51项。</p>

          <p><strong>合作成果：</strong>机械设计、制造工艺数字化实验教学平台中金属切削过程的虚拟仿真实验教学建设。</p>

          <p><strong>（4</strong><strong>）</strong><strong>北京海基嘉盛科技有限公司</strong></p>

          <p><strong>企业概况：</strong>北京海基嘉盛科技有限公司（以下简称&ldquo;海基科技&rdquo;）是一家专业工程CAE技术和研发平台提供商。海基科技创立于1996年，一直活跃在中国的高科技领域。海基科技服务于中国航空、航天、船舶、兵器、核电、汽车、机械装备、化工能源等高科技领域，并致力于为上述领域的客户提供行业领先的CAE技术以及研发平台解决方案，提高产品研制水平、缩短产品研制周期、降低产品研制费用。初创之际，海基科技经过充分的调研和论证，将FLUENT软件引进国内，经过十多年的发展，海基科技拥有国内最大的CFD客户群。此后，海基科技继续致力于在CFD、电磁场仿真、流固耦合、噪声分析、颗粒系统仿真，以及仿真和试验数据管理方面不断提供最先进、实用的解决方案。</p>

          <p><strong>合作项目：</strong>基于DEM的月壤颗粒特性参数&ldquo;实验-仿真&rdquo;一体化测试研究。</p>

          <p><strong>合作成果：</strong>利用离散元仿真软件EDEM，开发了基于三轴压缩实验的模拟月壤参数匹配平台，为建立更真实反映月壤力学特性的仿真模型奠定了基础。</p>

          <p><strong>（5</strong><strong>）日本SMC</strong><strong>公司</strong></p>

          <p><strong>企业概况：</strong>SMC立于1959年。SMC是世界级的气动元件研发、制造、销售商。SMC作为世界最著名的气动元件制造和销售的跨国公司，其销售网及生产基地遍布世界。SMC产品以其品种齐全、可靠性高、经济耐用、能满足众多领域不同用户的需求而闻名于世。</p>

          <p><strong>合作成果：</strong>合作建立哈尔滨工业大学SMC气动技术中心，将企业成果应用于平台建设。</p>

          <p><strong>（6</strong><strong>）北京华德液压工业集团</strong></p>

          <p><strong>企业概况：</strong>北京华德液压工业集团有限责任公司是中国机械工业500强之一、国内大型现代化专业液压件生产基地、北京京城机电控股有限责任公司麾下重点企业。经过技术引进及自主拓展，华德集团目前已发展成为以液压阀、液压泵/马达、液压成套设备、液压铸件四大支柱产业为核心，辅以密封件等产品，具有自主知识产权的液压基础件专业生产企业。</p>

          <p><strong>合作成果：</strong>合作为本科生教学服务。充分利用学校的办学优势，与以上企业进行工程实践教育基地的建设模式探索，建立工程实践虚拟仿真教育中心。</p>

          <p><strong>（7</strong><strong>）中核武汉核电运行技术股份有限公司</strong></p>

          <p><strong>企业概况：</strong>中核武汉核电运行技术股份有限公司是中核集团下属公司，该公司与哈尔滨工业大学长年合作，主要从事核动力在役检查技术开发与技术服务，核动力蒸汽发生器等关键设备设计、研究与技术服务，核动力维修，核动力运行仿真技术核产品开发，核电工程软件开发，核动力其他技术支持与技术服务。公司在核动力技术服务领域的综合实力处于国内领先地位，拥有世界一流的技术装备和配套设施，规范健全的质量保证体系。公司员工实践经验丰富，具有国内目前所有大型核设施和部分国外核电站的技术服务经历。</p>

          <p><strong>合作成果：</strong>研发了用于核电站压力容器检查三维控制系统，软件著作权4项（图3），申请发明专利1项，并获得黑龙江省科学技术进步二等奖（图4）。</p>

          <figure>
              <img src="__PUBLIC__/img/7.4.png" alt="">
              <figcaption><p style="text-align:center"图3校企合作获得的软件著作权证书</p></figcaption>
              
          </figure>

          <figure>
              <img src="__PUBLIC__/img/7.5.png" alt="">
              <figcaption><p style="text-align:center"图4 校企合作获得的科学技术奖</p></figcaption>
              
          </figure>

          <p><strong>（8</strong><strong>）研祥智能股份</strong></p>

          <p><strong>企业概况：</strong>研祥智能科技股份有限公司成立于1993年，是中国最大的特种计算机研究、开发、制造、销售和系统整合于一体的高科技企业。研祥立足自主研发、自主创新，产品技术完全拥有自主知识产权</p>

          <p><strong>合作成果：</strong>建立嵌入式技术联合实验室。</p>

          <p><strong>（9</strong><strong>）上海未来伙伴机器人有限公司</strong></p>

          <p><strong>企业概况：</strong>上海未来伙伴机器人有限公司（原上海广茂达伙伴机器人有限公司）成立于<a href="http://baike.baidu.com/view/286684.htm" target="_blank">1996年</a>，是一家单核心多业务的高科技公司。作为全球第一家专业从事伙伴机器人业务的尖端技术企业，未来伙伴致力于使机器人能够真正融入人类的教学、生活与工作中。当前，公司拥有世界知名的机器人学专家和专业的研发、设计和营销人员，拥有一系列全球领先的技术和创新与实践教育产品与服务。</p>

          <p><strong>合作成果：</strong>建立能力源联合实验室，提供能力源创新课程套件。</p>

          <p>&nbsp;</p>

          <p><strong>（10</strong><strong>）乐普科（天津）光电有限公司</strong></p>

          <p><strong>企业概况：</strong>乐普科（天津）光电有限公司是德国LPKF激光电子股份有限公司在中国的全资子公司，注册成立于2000年，坐落在天津高新技术产业园区内海泰绿色产业基地。代表行业顶尖水准的LPKF电子实验室电路板快速制作系统，适合高校电子类实验室或工程训练中心、研究院、所电子研发实验室、企业研发部门、电子类职业学校快速制作单件、小批量、多品种的样品PCB，使用方便快捷。LPKF的SMT模板激光加工系统，电路板激光精密切割加工系统，三维电路载体激光技术等均为世界顶尖水准，处于市场主导地位。乐普科(天津)光电有限公司与位于德国的LPKF激光电子股份有限公司的创新精神一脉相承，拥有电子行业软件、硬件、材料、应用多方面丰富的经验。</p>

          <p><strong>合作成果：</strong>建立联合实验室，提供LPKF ProtoMat S63雕刻机，供学生科创活动制作电路板使用。</p>

          <p><strong>（11</strong><strong>）北京中教仪人工智能科技有限公司</strong></p>

          <p><strong>企业概况：</strong>2002年初，由中国教学仪器设备有限公司投资组建的北京中教仪公司正式成立。公司源于教育、服务教育，在为教育服务的同时不断发展壮大。自成立以来，公司坚持科学管理，求实创新，秉持&ldquo;为教育提供良好的服务，为客户提供优质的产品&rdquo;的一贯宗旨和&ldquo;业界尊敬、永续经营&rdquo;的长期愿景，专注行业用户，积极为教育用户提供优质的整体解决方案、优质教学产品的代理进口以及出口服务。公司自成立以来，多次在国家级重点项目综合投标业务领域取得优异成绩，由此在机电一体化实验室建设、多媒体电化教育、电子电工实验室建设、通用及数控机床等领域积累了优质的资源和良好的声誉。</p>

          <p><strong>合作成果：</strong>建立联合实验室，提供慧鱼创意组合模型套件。</p>

          <p><strong>（12</strong><strong>）机器时代（北京）科技有限公司</strong></p>

          <p><strong>企业概况：</strong>机器时代（北京）科技有限公司成立于2007年，是专业从事仿生机器人研究开发的高科技企业。目前已推出60余种仿生机器人产品和原理样机，并成功完成了国家863某机器人项目关键技术攻关。在国内最早涉足机器人欠驱动自适应技术研究，并成功实现产品化。所开发机器人产品在完成复杂功能的同时，能耗更低，可靠性更高，广受市场好评。所有产品均拥用独立的知识产权，并于国内多所知名高校建立有合作关系。</p>

          <p><strong>合作成果：</strong>建立联合实验室，提供机器时代组合模型套件。</p>





          </div>
          

        </article>
      </div>
    </div>
  </div>
  <!-- center end -->

  <!-- footer start -->
  {include file="common/foot" /}
  <!-- footer end -->
 
  <script src="__PUBLIC__/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="__PUBLIC__/js/plugins.js"></script>
  <script src="__PUBLIC__/js/main.js"></script>
  <script src="__PUBLIC__/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/move-top.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/easing.js"></script>

  
  <script type="text/javascript">
    $(document).ready(function() {
    
      var defaults = {
          containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
      };
      
      
      $().UItoTop({ easingType: 'easeOutQuart' });
      
    });
  </script>
  <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>

</html>

