<!doctype html>
<html class="no-js" lang="">

<head> 
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>教学平台</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="icon" href="__PUBLIC__/img/favicon.ico">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="__PUBLIC__/css/normalize.css">
  <link rel="stylesheet" href="__PUBLIC__/css/main.css">
  <link rel="stylesheet" href="__PUBLIC__/css/index.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css" />
 
 
</head>

<body>
  
  <!-- header start -->
  {include file="common/header" /}
  <!-- header end -->



  <!-- center start -->
  <div class="container">
    <div class="row clearfix" id="i_zxgk">
      
      <div class="col-md-4 column">
        <ul>
          <li><h4>教学平台</h4></li>
          <li><a href="ptjs.html">平台建设</a></li>
          <li><a href="jxgn.html">教学功能</a></li>
        </ul>
      </div>
      
      <div class="col-md-8 column">
        <div class="gps">
          当前位置:  &nbsp;&nbsp; <a href="{:url('index/index')}">首页</a> << <a href="{:url('jxpt/index')}">教学平台</a>
        </div>
        
        <article>
          <h3>教学平台</h3>
          <div class="data">2014-07-01 05:22:00 </div>

          <div class="center" id="color_red">
            <p class="red"><strong>1</strong><strong>、面向大型、高成本、高消耗的&ldquo;学科基础课程虚拟仿真实验教学平台&rdquo;</strong></p>

            <p>学科基础课程虚拟仿真实验教学平台的建设面向大型的、高成本、高消耗实验内容，具体体现在：机械工程学科对学生工程能力培养要求高，课程实践性很强，实验设备和场地的限制严重影响实践教学的质量和效果，尤其是一些大型和昂贵设备的更新换代而带来的高成本给教学带来了很大压力，实验过程需要消耗大量能源和材料，且具有潜在的危险性；先进制造车间是机械工程学科学生了解企业生产运作的典型实践环境。而实际的先进制造车间运作和管理实验涉及到大型的、高成本的运行环境。</p>

            <p>根据针对课程的不同，该平台可分为：&ldquo;机械设计、制造数字化实验教学模块&rdquo;、&ldquo;流体控制元件和系统虚拟仿真实验教学模块&rdquo;和&ldquo;&lsquo;未来工厂&rsquo;虚拟仿真实验教学模块&rdquo;。</p>

            <p class="red"><strong>2</strong><strong>、面向空间、特殊作业环境和微纳尺度的&ldquo;专业课程虚拟仿真实验教学平台&rdquo;</strong></p>

            <p>专业课程虚拟仿真实验教学平台的建设面向高危和不可及的极特殊空间环境、特殊环境作业和不可及的微纳尺度加工等。这些专业课程涉及的特殊情况的实验教学需要借助虚拟仿真手段进行模拟。</p>

            <p>根据针对课程的不同，该平台可分为：&ldquo;空间极特殊环境效应及空间机构虚拟仿真实验教学模块&rdquo;、&ldquo;空间飞行器地面模拟装备虚拟测试及运动控制仿真实验教学模块&rdquo;、&ldquo;纳米加工虚拟仿真实验教学模块&rdquo;和&ldquo;机器人特殊环境作业虚拟仿真实验教学模块&rdquo;。</p>

            <p class="red"><strong>3</strong><strong>、面向创新创业能力综合训练的&ldquo;大学生机械创新与创业虚拟仿真实验教学平台&rdquo;</strong></p>

            <p>推行&ldquo;基于项目的学习&rdquo;方式是哈工大本科生院进行的重要教学改革新举措，基于项目就是要让学生动手进行综合训练实践，该教学过程主要针对大一和大二本科生的实践能力培养。</p>

            <p>大一和大二学年的学生直接开展实际的实验和实践项目难度很大。而学生对于应用信息技术的虚拟仿真的实验普遍具有很好的接受能力，掌握一定数量和一定程度的仿真软件对于学生相对容易和快捷，并且学生先通过虚拟仿真确定方案的合理性，再实际动手制作，可以很大程度上的提高制作的成功率，降低成本和减少时间的消耗。因此我们建立构建了&ldquo;虚&rdquo;&ldquo;实&rdquo;结合的大学生机械创新与创业虚拟仿真实验教学平台。</p>


          </div>
          

        </article>
      </div>
    </div>
  </div>
  <!-- center end -->

  <!-- footer start -->
  {include file="common/foot" /}
  <!-- footer end -->
 
  <script src="__PUBLIC__/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="__PUBLIC__/js/plugins.js"></script>
  <script src="__PUBLIC__/js/main.js"></script>
  <script src="__PUBLIC__/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/move-top.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/easing.js"></script>

  
  <script type="text/javascript">
    $(document).ready(function() {
    
      var defaults = {
          containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
      };
      
      
      $().UItoTop({ easingType: 'easeOutQuart' });
      
    });
  </script>
  <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>

</html>

