<!doctype html>
<html class="no-js" lang="">

<head> 
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>教学功能</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="icon" href="__PUBLIC__/img/favicon.ico">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="__PUBLIC__/css/normalize.css">
  <link rel="stylesheet" href="__PUBLIC__/css/main.css">
  <link rel="stylesheet" href="__PUBLIC__/css/index.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css" />
 
 
</head>

<body>
  
  <!-- header start -->
  {include file="common/header" /}
  <!-- header end -->



  <!-- center start -->
  <div class="container">
    <div class="row clearfix" id="i_zxgk">
      
      <div class="col-md-4 column">
        <ul>
          <li><h4>教学平台</h4></li>
          <li><a href="ptjs.html">平台建设</a></li>
          <li><a href="jxgn.html">教学功能</a></li>
        </ul>
      </div>
      
      <div class="col-md-8 column">
        <div class="gps">
          当前位置:  &nbsp;&nbsp; <a href="{:url('index/index')}">首页</a> << <a href="{:url('jxpt/index')}">教学平台</a> << <a href="jxgn.html">教学功能</a>
        </div>
        
        <article>
          <h3>教学功能</h3>
          <div class="data">2014-07-01 05:53:00</div>

          <div class="center" id="jxxg">
           <p><strong>一、学科基础课程虚拟仿真实验教学平台功能</strong></p>

          <p>（1）机械设计、制造数字化实验教学模块</p>

          <p>机械设计、制造数字化实验教学模块主要用于机械原理和设计、数控编程教学、数控机床和机器人等数控设备的操作教学、CAD/CAM软件的应用教学、数控程序正确性检验和数控程序优化、刀具和切削用量的合理选用等。可在一台培训机上模拟FANUC、SIEMENS、华中等数控系统的数控程序及其操作。Virtual Machining 2.1金属切削仿真软件具有切削力测量实验模块，切削热与切削温度实验模块和加工误差统计分析模块，生动的反应了背吃刀量、进给量、切削速度、刀具参数及切削形式对金属切削过程中切削力、热量产生及温度分布、表面粗糙度的影响规律。</p>

          <p>该模块采用虚实结合的设计理念，具有操作真实感强、设备和系统更新快、成本低、便于维护和管理等特点。该模块具有强的扩展性，可与其他软件系统集成和硬件系统相连，扩充功能。</p>

          <p>（2）流体控制元件和系统虚拟仿真实验教学模块</p>

          <p>基于流体传动与控制的理论，结合AMESim、Vortex等建模仿真软件，开发和建立开放的实验教学视频、数值仿真、可视化实验仿真软件系统。让学生在三维交互虚拟环境中进行流体元件和流体系统的仿真实验，包括元件设计、系统构建与规划、在线检测、反馈修正等环节。学生可随时进行实验准备、数据分析、故障排查和优化改进等实验教学功能。教师可以通过平台对每位学生的操作情况进行监测，实验完成后可自动对学生的操作进行评定；可实现远程访问或控制。通过使用该虚拟仿真实验教学模块，可以使他们在较短的时期里牢固掌握教学要点，加深对流体系统的工作机理和设计过程的理解，拓宽学生的知识面。</p>

          <p>（3）&ldquo;未来工厂&rdquo;虚拟仿真实验教学模块</p>

          <p>通过工厂建模、物流仿真建模、人体仿真建模以及企业应用集成软件，配合真实物流设备、加工设备与网络，建设模拟与虚拟企业环境以及人-机-环境虚拟实验环境。可以使学生在模拟与虚拟的企业环境中体验企业生产运作环境各个环节的操作，包括采购入库、原材料分拣、客户订单管理、生产计划管理、拣选下料、制造装配、质量检验和控制、成品入库和发运环节，以及诸环节之间的物料搬运过程。专业课程教师可以借助该环境，自如的将所授课程的实验内容穿插其中。学生可以直观、完整的了解企业的生产、计划、物料搬运、仓储、质检等业务过程。并可根据实验内容相对开放的建立各类工厂、物流、人员模型，并基于这些模型开展仿真优化分析工作。实现&ldquo;一个模块，多门课程&rdquo;。</p>

          <p><strong>二、专业课程虚拟仿真实验教学平台功能</strong></p>

          <p>（1）空间极特殊环境效应及空间机构虚拟仿真实验教学模块</p>

          <p>空间极特殊环境效应虚拟仿真实验教学模块以多种空间环境工程学专业软件为基础，针对难以使用地面模拟设备进行实验的空间环境因素，利用模拟软件虚拟仿真的手段开展实验。</p>

          <p>星球表面尘/壤环境是指星球表面的星壤和星尘环境，航天器在该环境下，受到星壤的特殊力学作用，会产生特殊的运动学特性。而星尘会对航天器表面产生粘附作用，影响航天器光学器件的工作效果。同时，星尘也会渗入航天器机构关节缝隙中，产生卡死效应，从而严重影响航天器工作状态。由于星尘-星壤具有粒径小、形状不规则等特点，而且其物理特性受真空环境和微重力环境影响较大，地面模拟具有极大的技术难度。因此，利用离散元仿真软件，构建星尘-星壤仿真模型，虚拟星球表面尘/壤环境，从而直观揭示星球表面尘/壤环境对航天器的效应。</p>

          <p>空间微重力环境是指空间环境中重力加速度接近于零的环境状态，由于小于地球表面重力加速度，在此环境中，航天器的运动状态与地面具有极大的差异，其运动学和动力学特性发生了极大的改变，直接影响航天器的结构设计和驱动设计。而空间微重力环境的地面模拟具有极大的技术难度，尤其是针对运动和结构比较复杂的航天器，因此，利用多体动力学软件，通过设置虚拟仿真环境的重力加速度参数，即可便捷地模拟空间微重力环境，极其准确地描述空间微重力环境对航天器运动学和动力学的影响效应。</p>

          <p>（2）空间飞行器地面模拟装备虚拟测试及运动控制仿真实验教学模块</p>

          <p>根据地面模拟设备的运行特点和参数，通过基于工作原理和物理性能指标的地面模拟装备的系统建模、基于几何及工艺约束的原理仿真与虚拟装配、测试和传感系统多信号融合虚拟建模、驱动控制系统的硬件组态和控制性能虚拟仿真以及数字控制器离散化方法虚拟仿真，建设以虚拟机械结构为本体，整合虚拟装配、虚拟检测、虚拟驱动和虚拟控制下的机电一体化设备虚拟实验平台。可以使学生在了解空间飞行器及其模拟设备工作原理和概况后，亲自通过虚拟实验的方法，设计、装配、检测、驱动、控制一台或多台地面模拟设备模拟空间飞行器的运动姿态和控制方法。虚拟实验自由性强，教师和学生互动增多，保证了授课的效率，极大地调动了学生的积极性，真正做到了&ldquo;教、学融合&rdquo;。同时所设计教学平台具有专业特色，对专业科研方向的推进也起到了促进作用。</p>

          <p>（3）纳米加工虚拟仿真实验教学模块</p>

          <p>纳米技术是在纳米尺度上研究物质的特性和相互作用，以及利用这些特性的多学科的科学和技术，目前已成功应用于许多领域。其中，纳米加工技术是纳米技术的一个重要分支，也是实现纳米技术的重要基础之一。由于纳米加工过程所处理的对象为原子、分子、高分子、量子点和高分子集合，并且被表面效应所掌控，如范德瓦耳斯力、氢键、电荷、离子键、共价键、疏水性、亲水性和量子穿隧效应等，因此纳米加工机理与宏观加工过程存在极大的差异。</p>

          <p>基于分子动力学仿真的理论研究可以从原子尺度揭示正在进行的加工过程中工件材料的微观变形机理、刀具与工件之间的相互作用以及工件材料的去除过程等，是研究纳米加工机理及纳米尺度材料变形的一种极其重要的手段。因此，采用基于分子动力学仿真方法的纳米加工虚拟仿真实验教学模块可以高效而低成本地研究纳米加工机理，为相关课程教学提供服务。</p>

          <p><strong>三、大学生机械创新与创业虚拟仿真实验教学平台功能</strong></p>

          <p>根据&ldquo;基于项目的学习&rdquo;创新实践项目的具体内容，构建虚拟设计、虚拟装配和虚拟控制的虚拟仿真创新项目试验平台。可以使学生亲自通过虚拟实验，完整的了解创新实践项目的设计、装配、校核和控制过程。该平台极大地调动了学生的积极性，真正做到了&ldquo;教学-创新-竞赛&rdquo;三位一体，有利于增强学生的社会责任感、创新精神、实践能力与综合素质。</p>


        </article>
      </div>
    </div>
  </div>
  <!-- center end -->

  <!-- footer start -->
  {include file="common/foot" /}
  <!-- footer end -->
 
  <script src="__PUBLIC__/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="__PUBLIC__/js/plugins.js"></script>
  <script src="__PUBLIC__/js/main.js"></script>
  <script src="__PUBLIC__/js/bootstrap.min.js"></script>
  
  <script type="text/javascript" src="__PUBLIC__/js/move-top.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/easing.js"></script>

  
  <script type="text/javascript">
    $(document).ready(function() {
    
      var defaults = {
          containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
      };
      
      
      $().UItoTop({ easingType: 'easeOutQuart' });
      
    });
  </script>
  <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>

</html>

