<!doctype html>
<html class="no-js" lang="">

<head> 
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>哈尔滨工业大学 高端装备制造虚拟仿真实验教学中心</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="icon" href="__PUBLIC__/img/favicon.ico">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="__PUBLIC__/css/normalize.css">
  <link rel="stylesheet" href="__PUBLIC__/css/main.css">
  <link rel="stylesheet" href="__PUBLIC__/css/index.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css" />
 
 
</head>

<body>
  
  <!-- header start -->
  {include file="common/header" /}
  <!-- header end -->



  <!-- center start -->
  <div class="container">
    <div class="row clearfix" id="i_zxgk">
      
      <div class="col-md-4 column">
        <ul>
          <li><h4>中心概况</h4></li>
          <li><a href="fzjc.html">发展历程</a></li>
          <li><a href="jsmb.html">建设目标</a></li>
        </ul>
      </div>
      
      <div class="col-md-8 column">
        <div class="gps">
          当前位置:  &nbsp;&nbsp; <a href="{:url('index/index')}">首页</a> << <a href="{:url('zxgk/index')}">中心概况</a> << <a href="fzjc.html">发展历程</a>
        </div>
        
        <article>
          <h3>发展历程</h3>
          <div class="data">2014-07-01 15:47:00 </div>

          <div class="center">
            <p>哈尔滨工业大学隶属于工业和信息化部，是由工信部、教育部、黑龙江省共建的国家重点大学，是首批进入国家“211工程”和“985工程”建设的若干所大学之一。学校以适应国家需要、服务国家建设为己任，形成了以航天特色为主，拓宽通用性为准则，充分发挥学科交叉、融合的优势。</p>

            <p>哈工大一直以来非常重视本科生的实验实践教学环节，秉承“规格严格，功夫到家”的校训，以学科为依托，以改革为核心，以人才培养为主线，始终把学生创新精神与实践能力的培养贯穿于整个教学过程中，创建了有利于培养学生创新精神和实践能力的实验教学体系。</p>

            <p>“高端装备制造虚拟仿真实验教学中心”隶属于哈尔滨工业大学机电工程学院，中心正式成立于2014年。中心目前主要面向机械设计制造及其自动化、飞行器制造工程、机械电子工程、工业工程、工业设计、数字媒体技术和数字媒体艺术7个本科生专业约1550名本科生，承担着学院10个教学单位的虚拟仿真实验教学任务，在学院各专业人才培养体系中发挥着重要作用。“高端装备制造虚拟仿真实验教学中心”发展经历了两个主要阶段：</p>

            <p>第一阶段：中心创建前期（2014年之前）</p>
            <p>机电工程学院各本科专业的专业课程具有很强的工程实践性，而实践性的培养必然需要很好的实验和实践条件支撑。长期以来机电工程学院的各个教学单位针对某些不适合用实际实验展示和开展的本科生实验教学项目进行了虚拟仿真实验的自行开发和建设，构成了中心实验教学平台的基本雏形，取得了良好的基础。具有代表性的实验设备和项目有：面向机械制造工艺实验教学的数字化实验教学系统和大学生机械创新与创业虚拟仿真实验教学实践。</p>
            <p>面向机械制造工艺实验教学的数字化实验教学系统利用数字化、信息化技术手段，将数字化制造技术的科研成果转化为教学资源、改革机械制造工艺实验的模式、方法和途径，该系统2005年获国家级教学成果二等奖（图1-1）。</p>
            <img alt="140x140" src="__PUBLIC__/img/2.1.png" />
            <p style="text-align: center;">图1-1&nbsp;机械制造工艺数字化实验教学系统及其获奖证书</p>
            <p>大学生机械创新与创业虚拟仿真实验教学实践主要针对本科生大一和大二年度基于项目学习计划。低年级本科生由于并没有完全进入专业课程学习，所以学生更适合应用现代虚拟仿真技术进行创新实践，机电工程学院经过多年的实施与积累，已经形成了&ldquo;教学-创新-竞赛&rdquo;一体式的培养模式，取得了优异的成绩。2012年到2014年三年间，我院学生共获得省级及以上科技创新和竞赛奖励180余项，尤其值得说明的是，我院是全国高校唯一的学生连续获得全国大学生创新年会&ldquo;我最爱的十件作品&rdquo;，&ldquo;十佳论文&rdquo;等荣誉称号的学院；2009年我院机器人队代表中国获得亚太大学生机器人电视大赛冠军，受到《新闻联播》的报道和国内外媒体的广泛关注。</p>

            <p>第二阶段：中心创建之后（2014年~至今）</p>

            <p>为了更好地发挥虚拟仿真实验教学的作用，方便众多资源的整合、统一管理和调配，扩大资源共享和促进虚拟仿真实验的发展，在学校的部署下，学院成立了&ldquo;高端装备制造虚拟仿真实验教学中心&rdquo;，成立中心的目的在于：基于信息化技术以虚拟仿真先进的实验手段，配合课程教学的需要，以哈工大人才培养定位目标和国家急需的高端装备制造人才培养为出发点，兼顾资源的共享和辐射，切实培养学生的实践能力和创新能力。</p>

            <p>装备制造业是为各行业提供技术装备的战略性产业，是经济社会发展的物质基础，在国民经济建设中处于支柱和主导地位。高端装备制造产业是指制造业的高端领域，其特点集中体现在知识、技术密集，多学科和多领域高、精、尖技术交叉，价值链高端，具有高附加值特征。高端装备制造被明确列为战略性新兴产业的发展方向之一，这将决定我国能否实现从&ldquo;制造大国&rdquo;向&ldquo;制造强国&rdquo;的转型。随着我国经济建设的持续发展，装备制造业的规模和层次不断提升，对人才的需求也日趋迫切。适应高端装备制造的人才需要很强的自主创新能力，这就急需高校培养一大批具备扎实的理论知识和工程实践能力，掌握高端装备设计、制造和管理的创新型人才。面向高端装备制造的创新型人才的实践能力培养主要依托于实验和实践课程的教学内容，哈工大机电工程学院针对各专业的主干课的需要开设了有利于学生实践能力培养的系列实验、实践课程，并面向全校各专业开设了&ldquo;创新研修课&rdquo;和&ldquo;创新实验课&rdquo;。部分实验和实践课程对实验设备和实验环境具有很强的依赖性，而设备资源不足、且难以与市场同步更新是制约实践教学的瓶颈问题。尤其在一些课程的实验中涉及一些极端的环境，不可及或不可逆的操作的实验项目，这些实验项目难以利用真实设备和在真实环境中开展。</p>

            <p>为了解决这些问题，需要充分发挥虚拟仿真教学的优势，因此哈尔滨工业大学机电工程学院成立并建设了&ldquo;高端装备制造虚拟仿真实验教学中心&rdquo;。该中心面向机电学院各本科专业，并与学校其它专业共享，将科研成果转化为教学资源，构建了&ldquo;虚拟&rdquo;与&ldquo;真实&rdquo;结合的三个平台系统，提供了能够充分激发学生兴趣的理论和实践紧密实验环境。</p>

            <p>中心成立后，在前期建设的基础上，经过对优势虚拟仿真资源整合后，2014年被黑龙江教育厅授予省级虚拟仿真实验教学中心的称号。</p>

            <p>&nbsp;</p>

          </div>
          

        </article>
      </div>
    </div>
  </div>
  <!-- center end -->

  <!-- footer start -->
  {include file="common/foot" /}
  <!-- footer end -->
 
  <script src="__PUBLIC__/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="__PUBLIC__/js/plugins.js"></script>
  <script src="__PUBLIC__/js/main.js"></script>
  <script src="__PUBLIC__/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/move-top.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/easing.js"></script>

  
  <script type="text/javascript">
    $(document).ready(function() {
    
      var defaults = {
          containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
      };
      
      
      $().UItoTop({ easingType: 'easeOutQuart' });
      
    });
  </script>
  <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>

</html>
