<!doctype html>
<html class="no-js" lang="">

<head> 
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>哈尔滨工业大学 高端装备制造虚拟仿真实验教学中心</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="icon" href="__PUBLIC__/img/favicon.ico">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="__PUBLIC__/css/normalize.css">
  <link rel="stylesheet" href="__PUBLIC__/css/main.css">
  <link rel="stylesheet" href="__PUBLIC__/css/index.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css" />
 
 
</head>

<body>
  
  <!-- header start -->
  {include file="common/header" /}
  <!-- header end -->



  <!-- center start -->
  <div class="container">
    <div class="row clearfix" id="i_zxgk">
      
      <div class="col-md-4 column">
        <ul>
          <li><h4>中心概况</h4></li>
          <li><a href="fzjc.html">发展历程</a></li>
          <li><a href="jsmb.html">建设目标</a></li>
        </ul>
      </div>
      
      <div class="col-md-8 column">
        <div class="gps">
          当前位置:  &nbsp;&nbsp; <a href="{:url('index/index')}">首页</a> << <a href="{:url('zxgk/index')}">中心概况</a> << <a href="jsmb.html">建设目标</a>
        </div>
        
        <article>
          <h3>建设目标</h3>
          <div class="data">2014-07-01 22:46:00  </div>

          <div class="center">
            <p>虚拟仿真实验教学中心建设和发展工作坚持&ldquo;<strong>科学规划、共享资源、突出重点、提高效益、持续发展</strong>&rdquo;的指导思想。中心坚持走可持续发展的策略从科研发展、课程建设和技术更新三方面促进中心持续发展。</p>

            <p>以科研发展促发展。依托学科优势将科研引入教学，紧密与科研项目结合，适应科研发展对实验教学和人才培养的需要。同时，在实验教学在适应课程的要求的前提下，还进行创新性选题，紧密结合科研和工程实际。</p>

            <p>以课程建设促发展。基于原有平台上开发新的实验项目，并继续对已有项目进行改进，增加新的功能，使得平台适应课程改革和发展的需要。寻找与其他课程和新开课程的切入点，开发新的虚拟仿真实验教学平台，更广泛的适应课程建设新的需要，与新开课程的实验需求同步。</p>

            <p>以技术更新促发展。与相关企业建立广泛的联系，加强校企合作，以组织虚拟仿真实验中心建设专业研讨会形式进行交流和互动；增强中心教师水平，安排教师参加企业成果展示会和到企业进行培训。以&ldquo;派出去走进来&rdquo;的方式，掌握最新的虚拟仿真技术，并应用于中心的建设，促进发展。</p>

            <p>哈尔滨工业大学&ldquo;高端装备制造虚拟仿真实验教学中心&rdquo;秉承哈尔滨工业大学&ldquo;规格严格，功夫到家&rdquo;的校训。遵循人才培养的规律，以哈工大建设世界一流大学为标准，面向国家与社会需求，并结合哈工大的人才培养目标定位，探索适应时代需要和本校情况的建设途径，着力提高中心的水平。充分发挥学校的科研优势，并开展和加强校企合作，充分利用资源，全面适应课程教学和紧跟课程建设和改革的需要，以培养学生实践能力和创新能力为目的，持续开发和建设以机电为基础的多学科交叉和融合虚拟仿真实验教学平台。利用现代网络技术，建设开放式、共享式网络教学资源，为师生提供优质的资源共享的虚拟仿真实验教学资源。坚持虚实结合、相互补充、能实不虚的原则，充分发挥虚拟仿真实验教学的优势，并与机电工程学院国家级机械工程实验教学示范中心相互配合，构建模块化、专业化和层次化的全方位实验教学系统。加强中心人员建设，提高中心教学和管理水平，形成一支教学水平高、技术维护能力强和管理经验丰富的勇于创新的虚拟仿真实验教学中心团队。突出学术型和工程应用型拔尖创新人才培养特色，将&ldquo;高端装备制造虚拟仿真实验教学中心&rdquo;建设为&ldquo;实验教学资源丰富，共享平台完备，教学和管理队伍一流，管理水平先进&rdquo;的具有哈工大特色的、创新型、为精英式本科教育而服务高水平虚拟仿真实验教学示范中心。</p>


          </div>
          

        </article>
      </div>
    </div>
  </div>
  <!-- center end -->

  <!-- footer start -->
  {include file="common/foot" /}
  <!-- footer end -->
 
  <script src="__PUBLIC__/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="__PUBLIC__/js/plugins.js"></script>
  <script src="__PUBLIC__/js/main.js"></script>
  <script src="__PUBLIC__/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/move-top.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/easing.js"></script>

  
  <script type="text/javascript">
    $(document).ready(function() {
    
      var defaults = {
          containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
      };
      
      
      $().UItoTop({ easingType: 'easeOutQuart' });
      
    });
  </script>
  <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>

</html>

