<!doctype html>
<html class="no-js" lang="">

<head> 
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>设备配置</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="icon" href="__PUBLIC__/img/favicon.ico">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="__PUBLIC__/css/normalize.css">
  <link rel="stylesheet" href="__PUBLIC__/css/main.css">
  <link rel="stylesheet" href="__PUBLIC__/css/index.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css" />
 
 
</head>

<body>
  
  <!-- header start -->
  {include file="common/header" /}
  <!-- header end -->



  <!-- center start -->
  <div class="container">
    <div class="row clearfix" id="i_zxgk">
      
      <div class="col-md-4 column">
        <ul>
          <li><h4>运行管理</h4></li>
          <li><a href="sbpz.html">设备配置</a></li>
          <li><a href="wlxx.html">网络与信息安全</a></li>
          <li><a href="zzbz.html">组织保障</a></li>
          <li><a href="zxzd.html">中心制度</a></li>
        </ul>
      </div>
      
      <div class="col-md-8 column">
        <div class="gps">
          当前位置:  &nbsp;&nbsp; <a href="{:url('index/index')}">首页</a> << <a href="{:url('yxgl/index')}">运行管理</a> << <a href="sbpz.html">设备配置</a>
        </div>
        
        <article>
          <h3>设备配置</h3>
          <div class="data">2014-07-01 05:02:00 </div>

          <div class="center">
            <p>在仪器设备配置情况方面，&ldquo;高端装备制造虚拟仿真实验教学中心&rdquo;的各平台已经具备开设各实验教学内容的基本条件。为了利用虚拟现实、多媒体、人机交互、数据库和网络通讯等技术形成完备的虚拟仿真的实验手段，经过多方面渠道筹集资金和加强建设中心已经初具规模。</p>

            <p><img class="picture" src="__PUBLIC__/img/3(1).1.jpg" style="float:right; height:212px; width:150px" />在硬件方面，比较有特色的有：与深圳市智能设备有限责任公司合作，将科研成果转化为教学手段，开发了多功能数字化数控培训机，可在一台培训机上模拟FANUC、SIEMENS、华中等数控系统的数控程序。中心现有数字化数控培训机31台，可进行车/铣数控编程、车/铣数控机床操作的教学，及CAD/CAM软件的应用教学、数控程序正确性检验和数控程序优化、刀具及切削用量选取等基础知识的学习。基于该培训机开发了实验教学课，并持续进行教学改革探索，该教改项目获得了肯定，在2005年获国家级教学成果二等奖，2013年获黑龙江省高等教育教学成果一等奖。</p>
            
            <figure>
              <figcaption>中心的主要仪器设备条件如表1所示</figcaption>
              <p style="text-align:center">表1中心主要的仪器设备列表</p>
            </figure>

            

            <table align="center" border="1" cellpadding="0" cellspacing="0" style="width:610px">
              <tbody>
                <tr>
                  <td style="height: 40px; text-align: center; width: 40px; background-color: rgb(102, 204, 0);">序号</td>
                  <td style="text-align: center; width: 40px; height: 40px; background-color: rgb(102, 204, 0);">仪器设备名称</td>
                  <td style="text-align: center; width: 40px; height: 40px; background-color: rgb(102, 204, 0);">台套数</td>
                  <td style="text-align: center; width: 40px; height: 40px; background-color: rgb(102, 204, 0);">单价<br />
                  （万元）</td>
                  <td style="text-align: center; width: 40px; height: 40px; background-color: rgb(102, 204, 0);">总价<br />
                  （万元）</td>
                  <td style="text-align: center; width: 40px; height: 40px; background-color: rgb(102, 204, 0);">生产厂家</td>
                  <td style="text-align: center; width: 40px; height: 40px; background-color: rgb(102, 204, 0);">所属平台/模块名称</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">1</td>
                  <td style="text-align:center; width:115px">数字化制造技术综合实验平台</td>
                  <td style="text-align:center; width:53px">31</td>
                  <td style="text-align:center; width:56px">1.7</td>
                  <td style="text-align:center; width:55px">52.7</td>
                  <td style="text-align:center; width:147px">深圳海特智能设备有限公司</td>
                  <td rowspan="7" style="text-align:center; width:91px"><strong style="color:red;">机械设计、制造数字化实验教学模块</strong></td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">2</td>
                  <td style="text-align:center; width:115px">XK4050数控铣床</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">16</td>
                  <td style="text-align:center; width:55px">16</td>
                  <td style="text-align:center; width:147px">齐齐哈尔机床二厂</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">3</td>
                  <td style="text-align:center; width:115px">DMG75V五轴加工中心</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">390</td>
                  <td style="text-align:center; width:55px">390</td>
                  <td style="text-align:center; width:147px">德国德玛吉公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">4</td>
                  <td style="text-align:center; width:115px">DMG超声辅助70-5五轴加工中心</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">500</td>
                  <td style="text-align:center; width:55px">500</td>
                  <td style="text-align:center; width:147px">德国德玛吉公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">5</td>
                  <td style="text-align:center; width:115px">便携式粗糙度仪</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">3.5</td>
                  <td style="text-align:center; width:55px">3.5</td>
                  <td style="text-align:center; width:147px">哈时代仪器有限公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">6</td>
                  <td style="text-align:center; width:115px">便携式硬度计</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">3</td>
                  <td style="text-align:center; width:55px">3</td>
                  <td style="text-align:center; width:147px">哈时代仪器有限公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">7</td>
                  <td style="text-align:center; width:115px">数字示波器</td>
                  <td style="text-align:center; width:53px">4</td>
                  <td style="text-align:center; width:56px">0.5</td>
                  <td style="text-align:center; width:55px">2</td>
                  <td style="text-align:center; width:147px">哈蕙源电子经销部</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">8</td>
                  <td style="text-align:center; width:115px">液压泵、液压控制阀性能实验台</td>
                  <td style="text-align:center; width:53px">4</td>
                  <td style="text-align:center; width:56px">3</td>
                  <td style="text-align:center; width:55px">12</td>
                  <td style="text-align:center; width:147px">哈尔滨工业大学（自制）</td>
                  <td rowspan="10" style="text-align:center; width:91px"><strong style="color:red;">流体控制元件和系统虚拟仿真实验教学模块</strong></td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">9</td>
                  <td style="text-align:center; width:115px">液压直线往复运动系统实验台</td>
                  <td style="text-align:center; width:53px">2</td>
                  <td style="text-align:center; width:56px">5</td>
                  <td style="text-align:center; width:55px">10</td>
                  <td style="text-align:center; width:147px">哈尔滨工业大学（自制）</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">10</td>
                  <td style="text-align:center; width:115px">液压控制系统实验台</td>
                  <td style="text-align:center; width:53px">2</td>
                  <td style="text-align:center; width:56px">3.48</td>
                  <td style="text-align:center; width:55px">6.96</td>
                  <td style="text-align:center; width:147px">哈尔滨工业大学（自制）</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">11</td>
                  <td style="text-align:center; width:115px">液压控制系统实验台</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">4.9</td>
                  <td style="text-align:center; width:55px">4.9</td>
                  <td style="text-align:center; width:147px">哈尔滨工业大学（自制）</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">12</td>
                  <td style="text-align:center; width:115px">液压元件实物模型</td>
                  <td style="text-align:center; width:53px">4</td>
                  <td style="text-align:center; width:56px">1</td>
                  <td style="text-align:center; width:55px">4</td>
                  <td style="text-align:center; width:147px">大连鼎宏科技有限公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">13</td>
                  <td style="text-align:center; width:115px">液压实验台架</td>
                  <td style="text-align:center; width:53px">2</td>
                  <td style="text-align:center; width:56px">2.5</td>
                  <td style="text-align:center; width:55px">5</td>
                  <td style="text-align:center; width:147px">上海博世力士乐</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">14</td>
                  <td style="text-align:center; width:115px">多功能实验台体</td>
                  <td style="text-align:center; width:53px">7</td>
                  <td style="text-align:center; width:56px">0.5</td>
                  <td style="text-align:center; width:55px">3.5</td>
                  <td style="text-align:center; width:147px">上海博世力士乐</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">15</td>
                  <td style="text-align:center; width:115px">气压元件培训实验台</td>
                  <td style="text-align:center; width:53px">3</td>
                  <td style="text-align:center; width:56px">9</td>
                  <td style="text-align:center; width:55px">27</td>
                  <td style="text-align:center; width:147px">哈尔滨工业大学（自制）</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">16</td>
                  <td style="text-align:center; width:115px">液动元件培训实验台</td>
                  <td style="text-align:center; width:53px">3</td>
                  <td style="text-align:center; width:56px">10</td>
                  <td style="text-align:center; width:55px">30</td>
                  <td style="text-align:center; width:147px">哈尔滨工业大学（自制）</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">17</td>
                  <td style="text-align:center; width:115px">全气动系统教学实验台</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">7.1</td>
                  <td style="text-align:center; width:55px">7.1</td>
                  <td style="text-align:center; width:147px">日本SMC</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">18</td>
                  <td style="text-align:center; width:115px">人体生理测量设备套装</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">3.3</td>
                  <td style="text-align:center; width:55px">3.3</td>
                  <td style="text-align:center; width:147px">深圳市元创兴科技有限公司</td>
                  <td rowspan="8" style="text-align:center; width:91px"><strong style="color:red;">&ldquo;未来工厂&rdquo;虚拟仿真实验教学模块</strong></td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">19</td>
                  <td style="text-align:center; width:115px">环境噪声测定与评价实验设备套装</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">3.2</td>
                  <td style="text-align:center; width:55px">3.2</td>
                  <td style="text-align:center; width:147px">深圳市元创兴科技有限公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">20</td>
                  <td style="text-align:center; width:115px">微气候环境测定实验设备套装</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">3.6</td>
                  <td style="text-align:center; width:55px">3.6</td>
                  <td style="text-align:center; width:147px">深圳市元创兴科技有限公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">21</td>
                  <td style="text-align:center; width:115px">人体测量实验设备套装</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">1.1</td>
                  <td style="text-align:center; width:55px">1.1</td>
                  <td style="text-align:center; width:147px">深圳市元创兴科技有限公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">22</td>
                  <td style="text-align:center; width:115px">环境照明与生产效率关系测定实验设备套装</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">2.8</td>
                  <td style="text-align:center; width:55px">2.8</td>
                  <td style="text-align:center; width:147px">深圳市元创兴科技有限公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">23</td>
                  <td style="text-align:center; width:115px">劳动强度测定实验设备套装</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">10.8</td>
                  <td style="text-align:center; width:55px">10.8</td>
                  <td style="text-align:center; width:147px">深圳市元创兴科技有限公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">24</td>
                  <td style="text-align:center; width:115px">物流控制系统</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">88.5</td>
                  <td style="text-align:center; width:55px">88.5</td>
                  <td style="text-align:center; width:147px">哈尔滨展达机器人有限公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">25</td>
                  <td style="text-align:center; width:115px">仓储系统</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">76.4</td>
                  <td style="text-align:center; width:55px">76.4</td>
                  <td style="text-align:center; width:147px">哈尔滨展达机器人有限公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">26</td>
                  <td style="text-align:center; width:115px">并行计算工作站HP Z800</td>
                  <td style="text-align:center; width:53px">2</td>
                  <td style="text-align:center; width:56px">9</td>
                  <td style="text-align:center; width:55px">18</td>
                  <td style="text-align:center; width:147px">惠普</td>
                  <td rowspan="4" style="text-align:center; width:91px"><strong style="color:red;">空间极特殊环境效应及空间机构虚拟仿真实验教学模块</strong></td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">27</td>
                  <td style="text-align:center; width:115px">干法激光粒度仪</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">21</td>
                  <td style="text-align:center; width:55px">21</td>
                  <td style="text-align:center; width:147px">济南润之科技有限公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">28</td>
                  <td style="text-align:center; width:115px">颗粒图像分析仪</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">6</td>
                  <td style="text-align:center; width:55px">6</td>
                  <td style="text-align:center; width:147px">济南润之科技有限公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">29</td>
                  <td style="text-align:center; width:115px">自动三轴仪TSZ-1</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">16</td>
                  <td style="text-align:center; width:55px">16</td>
                  <td style="text-align:center; width:147px">南京土壤仪器厂</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">30</td>
                  <td style="text-align:center; width:115px">两轴仿真转台</td>
                  <td style="text-align:center; width:53px">2</td>
                  <td style="text-align:center; width:56px">50</td>
                  <td style="text-align:center; width:55px">100</td>
                  <td style="text-align:center; width:147px">哈尔滨工业大学（自制）</td>
                  <td rowspan="17" style="text-align:center; width:91px"><strong style="color:red;">空间飞行器地面模拟装备虚拟测试及运动控制仿真实验教学模块</strong></td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">31</td>
                  <td style="text-align:center; width:115px">三轴仿真转台</td>
                  <td style="text-align:center; width:53px">2</td>
                  <td style="text-align:center; width:56px">75</td>
                  <td style="text-align:center; width:55px">150</td>
                  <td style="text-align:center; width:147px">哈尔滨工业大学（自制）</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">32</td>
                  <td style="text-align:center; width:115px">五轴仿真转台</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">150</td>
                  <td style="text-align:center; width:55px">150</td>
                  <td style="text-align:center; width:147px">哈尔滨工业大学（自制）</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">33</td>
                  <td style="text-align:center; width:115px">红外测温仪</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">0.3</td>
                  <td style="text-align:center; width:55px">0.3</td>
                  <td style="text-align:center; width:147px">哈蕙源电子经销部</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">34</td>
                  <td style="text-align:center; width:115px">扭矩传感器</td>
                  <td style="text-align:center; width:53px">2</td>
                  <td style="text-align:center; width:56px">1.4</td>
                  <td style="text-align:center; width:55px">2.8</td>
                  <td style="text-align:center; width:147px">北京三晶公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">35</td>
                  <td style="text-align:center; width:115px">微波频率计</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">1.6</td>
                  <td style="text-align:center; width:55px">1.6</td>
                  <td style="text-align:center; width:147px">哈华远电子经销部</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">36</td>
                  <td style="text-align:center; width:115px">频率计</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">1</td>
                  <td style="text-align:center; width:55px">1</td>
                  <td style="text-align:center; width:147px">哈杰特电子经销部</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">37</td>
                  <td style="text-align:center; width:115px">示波器</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">0.7</td>
                  <td style="text-align:center; width:55px">0.7</td>
                  <td style="text-align:center; width:147px">上海加惠仪器有限公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">38</td>
                  <td style="text-align:center; width:115px">数字示波器</td>
                  <td style="text-align:center; width:53px">3</td>
                  <td style="text-align:center; width:56px">1.1</td>
                  <td style="text-align:center; width:55px">3.3</td>
                  <td style="text-align:center; width:147px">泰科电子</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">39</td>
                  <td style="text-align:center; width:115px">集成电路测试仪</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">1.1</td>
                  <td style="text-align:center; width:55px">1.1</td>
                  <td style="text-align:center; width:147px">哈蕙源电子经销部</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">40</td>
                  <td style="text-align:center; width:115px">数字信号发生器</td>
                  <td style="text-align:center; width:53px">4</td>
                  <td style="text-align:center; width:56px">0.3</td>
                  <td style="text-align:center; width:55px">1.2</td>
                  <td style="text-align:center; width:147px">哈钧兴电子产品经销部</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">41</td>
                  <td style="text-align:center; width:115px">函数信号发生器</td>
                  <td style="text-align:center; width:53px">4</td>
                  <td style="text-align:center; width:56px">0.2</td>
                  <td style="text-align:center; width:55px">0.8</td>
                  <td style="text-align:center; width:147px">台湾固纬</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">42</td>
                  <td style="text-align:center; width:115px">数字功率计</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">12.8</td>
                  <td style="text-align:center; width:55px">1.28</td>
                  <td style="text-align:center; width:147px">哈青云仪器有限公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">43</td>
                  <td style="text-align:center; width:115px">声级计</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">1.8</td>
                  <td style="text-align:center; width:55px">1.8</td>
                  <td style="text-align:center; width:147px">哈时代仪器设备有限公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">44</td>
                  <td style="text-align:center; width:115px">光纤陀螺</td>
                  <td style="text-align:center; width:53px">3</td>
                  <td style="text-align:center; width:56px">2.2</td>
                  <td style="text-align:center; width:55px">6.6</td>
                  <td style="text-align:center; width:147px">北京星网科技有限公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">45</td>
                  <td style="text-align:center; width:115px">信号发生器</td>
                  <td style="text-align:center; width:53px">3</td>
                  <td style="text-align:center; width:56px">0.2</td>
                  <td style="text-align:center; width:55px">0.6</td>
                  <td style="text-align:center; width:147px">江西瑞特</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">46</td>
                  <td style="text-align:center; width:115px">数显测力仪</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">2.8</td>
                  <td style="text-align:center; width:55px">2.8</td>
                  <td style="text-align:center; width:147px">哈时代仪器设备有限公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">47</td>
                  <td style="text-align:center; width:115px">单节点8核分子动力学并行计算平台</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">7</td>
                  <td style="text-align:center; width:55px">7</td>
                  <td style="text-align:center; width:147px">中科曙光</td>
                  <td rowspan="5" style="text-align:center; width:91px"><strong style="color:red;">纳米加工虚拟仿真实验教学模块</strong></td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">48</td>
                  <td style="text-align:center; width:115px">4节点48核仿真计算平台</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">7</td>
                  <td style="text-align:center; width:55px">7</td>
                  <td style="text-align:center; width:147px">台达科技</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">49</td>
                  <td style="text-align:center; width:115px">4节点64核仿真计算平台</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">13</td>
                  <td style="text-align:center; width:55px">13</td>
                  <td style="text-align:center; width:147px">华硕电脑</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">50</td>
                  <td style="text-align:center; width:115px">图形工作站</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">2</td>
                  <td style="text-align:center; width:55px">2</td>
                  <td style="text-align:center; width:147px">戴尔电脑</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">51</td>
                  <td style="text-align:center; width:115px">图形工作站</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">1.5</td>
                  <td style="text-align:center; width:55px">1.5</td>
                  <td style="text-align:center; width:147px">哈尔滨工大电子</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">52</td>
                  <td style="text-align:center; width:115px">承压容器检查机械手臂及控制系统</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">78</td>
                  <td style="text-align:center; width:55px">78</td>
                  <td style="text-align:center; width:147px">哈尔滨工业大学（自制）</td>
                  <td rowspan="13" style="text-align:center; width:91px"><strong style="color:red;">机器人特殊环境作业虚拟仿真实验教学模块</strong></td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">53</td>
                  <td style="text-align:center; width:115px">承压容器模型</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">3.2</td>
                  <td style="text-align:center; width:55px">3.2</td>
                  <td style="text-align:center; width:147px">哈尔滨工业大学（自制）</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">54</td>
                  <td style="text-align:center; width:115px">视觉／力觉混合反馈控制微操作机器人系统</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">62.5</td>
                  <td style="text-align:center; width:55px">62.5</td>
                  <td style="text-align:center; width:147px">哈尔滨工业大学（自制）</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">55</td>
                  <td style="text-align:center; width:115px">六自由度机械臂及控制系统</td>
                  <td style="text-align:center; width:53px">2</td>
                  <td style="text-align:center; width:56px">40.5</td>
                  <td style="text-align:center; width:55px">80.5</td>
                  <td style="text-align:center; width:147px">哈尔滨工业大学（自制）</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">56</td>
                  <td style="text-align:center; width:115px">三自由度移动操作机械臂及控制系统</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">32.5</td>
                  <td style="text-align:center; width:55px">65</td>
                  <td style="text-align:center; width:147px">哈尔滨工业大学（自制）</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">57</td>
                  <td style="text-align:center; width:115px">微纳米机器人温湿度可控微环境</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">1.5</td>
                  <td style="text-align:center; width:55px">1.5</td>
                  <td style="text-align:center; width:147px">哈尔滨工业大学（自制）</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">58</td>
                  <td style="text-align:center; width:115px">微纳米机器人控制器dual-OC4</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">24.8</td>
                  <td style="text-align:center; width:55px">24.8</td>
                  <td style="text-align:center; width:147px">德国Specs公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">59</td>
                  <td style="text-align:center; width:115px">三自由度纳米定位系统</td>
                  <td style="text-align:center; width:53px">2</td>
                  <td style="text-align:center; width:56px">21.3</td>
                  <td style="text-align:center; width:55px">42.6</td>
                  <td style="text-align:center; width:147px">美国MadCity纳米公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">60</td>
                  <td style="text-align:center; width:115px">2M带宽锁相放大器</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">8.2</td>
                  <td style="text-align:center; width:55px">8.2</td>
                  <td style="text-align:center; width:147px">美国Stanford Instrument公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">61</td>
                  <td style="text-align:center; width:115px">三自由度omega3虚拟操作主手</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">13.5</td>
                  <td style="text-align:center; width:55px">13.5</td>
                  <td style="text-align:center; width:147px">美国Force Dimension公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">62</td>
                  <td style="text-align:center; width:115px">六自由度omega6虚拟操作主手</td>
                  <td style="text-align:center; width:53px">4</td>
                  <td style="text-align:center; width:56px">22.6</td>
                  <td style="text-align:center; width:55px">89.4</td>
                  <td style="text-align:center; width:147px">美国Force Dimension公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">63</td>
                  <td style="text-align:center; width:115px">工作站Precision Tower 7910</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">2.1</td>
                  <td style="text-align:center; width:55px">2.1</td>
                  <td style="text-align:center; width:147px">戴尔公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">64</td>
                  <td style="text-align:center; width:115px">工作站Precision Tower 5810</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">3.9</td>
                  <td style="text-align:center; width:55px">3.9</td>
                  <td style="text-align:center; width:147px">戴尔公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">65</td>
                  <td style="text-align:center; width:115px">慧鱼机电一体化创新实验组件</td>
                  <td style="text-align:center; width:53px">6</td>
                  <td style="text-align:center; width:56px">5</td>
                  <td style="text-align:center; width:55px">30</td>
                  <td style="text-align:center; width:147px">北京中教仪科技有限公司</td>
                  <td rowspan="38" style="text-align:center; width:91px"><strong style="color:red;">大学生机械创新与创业虚拟仿真实验教学平台</strong></td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">66</td>
                  <td style="text-align:center; width:115px">气动技术组合包</td>
                  <td style="text-align:center; width:53px">12</td>
                  <td style="text-align:center; width:56px">0.3</td>
                  <td style="text-align:center; width:55px">3.6</td>
                  <td style="text-align:center; width:147px">北京中教仪科技有限公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">67</td>
                  <td style="text-align:center; width:115px">工业机器人</td>
                  <td style="text-align:center; width:53px">6</td>
                  <td style="text-align:center; width:56px">0.5</td>
                  <td style="text-align:center; width:55px">3</td>
                  <td style="text-align:center; width:147px">北京中教仪科技有限公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">68</td>
                  <td style="text-align:center; width:115px">工业相机</td>
                  <td style="text-align:center; width:53px">3</td>
                  <td style="text-align:center; width:56px">0.3</td>
                  <td style="text-align:center; width:55px">0.9</td>
                  <td style="text-align:center; width:147px">佳能</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">69</td>
                  <td style="text-align:center; width:115px">微型车床</td>
                  <td style="text-align:center; width:53px">2</td>
                  <td style="text-align:center; width:56px">1.6</td>
                  <td style="text-align:center; width:55px">3.2</td>
                  <td style="text-align:center; width:147px">北京金凯旋器材有限公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">70</td>
                  <td style="text-align:center; width:115px">钳工台案</td>
                  <td style="text-align:center; width:53px">2</td>
                  <td style="text-align:center; width:56px">2.4</td>
                  <td style="text-align:center; width:55px">4.8</td>
                  <td style="text-align:center; width:147px">哈天成电子</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">71</td>
                  <td style="text-align:center; width:115px">台湾宝工工具套装</td>
                  <td style="text-align:center; width:53px">6</td>
                  <td style="text-align:center; width:56px">0.3</td>
                  <td style="text-align:center; width:55px">1.8</td>
                  <td style="text-align:center; width:147px">哈拓普泰克仪器设备有限公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">72</td>
                  <td style="text-align:center; width:115px">博世电子工具套装</td>
                  <td style="text-align:center; width:53px">2</td>
                  <td style="text-align:center; width:56px">4.4</td>
                  <td style="text-align:center; width:55px">8.8</td>
                  <td style="text-align:center; width:147px">电子新前锋电子有限公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">73</td>
                  <td style="text-align:center; width:115px">微型精密车床</td>
                  <td style="text-align:center; width:53px">2</td>
                  <td style="text-align:center; width:56px">3.7</td>
                  <td style="text-align:center; width:55px">7.4</td>
                  <td style="text-align:center; width:147px">德国PROXXON</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">74</td>
                  <td style="text-align:center; width:115px">西马特铣床</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">4.8</td>
                  <td style="text-align:center; width:55px">4.8</td>
                  <td style="text-align:center; width:147px">上海西马特</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">75</td>
                  <td style="text-align:center; width:115px">西马特多功能机床</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">0.9</td>
                  <td style="text-align:center; width:55px">0.9</td>
                  <td style="text-align:center; width:147px">上海西马特</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">76</td>
                  <td style="text-align:center; width:115px">矽玛特立式铣床</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">1.4</td>
                  <td style="text-align:center; width:55px">1.4</td>
                  <td style="text-align:center; width:147px">上海矽玛特</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">77</td>
                  <td style="text-align:center; width:115px">西马特车床</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">1.3</td>
                  <td style="text-align:center; width:55px">1.3</td>
                  <td style="text-align:center; width:147px">上海西马特</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">78</td>
                  <td style="text-align:center; width:115px">西马特车床</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">1</td>
                  <td style="text-align:center; width:55px">1</td>
                  <td style="text-align:center; width:147px">上海西马特</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">79</td>
                  <td style="text-align:center; width:115px">矽玛特立式铣床</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">1.7</td>
                  <td style="text-align:center; width:55px">1.7</td>
                  <td style="text-align:center; width:147px">上海矽玛特</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">80</td>
                  <td style="text-align:center; width:115px">钻铣床</td>
                  <td style="text-align:center; width:53px">2</td>
                  <td style="text-align:center; width:56px">1</td>
                  <td style="text-align:center; width:55px">2</td>
                  <td style="text-align:center; width:147px">浙江西菱台钻制造有限公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">81</td>
                  <td style="text-align:center; width:115px">微型精密铣床</td>
                  <td style="text-align:center; width:53px">2</td>
                  <td style="text-align:center; width:56px">3.8</td>
                  <td style="text-align:center; width:55px">7.6</td>
                  <td style="text-align:center; width:147px">德国PRDXXON</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">82</td>
                  <td style="text-align:center; width:115px">电动精密转盘切割机</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">0.3</td>
                  <td style="text-align:center; width:55px">0.3</td>
                  <td style="text-align:center; width:147px">达美机械公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">83</td>
                  <td style="text-align:center; width:115px">万能磨刀机</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">0.2</td>
                  <td style="text-align:center; width:55px">0.2</td>
                  <td style="text-align:center; width:147px">昆明雕刻机厂</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">84</td>
                  <td style="text-align:center; width:115px">交直流氩弧焊机</td>
                  <td style="text-align:center; width:53px">2</td>
                  <td style="text-align:center; width:56px">1.9</td>
                  <td style="text-align:center; width:55px">3.8</td>
                  <td style="text-align:center; width:147px">哈时代仪器有限公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">85</td>
                  <td style="text-align:center; width:115px">非金属激光切割机</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">4.3</td>
                  <td style="text-align:center; width:55px">4.3</td>
                  <td style="text-align:center; width:147px">济南金强激光数控设备有限公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">86</td>
                  <td style="text-align:center; width:115px">静音空压机</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">0.5</td>
                  <td style="text-align:center; width:55px">0.5</td>
                  <td style="text-align:center; width:147px">温州银仕道明管业有限公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">87</td>
                  <td style="text-align:center; width:115px">电磁制动器</td>
                  <td style="text-align:center; width:53px">2</td>
                  <td style="text-align:center; width:56px">1.8</td>
                  <td style="text-align:center; width:55px">3.6</td>
                  <td style="text-align:center; width:147px">东莞市博信机电设备有限公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">88</td>
                  <td style="text-align:center; width:115px">金属激光切削机</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">28</td>
                  <td style="text-align:center; width:55px">28</td>
                  <td style="text-align:center; width:147px">济南金强数控设备有限公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">89</td>
                  <td style="text-align:center; width:115px">模具雕刻机</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">18</td>
                  <td style="text-align:center; width:55px">18</td>
                  <td style="text-align:center; width:147px">济南金强激光数控设备有限公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">90</td>
                  <td style="text-align:center; width:115px">电路板雕刻机</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">29.8</td>
                  <td style="text-align:center; width:55px">29.8</td>
                  <td style="text-align:center; width:147px">天津乐普科光电有限公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">91</td>
                  <td style="text-align:center; width:115px">DSP开发系统</td>
                  <td style="text-align:center; width:53px">3</td>
                  <td style="text-align:center; width:56px">0.5</td>
                  <td style="text-align:center; width:55px">1.5</td>
                  <td style="text-align:center; width:147px">杭州博特</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">92</td>
                  <td style="text-align:center; width:115px">AVR单片机开发板</td>
                  <td style="text-align:center; width:53px">4</td>
                  <td style="text-align:center; width:56px">0.1</td>
                  <td style="text-align:center; width:55px">0.4</td>
                  <td style="text-align:center; width:147px">天安电子</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">93</td>
                  <td style="text-align:center; width:115px">AVR高级开发套件</td>
                  <td style="text-align:center; width:53px">4</td>
                  <td style="text-align:center; width:56px">0.4</td>
                  <td style="text-align:center; width:55px">1.6</td>
                  <td style="text-align:center; width:147px">天安电子</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">94</td>
                  <td style="text-align:center; width:115px">单片机仿真编程器</td>
                  <td style="text-align:center; width:53px">4</td>
                  <td style="text-align:center; width:56px">0.2</td>
                  <td style="text-align:center; width:55px">0.8</td>
                  <td style="text-align:center; width:147px">广州致远</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">95</td>
                  <td style="text-align:center; width:115px">ARM开发系统</td>
                  <td style="text-align:center; width:53px">3</td>
                  <td style="text-align:center; width:56px">0.4</td>
                  <td style="text-align:center; width:55px">1.2</td>
                  <td style="text-align:center; width:147px">哈杰特电子经销部</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">96</td>
                  <td style="text-align:center; width:115px">DSP仿真器</td>
                  <td style="text-align:center; width:53px">3</td>
                  <td style="text-align:center; width:56px">0.3</td>
                  <td style="text-align:center; width:55px">0.9</td>
                  <td style="text-align:center; width:147px">哈蕙源电子经销部</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">97</td>
                  <td style="text-align:center; width:115px">STAR51L仿真器</td>
                  <td style="text-align:center; width:53px">10</td>
                  <td style="text-align:center; width:56px">0.5</td>
                  <td style="text-align:center; width:55px">5</td>
                  <td style="text-align:center; width:147px">哈天成电子经销部</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">98</td>
                  <td style="text-align:center; width:115px">PICM4TE204仿真器</td>
                  <td style="text-align:center; width:53px">5</td>
                  <td style="text-align:center; width:56px">0.6</td>
                  <td style="text-align:center; width:55px">3</td>
                  <td style="text-align:center; width:147px">哈杰特电子经销部</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">99</td>
                  <td style="text-align:center; width:115px">速度编码器</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">0.2</td>
                  <td style="text-align:center; width:55px">0.2</td>
                  <td style="text-align:center; width:147px">多摩川</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">100</td>
                  <td style="text-align:center; width:115px">创新与实践课程平台</td>
                  <td style="text-align:center; width:53px">20</td>
                  <td style="text-align:center; width:56px">2</td>
                  <td style="text-align:center; width:55px">40</td>
                  <td style="text-align:center; width:147px">上海未来伙伴机器人公司</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">101</td>
                  <td style="text-align:center; width:115px">UBG激光雷达</td>
                  <td style="text-align:center; width:53px">3</td>
                  <td style="text-align:center; width:56px">1.5</td>
                  <td style="text-align:center; width:55px">4.5</td>
                  <td style="text-align:center; width:147px">日本HOKUYO</td>
                </tr>
                <tr>
                  <td style="height:40px; text-align:center; width:40px">102</td>
                  <td style="text-align:center; width:115px">UTM激光雷达</td>
                  <td style="text-align:center; width:53px">1</td>
                  <td style="text-align:center; width:56px">4</td>
                  <td style="text-align:center; width:55px">4</td>
                  <td style="text-align:center; width:147px">日本HOKUYO</td>
                </tr>
              </tbody>
            </table>

            <p>在软件方面，中心拥有各类商业专用虚拟仿真软件共计32套。除此之外，中心还注重自行开发适应于实验教学的虚拟仿真软件系统。例如，开发了Virtual Machining 2.1用于金属切削过程的虚拟仿真实验，开发了承压容器检查机械手三维控制系统离线仿真软件CROS3.0用于核反应堆承压容器检测仿真操作实验以及开发了虚拟微装配仿真软件VMA2.0用于虚拟微装配仿真操作实验。</p>

            </p>
            <img alt="140x140" src="__PUBLIC__/img/3(1).2.jpg" />
            <p>

            <p>&nbsp;</p>


          </div>
          

        </article>
      </div>
    </div>
  </div>
  <!-- center end -->

  <!-- footer start -->
  {include file="common/foot" /}
  <!-- footer end -->
 
  <script src="__PUBLIC__/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="__PUBLIC__/js/plugins.js"></script>
  <script src="__PUBLIC__/js/main.js"></script>
  <script src="__PUBLIC__/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/move-top.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/easing.js"></script>

  
  <script type="text/javascript">
    $(document).ready(function() {
    
      var defaults = {
          containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
      };
      
      
      $().UItoTop({ easingType: 'easeOutQuart' });
      
    });
  </script>
  <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>

</html>

