<!doctype html>
<html class="no-js" lang="">

<head> 
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>网络与信息安全</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="icon" href="__PUBLIC__/img/favicon.ico">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="__PUBLIC__/css/normalize.css">
  <link rel="stylesheet" href="__PUBLIC__/css/main.css">
  <link rel="stylesheet" href="__PUBLIC__/css/index.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css" />
 
 
</head>

<body>
  
  <!-- header start -->
  {include file="common/header" /}
  <!-- header end -->



  <!-- center start -->
  <div class="container">
    <div class="row clearfix" id="i_zxgk">
      
      <div class="col-md-4 column">
        <ul>
          <li><h4>运行管理</h4></li>
          <li><a href="sbpz.html">设备配置</a></li>
          <li><a href="wlxx.html">网络与信息安全</a></li>
          <li><a href="zzbz.html">组织保障</a></li>
          <li><a href="zxzd.html">中心制度</a></li>
        </ul>
      </div>
      
      <div class="col-md-8 column">
        <div class="gps">
          当前位置:  &nbsp;&nbsp; <a href="{:url('index/index')}">首页</a> << <a href="{:url('yxgl/index')}">运行管理</a> << <a href="wlxx.html">网络与信息安全</a>
        </div>
        
        <article>
          <h3>网络与信息安全</h3>
          <div class="data">2014-07-01 06:08:00 </div>

          <div class="center">
            <p>高端装备制造虚拟仿真中心开放式网络平台依托于哈尔滨工业大学信息网络中心。哈尔滨工业大学信息网络中心成立于1998年，设立网络中心和信息中心两个部门，是哈工大为加大信息化建设力度、全面建设数字化校园而设立的必要的组织机构，同时独立地负责学校校园网硬件平台建设以及教育网黑龙江主节点的建设工作。2002年，校园网三期改造完成，光纤覆盖100%的校区办公楼宇，千兆以太网架构，千兆带宽到楼宇。2004年12月25日CERNET2正式开通，哈工大成为CERNET2的核心节点。2005年秋季随着科学园一期、二期楼宇网络的开通，校园网已经覆盖学校三大校区。当前校园网的网络设备主要是2001～2002年三期网络建设的Cisco设备，同时也不断添加了一些新设备。核心是二台FORCE10的E600交换机，连接校园内I区图书馆、II区图书馆、主楼、逸夫楼、科学园、公寓网等主干节点和服务器群的Cisco C6509交换机，同时作为网络中心主干节点交换机，连接网络中心区域楼宇；出口路由器是Cisco 7513，采用千兆Cisco PIX防火墙；当前办公区域入网计算机累积数量15,000多台，学生入网的计算机数量已经达到3000多台。当前，CERNET省际光纤已经进入网络机房，同时哈尔滨网通公司、哈尔滨北方电信公司的光纤也已经进入网络机房。网络中心负责校园网的规划与建设、工程实施、系统运行与安全管理、设备与用户管理、线路与设备维护和自行开发研制所需的应用软件及信息发布等工作，并承担CERNET黑龙江地区中心的建设与技术支持、运行和管理工作。哈尔滨工业大学网络与信息中心共有两套FC-SAN存储设备，可用总容量150TB。目前为虚拟仿真中心开放式网络平台、电子邮件系统、图书馆电子图书资源、MIS数据库、SAM数据库以及虚拟化云数据中心平台等提供存储资源服务。</p>

            <p>虚拟仿真中心开放式网络平台是基于J2EE架构的B/S结构系统的解决方案，系统用户角色包括学生、教师、教务员、实验室管理员、校领导、系统管理员等角色。系统依托校园网络，以虚拟实验技术和网络信息技术增强实验实践教学。</p>

            <p>在网络管理与安全方面，中心开放式网络平台依靠哈尔滨工业大学信息网络中心，主要体现在网络防病毒、信息过滤和信息入侵检测三个方面。</p>

            <p>（1）网络病毒防护采用企业级卡巴斯基防病毒解决方案。统一空间安全能够为中心提供全面的安全保护以抵御各种类型的网络攻击。入站和出站数据进行全面的监控（包括电子邮件，网页传输和网络交互）。病毒防护包含能够为工作站和移动通讯设备提供保护的组件，保障用户可以安全迅速地访问公司信息资源和互联网。</p>

            <p>（2）信息过滤采用任子行Surfilter方案。该方案能对上网应用、行为和内容的精准识别，从事前防范、事后审计两方面帮助组织抵御可能遭遇的网络违法风险，并在风险发生后将损失降到最低。该方案支持多种部署方式以满足组织对网络环境的要求。</p>

            <p>（3）信息入侵检测采用铱迅Web应用防护系统。该系统可以解决目前所面临的网站安全问题，如：注入攻击、跨站攻击、脚本木马、缓冲区溢出、信息泄露、应用层DoS/DDoS攻击等常见及最新的安全问题。提供一种主动的、实时的防护，其设计旨在对常规网络流量中的恶意数据包进行检测，阻止入侵活动，预先对攻击性的流量进行自动拦截，使它们无法造成损失，而不是简单地在监测到恶意流量的同时或之后发出警报。入侵防御系统是通过直接串联到网络链路中而实现这一功能的，即入侵防御系统接收到外部数据流量时，如果检测到攻击企图，就会自动地将攻击包丢掉或采取措施将攻击源阻断，而不把攻击流量放进内部网络。</p>

            <p>中心网站在网络具有网络防病毒、信息过滤和入侵检测功能，实现网络的安全运行、管理和维护。</p>

          </div>
          

        </article>
      </div>
    </div>
  </div>
  <!-- center end -->

  <!-- footer start -->
  {include file="common/foot" /}
  <!-- footer end -->
 
  <script src="__PUBLIC__/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="__PUBLIC__/js/plugins.js"></script>
  <script src="__PUBLIC__/js/main.js"></script>
  <script src="__PUBLIC__/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/move-top.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/easing.js"></script>

  
  <script type="text/javascript">
    $(document).ready(function() {
    
      var defaults = {
          containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
      };
      
      
      $().UItoTop({ easingType: 'easeOutQuart' });
      
    });
  </script>
  <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>

</html>

