<!doctype html>
<html class="no-js" lang="">

<head> 
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>高端装备制造虚拟仿真实验教学中心安全制度</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="icon" href="__PUBLIC__/img/favicon.ico">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="__PUBLIC__/css/normalize.css">
  <link rel="stylesheet" href="__PUBLIC__/css/main.css">
  <link rel="stylesheet" href="__PUBLIC__/css/index.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css" />
 
 
</head>

<body>
  
  <!-- header start -->
  {include file="common/header" /}
  <!-- header end -->



  <!-- center start -->
  <div class="container">
    <div class="row clearfix" id="i_zxgk">
      
      <div class="col-md-4 column">
        <ul>
          <li><h4>运行管理</h4></li>
          <li><a href="sbpz.html">设备配置</a></li>
          <li><a href="wlxx.html">网络与信息安全</a></li>
          <li><a href="zzbz.html">组织保障</a></li>
          <li><a href="zxzd.html">中心制度</a></li>
        </ul>
      </div>
      
      <div class="col-md-8 column">
        <div class="gps">
          当前位置:  &nbsp;&nbsp; <a href="{:url('index/index')}">首页</a> << <a href="{:url('yxgl/index')}">运行管理</a>
        </div>
        
        <article>
          <h3>运行管理</h3>
          <div class="data">2014-07-01 05:44:00 </div>

          <div class="center">
            <p><p>一、中心设立安全领导小组，负责中心的安全防火工作，设立安全员负责日常的安全检查，成立防火组织，落实到人。</p>

            <p>二、各房间设立安全负责人，负责本室安全工作。班前班后认真检查门、窗、水、电，对发现的不安全因素要及时处理。</p>

            <p>三、中心的钥匙不得出借他人，一旦丢失要及时向领导汇报，以便采取措施，防止意外事故的发生。</p>

            <p>四、中心内一律不准吸烟。要经常检查室内电源设备，各种电气设备使用完毕一定要断开电源。下班后要断开室内总电源。机电设备运行中，禁止在各种旋转部位处站人。</p>

            <p>五、严禁在易燃、易爆等危险品附近做实验和使用明火，如电炉、酒精灯等。</p>

            <p>六、对危险品、剧毒品、放射性物品要指定专人管理。危险物品的领用必须专人审批，限量发放。对剧毒物品的使用过程应予严格控制和监督，对其领、用、剩、废、耗的数量必须详细记录，用剩数量及时退库。危险品的空容器、变质料、废液渣滓应予妥善处理，严禁随意抛弃。</p>

            <p>七、使用各种仪器设备都要严格遵守操作规程。用电注意安全，不得违章用电。</p>

            <p>八、要根据中心的性质及所使用设备的特点，配备必要的消防器材和报警设备。中心工作人员均应学会正确使用所配的安全器材。安全器材必须定期检查或更换，任何人不得随意搬动、拆改。</p>

            <p>九、中心一旦发生事故，需保护好现场，采取有效措施，并及时报告有关部门。</p>

            <p>&nbsp;&nbsp;&nbsp;</p>

            <p style="text-align:right">&nbsp;</p>

            <p style="text-align:right">高端装备制造虚拟仿真实验教学中心</p>

            <p style="text-align:right">&nbsp;</p>

            <p style="text-align:right">二〇一四年六月修订&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            </p>

          </div>
          

        </article>
      </div>
    </div>
  </div>
  <!-- center end -->

  <!-- footer start -->
  {include file="common/foot" /}
  <!-- footer end -->
 
  <script src="__PUBLIC__/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="__PUBLIC__/js/plugins.js"></script>
  <script src="__PUBLIC__/js/main.js"></script>
  <script src="__PUBLIC__/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/move-top.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/easing.js"></script>

  
  <script type="text/javascript">
    $(document).ready(function() {
    
      var defaults = {
          containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
      };
      
      
      $().UItoTop({ easingType: 'easeOutQuart' });
      
    });
  </script>
  <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>

</html>

