<!doctype html>
<html class="no-js" lang="">

<head> 
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>高端装备制造虚拟仿真实验教学中心工作人员岗位职责</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="icon" href="__PUBLIC__/img/favicon.ico">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="__PUBLIC__/css/normalize.css">
  <link rel="stylesheet" href="__PUBLIC__/css/main.css">
  <link rel="stylesheet" href="__PUBLIC__/css/index.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css" />
 
 
</head>

<body>
  
  <!-- header start -->
  {include file="common/header" /}
  <!-- header end -->



  <!-- center start -->
  <div class="container">
    <div class="row clearfix" id="i_zxgk">
      
      <div class="col-md-4 column">
        <ul>
          <li><h4>运行管理</h4></li>
          <li><a href="sbpz.html">设备配置</a></li>
          <li><a href="wlxx.html">网络与信息安全</a></li>
          <li><a href="zzbz.html">组织保障</a></li>
          <li><a href="zxzd.html">中心制度</a></li>
        </ul>
      </div>
      
      <div class="col-md-8 column">
        <div class="gps">
          当前位置:  &nbsp;&nbsp; <a href="{:url('index/index')}">首页</a> << <a href="{:url('yxgl/index')}">运行管理</a>
        </div>
        
        <article>
          <h3>高端装备制造虚拟仿真实验教学中心工作人员岗位职责</h3>
          <div class="data">2014-07-22 06:12:00 <span>&emsp;(点击：832) </span> </div>

          <div class="center">
            <p><p><strong>一、中心主任岗位职责</strong></p>

            <p>1．负责编制中心建设长远规划和近期计划，并组织实施和检查执行情况。</p>

            <p>2．领导并组织完成中心各项工作。</p>

            <p>①作为中心的第一负责人对中心的国有资产管理和安全工作负责；</p>

            <p>②根据学校教学计划承担实验教学任务。中心要完善实验指导书、实验教材等教学资料，安排实验指导人员，保证完成实验教学任务；</p>

            <p>③努力提高实验教学质量。中心应当吸收教学的新成果，更新中心内容，改革教学方法，通过实验培养学生理论联系实际的学风，严谨的科学态度和分析问题、解决问题的能力。</p>

            <p>④根据承担的任务，积极开放实验工作。努力提高实验技术，完善技术条件和工作环境，以保障高效率、高水平地完成科学实验任务；</p>

            <p>⑤中心在保证完成教学任务的前提下，积极开展社会服务和技术开发，开展学术、技术交流活动；</p>

            <p>⑥完成仪器设备的管理、维修、计量及标定工作，使仪器设备经常处于完好状态。开展实验装置的研究和自制工作；</p>

            <p>⑦严格执行中心工作的各项规范，加强对工作人员的培训和管理。</p>

            <p>3．搞好中心的科学管理，贯彻、实施有关规章制度。</p>

            <p>4．领导中心各类人员的工作，制定岗位责任制，负责对中心专职中心工作人员的培训及考核工作。</p>

            <p>5．负责中心精神文明建设，抓好工作人员和学生思想政治教育。</p>

            <p>6．定期检查、总结中心工作，开展评比活动等。</p>

            <p><strong>二、实验教师岗位职责</strong></p>

            <p>1．按教学计划编写实验讲义，开展教学研究，改革实验方法，更新实验内容。</p>

            <p>2．认真备课，做好课前的准备和课上的指导答疑，批改实验报告，保证教学质量。</p>

            <p>3．参加中心建设与管理工作，做到&ldquo;三育人&rdquo;。</p>

            <p>4．初次上岗的实验教师要试讲、试做。</p>

            <p><strong>三、实验技术人员的岗位职责</strong></p>

            <p>1．遵守和贯彻学校制定的中心建设与管理各项规章制度，努力完成中心主任分配的各项工作。</p>

            <p>2．掌握中心的各项实验的原理和实验技术，熟练地掌握各种仪器设备的工作原理与操作使用，对部分仪器设备能进行故障诊断和维修。</p>

            <p>3．根据中心主任和实验课教师的要求，做好实验的准备工作及辅助工作，能编写部分实验教学指导书，完成实验任务。</p>

            <p>4．参加实验技术研究与试验工作，完成较高水平的实验报告或论文。</p>

            <p>5．做好中心的仪器设备及图书资料的管理工作，拟订有关管理制度和运行程序，并付诸实施。</p>

            <p>6．保证中心安全和环境保护，创造洁净、安全的工作环境，保障人身安全和设备安全，提高工作效率，使中心工作顺利进行。</p>

            <p>&nbsp;</p>

            <p>&nbsp;</p>

            <p style="text-align:right">高端装备制造虚拟仿真实验教学中心</p>

            <p style="text-align:right">&nbsp;</p>

            <p style="text-align:right">二〇一四年六月修订&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            </p>


          </div>
          

        </article>
      </div>
    </div>
  </div>
  <!-- center end -->

  <!-- footer start -->
  {include file="common/foot" /}
  <!-- footer end -->
 
  <script src="__PUBLIC__/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="__PUBLIC__/js/plugins.js"></script>
  <script src="__PUBLIC__/js/main.js"></script>
  <script src="__PUBLIC__/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/move-top.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/easing.js"></script>

  
  <script type="text/javascript">
    $(document).ready(function() {
    
      var defaults = {
          containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
      };
      
      
      $().UItoTop({ easingType: 'easeOutQuart' });
      
    });
  </script>
  <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>

</html>

