<!doctype html>
<html class="no-js" lang="">

<head> 
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>高端装备制造虚拟仿真实验教学中心工作人员培训管理办法</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="icon" href="__PUBLIC__/img/favicon.ico">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="__PUBLIC__/css/normalize.css">
  <link rel="stylesheet" href="__PUBLIC__/css/main.css">
  <link rel="stylesheet" href="__PUBLIC__/css/index.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css" />
 
 
</head>

<body>
  
  <!-- header start -->
  {include file="common/header" /}
  <!-- header end -->



  <!-- center start -->
  <div class="container">
    <div class="row clearfix" id="i_zxgk">
      
      <div class="col-md-4 column">
        <ul>
          <li><h4>运行管理</h4></li>
          <li><a href="sbpz.html">设备配置</a></li>
          <li><a href="wlxx.html">网络与信息安全</a></li>
          <li><a href="zzbz.html">组织保障</a></li>
          <li><a href="zxzd.html">中心制度</a></li>
        </ul>
      </div>
      
      <div class="col-md-8 column">
        <div class="gps">
          当前位置:  &nbsp;&nbsp; <a href="{:url('index/index')}">首页</a> << <a href="{:url('yxgl/index')}">运行管理</a>
        </div>
        
        <article>
          <h3>高端装备制造虚拟仿真实验教学中心工作人员培训管理办法</h3>
          <div class="data">2014-07-22 06:22:00 <span>&emsp;(点击：823) </span></div>

          <div class="center">
            <p><p>&nbsp;加强中心人员的培训是中心建设中的一项极其重要的任务。随着科学技术的发展和先进设备的不断引进，每个实验人员都有学习新知识，掌握新的测试手段的再提高任务。为了适应我校当前的教学需要和长远利益，有目标、有计划、有步骤地对中心工作人员进行培训提高，特制定本办法。</p>

            <p><strong>一、培训目标及培训原则</strong></p>

            <p>在较短的时间内使大多数中心工作人员提高业务能力和管理能力，成为中心建设、管理的骨干力量，更好地为教学服务。</p>

            <p>1．中心工作人员应能履行《高等学校实验技术人员职务聘任试行条例》职责。</p>

            <p>2．中心工作人员对仪器设备、材料的种类有一般性的了解和维护、保管知识，应知应会，完成岗位职责。</p>

            <p>3．中心工作人员必须坚持又红又专的方向，努力做好本职工作，坚持以在职进修为主的原则，边工作边学习，正确处理好进修与工作的关系。通过实验教学、科研、管理实践的基本手段，在实验活动中得到锻炼和提高。</p>

            <p><strong>二、培训措施</strong></p>

            <p>学校鼓励实验技术人员以自学为主,在搞好本职工作的前提下，利用业余时间扩充专业知识和提高业务技能。学校也奖统筹安排实验技术人员的学习培训工作，具体分为以下几类：</p>

            <p>1．综合素质培训</p>

            <p>包括计算机培训、外语培训、普通话培训等，按学校有关规定执行；</p>

            <p>2．业务培训</p>

            <p>业务培训包括岗前培训、跟班学习、岗位培训、学历教育等。</p>

            <p>（1）岗前培训</p>

            <p>凡新上岗中心工作人员，必须认真学习中心的管理制度、实验教学的有关规定；学习并掌握本中心的实验教学大纲、实验教学计划、实验教材的内容；学习并熟练掌握实验仪器设备的操作技能。</p>

            <p>（2）跟班听课</p>

            <p>实验技术人员必须定期跟班学习与本专业有关的课程，并参加考试，其考试成绩作为年度考核的一项依据。</p>

            <p>（3）岗前培训（短期培训班）</p>

            <p>学院（系）根据实验教学发展的需要，定期选送部分实验技术人员进行短期岗位培训。</p>

            <p>3．新实验人员进中心工作，中心主任应安排一名资深实验人员帮助其熟悉业务和有关规定制度，新实验人员应主动向资深实验人员学习。对本学年首次开的实验，对首次上岗指导实验的教师，必须试作，试讲后，方可指导学生。</p>

            <p>4．每学年末，中心主任对本中心工作人员的政治表现、任务完成情况（质量和数量）写出评语，连同进修成绩等存档作为业务考核，晋升依据之一。</p>

            <p>&nbsp;</p>

            <p style="text-align:right">高端装备制造虚拟仿真实验教学中心</p>

            <p style="text-align:right">&nbsp;</p>

            <p style="text-align:right">二〇一四年六月修订&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            </p>


          </div>
          

        </article>
      </div>
    </div>
  </div>
  <!-- center end -->

  <!-- footer start -->
  {include file="common/foot" /}
  <!-- footer end -->
 
  <script src="__PUBLIC__/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="__PUBLIC__/js/plugins.js"></script>
  <script src="__PUBLIC__/js/main.js"></script>
  <script src="__PUBLIC__/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/move-top.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/easing.js"></script>

  
  <script type="text/javascript">
    $(document).ready(function() {
    
      var defaults = {
          containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
      };
      
      
      $().UItoTop({ easingType: 'easeOutQuart' });
      
    });
  </script>
  <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>

</html>

