<!doctype html>
<html class="no-js" lang="">

<head> 
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>高端装备制造虚拟仿真实验教学中心仪器设备运行管理办法</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="icon" href="__PUBLIC__/img/favicon.ico">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="__PUBLIC__/css/normalize.css">
  <link rel="stylesheet" href="__PUBLIC__/css/main.css">
  <link rel="stylesheet" href="__PUBLIC__/css/index.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css" />
 
 
</head>

<body>
  
  <!-- header start -->
  {include file="common/header" /}
  <!-- header end -->



  <!-- center start -->
  <div class="container">
    <div class="row clearfix" id="i_zxgk">
      
      <div class="col-md-4 column">
        <ul>
          <li><h4>运行管理</h4></li>
          <li><a href="sbpz.html">设备配置</a></li>
          <li><a href="wlxx.html">网络与信息安全</a></li>
          <li><a href="zzbz.html">组织保障</a></li>
          <li><a href="zxzd.html">中心制度</a></li>
        </ul>
      </div>
      
      <div class="col-md-8 column">
        <div class="gps">
          当前位置:  &nbsp;&nbsp; <a href="{:url('index/index')}">首页</a> << <a href="{:url('yxgl/index')}">运行管理</a>
        </div>
        
        <article>
          <h3>高端装备制造虚拟仿真实验教学中心仪器设备运行管理办法</h3>
          <div class="data">2014-07-22 06:27:00 <span>&emsp;(点击：825) </span></div>

          <div class="center">
            <p><p>高校教学中心的仪器设备是办学的重要物质基础，是评估高校办学条件的重要指标之一。为了充分发挥仪器设备的效益，保证教学等工作需要，根据教育部《高等学校仪器设备管理办法》，结合我中心实际情况，特制定本办法。</p>

            <p>第一条&nbsp; 中心仪器设备运行管理工作的主要任务是实施对仪器设备的使用、维护、调拨、对外服务等的方面管理，以充分发挥仪器设备的效用，提高其利用率、完好率，保证教学等工作的顺利进行。</p>

            <p>第二条&nbsp; 仪器设备运行管理体制及职责</p>

            <p>1．按照&ldquo;统一领导，归口分级管理和管用结合&rdquo;的原则，实行校、院（系），中心三级管理的体制。</p>

            <p>2．中心与设备管理处负责全校教学中心仪器设备的使用、维护、调拨、借用、报废论证、对外服务等方面管理。负责仪器设备的完好率、利用率、使用效益等工作。负责用于设备费或学校特批专项经费购置的仪器设备的论证、采购以及验收工作。达到学校招标要求的，由国有资产管理处组织招标采购。（负责大型仪器设备购置的论证工作）</p>

            <p>3．国有资产管理处负责仪器设备的招标、建帐、清产核资、报废设备回收等工作。负责仪器设备丢失、损坏、违章操作发生事故等情况的调查、取证以及处罚等工作。</p>

            <p>4．中心负责本中心仪器设备的具体管理工作。</p>

            <p>第三条&nbsp; 教学中心仪器设备管理的范围</p>

            <p>本办法所指仪器设备管理范围为：中心在用的，单价在800元以上（含800元）、能够独立使用、耐用期在一年以上的，列为学校固定资产的仪器设备。</p>

            <p>第四条&nbsp; 各级仪器设备管理人员要认真履行岗位职责，不断提高管理水平。各单位要保证管理人员的相对稳定。</p>

            <p>第五条&nbsp; 仪器设备的使用</p>

            <p>1．保证所管仪器设备的正常运行，切实保证教学工作的顺利进行。</p>

            <p>2．严谨管理人员私自利用学校仪器设备资源做与学校正常教学任务无关的项目。</p>

            <p>第六条&nbsp; 仪器设备的维修与维护</p>

            <p>1．对本中心的仪器设备做到经常性的维修和维护，保证仪器设备的完好率。</p>

            <p>2．鼓励充分利用自己的技术力量维修设备。对于保证仪器设备的利用率、完好率、节约维修经费做出突出贡献的单位和个人，中心给予表彰和奖励。</p>

            <p>3．不准自行拆改仪器设备，如必须改装时，要事先提出报告，按审批权限，由主管各级领导批准，报中心与设备管理处备案。20万元以上的大型仪器设备需要经中心与设备管理处和国有资产管理处共同审批后实施。</p>

            <p>第七条&nbsp; 仪器设备的报废</p>

            <p>因技术落后、或损坏严重等原因不能修复或无修复价值需报废的仪器设备，由使用单位填写报废申请单，并组织技术人员、教师、管理人员进行技术鉴定，按审批权限，由主管领导签批，经中心与设备管理处审核、签字后，由报废单位上报国有资产处，国有资产处按国家及学校有关文件规定进行报废处理。残值收入交学校财务统一管理，投资到下一年度的设备费。各单位不得自行处理废旧设备和截留残值收入，残值回收单位不得分成。</p>

            <p>第八条&nbsp; 仪器设备对外服务</p>

            <p>在保证完成校内教学任务的前提下，经中心与设备管理处批准，可利用学校仪器设备开展对外技术服务。收费及分成办法按《哈尔滨工业大学经济管理办法》执行。未经中心与设备管理处批准的单位，不得自行开展对外服务，对擅自开展对外服务的单位，一经发现将交由学校纪检部门按国家及学校有关文件规定进行处理。</p>

            <p>第九条&nbsp; 仪器设备损坏及丢失</p>

            <p>发生仪器设备损坏、丢失事故时，所在单位应保护现场，立即报告国有资产处和保卫处，由国有资产处和保卫处按国家及学校有关规定及时处理。</p>

            <p>第十条&nbsp; 加强对精密、贵重、大型、稀有仪器设备管理。大型仪器设备所在单位应制定操作规程、实行专人使用操作、专人管理、定期维护、定期检定和凭证上机制度。</p>

            <p>大型仪器设备管理人员对所管仪器设备负责，要认真做好使用、维护记录，管好设备档案资料，有权监督检查上机人员的操作情况，对违反操作规程或有损仪器设备安全的行为有权劝告制止。</p>

            <p>第十一条&nbsp; 教学仪器设备转作生产经营性用途时（如作为初始投资办公司、投资入股、合资、合作、联营、兴办不具有法人资格的附属营业单位、出租、出借等），须经国有资产处、中心与设备管理处、科技处、财务处等主管部门批准。按国家国有资产管理局国资事发[1995]89号文件《事业单位非经营性资产转经营性资产管理实施办法》的有关规定办理。</p>

            <p>&nbsp;</p>

            <p>&nbsp;</p>

            <p style="text-align:right">高端装备制造虚拟仿真实验教学中心</p>

            <p>&nbsp;</p>

            <p style="text-align:right">二〇一四年六月修订&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            </p>

          </div>
          

        </article>
      </div>
    </div>
  </div>
  <!-- center end -->

  <!-- footer start -->
  {include file="common/foot" /}
  <!-- footer end -->
 
  <script src="__PUBLIC__/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="__PUBLIC__/js/plugins.js"></script>
  <script src="__PUBLIC__/js/main.js"></script>
  <script src="__PUBLIC__/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/move-top.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/easing.js"></script>

  
  <script type="text/javascript">
    $(document).ready(function() {
    
      var defaults = {
          containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
      };
      
      
      $().UItoTop({ easingType: 'easeOutQuart' });
      
    });
  </script>
  <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>

</html>

