<!doctype html>
<html class="no-js" lang="">

<head> 
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>高端装备制造虚拟仿真实验教学中心大学生实验守则</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="icon" href="__PUBLIC__/img/favicon.ico">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="__PUBLIC__/css/normalize.css">
  <link rel="stylesheet" href="__PUBLIC__/css/main.css">
  <link rel="stylesheet" href="__PUBLIC__/css/index.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css" />
 
 
</head>

<body>
  
  <!-- header start -->
  {include file="common/header" /}
  <!-- header end -->



  <!-- center start -->
  <div class="container">
    <div class="row clearfix" id="i_zxgk">
      
      <div class="col-md-4 column">
        <ul>
          <li><h4>运行管理</h4></li>
          <li><a href="sbpz.html">设备配置</a></li>
          <li><a href="wlxx.html">网络与信息安全</a></li>
          <li><a href="zzbz.html">组织保障</a></li>
          <li><a href="zxzd.html">中心制度</a></li>
        </ul>
      </div>
      
      <div class="col-md-8 column">
        <div class="gps">
          当前位置:  &nbsp;&nbsp; <a href="{:url('index/index')}">首页</a> << <a href="{:url('yxgl/index')}">运行管理</a>
        </div>
        
        <article>
          <h3>高端装备制造虚拟仿真实验教学中心大学生实验守则</h3>
          <div class="data">2014-07-22 06:24:00 <span>&emsp;(点击：913) </div>

          <div class="center">
            <p><p>一、学生必须按时到指定实验室做实验，不得迟到。</p>

            <p>二、上课前学生必须对所做的实验进行充分预习，并写出预习报告，经指导教师检查合格后，方可进行实验。</p>

            <p>三、学生应独立完成实验准备工作。在启动设备之前，需经指导教师检查认可。</p>

            <p>四、实验时，要严肃认真，正确操作，仔细观察，真实记录实验数据的结果。不许喧闹谈笑，不做与实验无关的事情，不动与实验无关的设备，不进入与实验无关的场所。</p>

            <p>五、实验中要注意安排，遵守实验室安全规定及有关操作规程。</p>

            <p>六、仪器设备发生不正常现象时，应及时报告指导教师。发生人身安全事故时，应立即切断相应的电源、气源等，并听从指导教师的指导，要沉着冷静，不要惊慌失措。</p>

            <p>七、实验中，如发现仪器设备损坏，应及时报告，查明原因。凡属违反操作规程导致设备损坏的，要追究责任，照章赔偿。</p>

            <p>八、学生要进入开放实验室做自行设计的实验时，应事先和有关实验室联系，报告自己的实验目的、内容和实验过程，经过批准后，方可开展实验。</p>

            <p>九、实验做完后，需先经指导教师审查数据并签字，然后再将仪器设备按原样整理完毕，清理实验室。在得到教师允许后方可离去。</p>

            <p>十、学生必须认真做好实验报告，在规定的时间内交给教师批阅。批阅后的实验报告由学生妥善保管，以备考核。</p>

            <p>&nbsp;</p>

            <p>&nbsp;</p>

            <p style="text-align:right">高端装备制造虚拟仿真实验教学中心</p>

            <p>&nbsp;</p>

            <p style="text-align:right">二〇一四年六月修订&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            </p>
  

          </div>
          

        </article>
      </div>
    </div>
  </div>
  <!-- center end -->

  <!-- footer start -->
  {include file="common/foot" /}
  <!-- footer end -->
 
  <script src="__PUBLIC__/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="__PUBLIC__/js/plugins.js"></script>
  <script src="__PUBLIC__/js/main.js"></script>
  <script src="__PUBLIC__/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/move-top.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/easing.js"></script>

  
  <script type="text/javascript">
    $(document).ready(function() {
    
      var defaults = {
          containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
      };
      
      
      $().UItoTop({ easingType: 'easeOutQuart' });
      
    });
  </script>
  <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>

</html>
