<!doctype html>
<html class="no-js" lang="">

<head> 
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>中心制度</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="icon" href="__PUBLIC__/img/favicon.ico">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="__PUBLIC__/css/normalize.css">
  <link rel="stylesheet" href="__PUBLIC__/css/main.css">
  <link rel="stylesheet" href="__PUBLIC__/css/index.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css" />
 
 
</head>

<body>
  
  <!-- header start -->
  {include file="common/header" /}
  <!-- header end -->



  <!-- center start -->
  <div class="container">
    <div class="row clearfix" id="i_zxgk">
      
      <div class="col-md-4 column">
        <ul>
          <li><h4>运行管理</h4></li>
          <li><a href="sbpz.html">设备配置</a></li>
          <li><a href="wlxx.html">网络与信息安全</a></li>
          <li><a href="zzbz.html">组织保障</a></li>
          <li><a href="zxzd.html">中心制度</a></li>
        </ul>
      </div>
      
      <div class="col-md-8 column" >
        <div class="gps">
          当前位置:  &nbsp;&nbsp; <a href="{:url('index/index')}">首页</a> << <a href="{:url('zxgk/index')}">运行管理</a> << <a href="zxzd.html">中心制度</a>
        </div>
        
        <article id="yx-zxzd">
          <h3>中心制度</h3>
          

          <div class="center">
            <div class="col-md-12 column">
              <ol>
                <li>
                  <a href="{:url('yxgl/zx_aqzd')}" target="_blank" title="">高端装备制造虚拟仿真实验教学中心安全制度</a><span class="fr category-date">2014-07-22</span>
                </li>
                <li>
                  <a href="{:url('yxgl/zx_gzry_zz')}" target="_blank" title="">高端装备制造虚拟仿真实验教学中心工作人员岗位职责</a><span class="fr category-date">2014-07-22</span>
                </li>
                <li>
                  <a href="{:url('yxgl/zx_gzry_px')}" target="_blank" title="">高端装备制造虚拟仿真实验教学中心工作人员培训管理办法</a><span class="fr category-date">2014-07-22</span>
                </li>
                <li>
                  <a href="{:url('yxgl/zx_sysz')}" target="_blank" title="">高端装备制造虚拟仿真实验教学中心大学生实验守则</a><span class="fr category-date">2014-07-22</span>
                </li>
                <li>
                  <a href="{:url('yxgl/zx_sb_glzd')}" target="_blank" title="">高端装备制造虚拟仿真实验教学中心仪器设备使用管理制度</a><span class="fr category-date">2014-07-22</span>
                </li>
                <li>
                  <a href="{:url('yxgl/zx_sb_glbf')}" target="_blank" title="">高端装备制造虚拟仿真实验教学中心仪器设备运行管理办法</a><span class="fr category-date">2014-07-22</span>
                </li>
                <li>
                  <a href="{:url('yxgl/zx_js_zz')}" target="_blank" title="">高端装备制造虚拟仿真实验教学中心实验技术人员工作准则</a><span class="fr category-date">2014-07-22</span>
                </li>
                
              </ol>
            </div>
          </div>
          

        </article>
      </div>
    </div>
  </div>
  <!-- center end -->

  <!-- footer start -->
  {include file="common/foot" /}
  <!-- footer end -->
 
  <script src="__PUBLIC__/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="__PUBLIC__/js/plugins.js"></script>
  <script src="__PUBLIC__/js/main.js"></script>
  <script src="__PUBLIC__/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/move-top.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/easing.js"></script>

  
  <script type="text/javascript">
    $(document).ready(function() {
    
      var defaults = {
          containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
      };
      
      
      $().UItoTop({ easingType: 'easeOutQuart' });
      
    });
  </script>
  <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>

</html>

