<!doctype html>
<html class="no-js" lang="">

<head> 
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>组织保障</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="icon" href="__PUBLIC__/img/favicon.ico">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="__PUBLIC__/css/normalize.css">
  <link rel="stylesheet" href="__PUBLIC__/css/main.css">
  <link rel="stylesheet" href="__PUBLIC__/css/index.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css" />
 
 
</head>

<body>
  
  <!-- header start -->
  {include file="common/header" /}
  <!-- header end -->



  <!-- center start -->
  <div class="container">
    <div class="row clearfix" id="i_zxgk">
      
      <div class="col-md-4 column">
        <ul>
          <li><h4>运行管理</h4></li>
          <li><a href="sbpz.html">设备配置</a></li>
          <li><a href="wlxx.html">网络与信息安全</a></li>
          <li><a href="zzbz.html">组织保障</a></li>
          <li><a href="zxzd.html">中心制度</a></li>
        </ul>
      </div>
      
      <div class="col-md-8 column">
        <div class="gps">
          当前位置:  &nbsp;&nbsp; <a href="{:url('index/index')}">首页</a> << <a href="{:url('yxgl/index')}">运行管理</a> << <a href="zzbz.html">组织保障</a>
        </div>
        
        <article>
          <h3>组织保障</h3>
          <div class="data">2014-07-01 07:12:00  </div>

          <div class="center">
            <p>&ldquo;高端装备制造虚拟仿真实验教学中心&rdquo;是哈尔滨工业大学实施虚拟仿真实验教学的管理机构，隶属于机电工程学院，目前中心拥有&ldquo;学科基础课程虚拟仿真实验教学平台&rdquo;、&ldquo;专业课程虚拟仿真实验教学平台&rdquo;和&ldquo;大学生机械创新与创业虚拟仿真实验教学平台&rdquo;三个支撑平台，形成了一套完善的、具有自身特色的实验教学体系。</p>

            <p>中心实行校、院两级管理，建制相对独立。中心实行中心主任负责制，中心主任由学院教学院长兼任，作为第一负责人。中心设常务副主任1人进行中心建设、管理和平台应用协调工作，各系主任和学科带头人为平台建设顾问进行指导工作。各平台模块或系统均设有负责人，担任负责人的教师都为科研教学领域做出一定成绩且年富力强的兼职教师，平台负责人分管3个实验平台相关课程的实验方案建设与管理、教学模式探索与改革、校企合作等工作。各平台还分别设有维护教师，维护教师都为计算机和网络知识丰富、虚拟仿真技能强的兼职教师，在承担平台维护的同时，还利用平台担任一定的实验教学任务。各实验室工作人员的定编定岗按照国家对不同专业技术干部和工人职责的有关条例规定及实施细则具体确定。</p>

            <p style="text-indent:1em;"><img class="picture" src="__PUBLIC__/img/3(3).1.jpg" style="height:737px; width:600px;margin-left: 0px" /></p>

            <p>为了提高各实验平台的运行效率，扩大共享面和受众面，实验中心在仪器设备和实验设施等方面实行&ldquo;集中管理，开放共享&rdquo;的制度，实现教学资源的共享和实验室开放的运行模式，在满足机电工程学院本科生教学的基础上，还可以提供给学校其它院系以及其它院校的实验教学需要。</p>

            <p>综上所述，中心的管理和教学人员分工明确，做到了教学改革和建设、技术支持、设备运行、定期维护和更新以及与协作企业之间的技术对接和合作的专人负责。除此之外，学院还组织教学督导组不定期对实验课程的教学情况进行检查和督导，为促进实验教学的认真开展起到了有效和积极的督促作用。</p>

          </div>
          

        </article>
      </div>
    </div>
  </div>
  <!-- center end -->

  <!-- footer start -->
  {include file="common/foot" /}
  <!-- footer end -->
 
  <script src="__PUBLIC__/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="__PUBLIC__/js/plugins.js"></script>
  <script src="__PUBLIC__/js/main.js"></script>
  <script src="__PUBLIC__/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/move-top.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/easing.js"></script>

  
  <script type="text/javascript">
    $(document).ready(function() {
    
      var defaults = {
          containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
      };
      
      
      $().UItoTop({ easingType: 'easeOutQuart' });
      
    });
  </script>
  <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>

</html>
