<header role="banner" class="top-pic clearfix ">
      <img src="__PUBLIC__/img/img1.png" alt="" class="img-responsive" style="height: 145px;width: 100%">
      <div class="navbar-wrapper">
        <div class="container">
            <nav class="navbar navbar-inverse navbar-static-top" id="nav">
                <div class="container" id="fixedMenu">
                    <div class="navbar-header" >
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" >
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- <a href="#" class="navbar-brand">Project name</a> -->
                    </div><!-- navbar-header -->
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="{:url('index/index')}">首页</a></li>
                            <li><a href="{:url('zxgk/index')}">中心概况</a></li>
                            <li><a href="{:url('szdw/index')}">师资队伍</a></li>
                            <li><a href="{:url('yxgl/index')}">运行管理</a></li>
                            <li><a href="{:url('syjx/index')}">实验教学</a></li>
                            <li><a href="{:url('jxpt/index')}">教学平台</a></li>
                            <li><a href="{:url('zygx/index')}">资源共享</a></li>
                            <li><a href="{:url('xqhz/index')}">校企合作</a></li>
                            <li><a href="{:url('tscx/index')}">特色创新</a></li>
                            <li><a href="{:url('dxsy/index')}">典型实验</a></li>
                            <li><a href="{:url('admin/login/index')}">登录入口</a></li>
                        </ul>
                    </div>
                </div><!--container -->
            </nav>
        </div><!-- container -->
      </div><!-- navbar-wrapper -->

  </header>