<!doctype html>
<html class="no-js" lang="">

<head> 
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>实验教学</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="icon" href="__PUBLIC__/img/favicon.ico">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="__PUBLIC__/css/normalize.css">
  <link rel="stylesheet" href="__PUBLIC__/css/main.css">
  <link rel="stylesheet" href="__PUBLIC__/css/index.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css" />
 
 
</head>

<body>
  
  <!-- header start -->
  {include file="common/header" /}
  <!-- header end -->



  <!-- center start -->
  <div class="container">
    <div class="row clearfix" id="i_zxgk">
      
      <div class="col-md-4 column">
        <ul>
          <li><h4>实验教学</h4></li>
          <li><a href="kctx.html">课程体系</a></li>
          <li><a href="jxxg.html">教学效果</a></li>
        </ul>
      </div>
      
      <div class="col-md-8 column">
        <div class="gps">
          当前位置:  &nbsp;&nbsp; <a href="{:url('index/index')}">首页</a> << <a href="{:url('syjx/index')}">实验教学</a>
        </div>
        
        <article>
          <h3>实验教学</h3>
          <div class="data">2014-07-01 05:32:00 </div>

          <div class="center">
            <p>高端装备虚拟仿真实验教学中心建立的实验教学平台的构成合理、互相联系，为本科生培养的各个阶段、各个环节提供实践的载体，既体现了专业特色，又突出了高、精、尖技术交叉，为高端装备制造的设计、制造和管理人才培养提供全方位支持。高端装备虚拟仿真实验教学中心的三个实验教学平台的实验教学构成为下图所示：</p>

            <p ><img  src="__PUBLIC__/img/4(1).jpg" style="margin-left: 0px" /></p>


          </div>
          

        </article>
      </div>
    </div>
  </div>
  <!-- center end -->

  <!-- footer start -->
  {include file="common/foot" /}
  <!-- footer end -->
 
  <script src="__PUBLIC__/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="__PUBLIC__/js/plugins.js"></script>
  <script src="__PUBLIC__/js/main.js"></script>
  <script src="__PUBLIC__/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/move-top.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/easing.js"></script>

  
  <script type="text/javascript">
    $(document).ready(function() {
    
      var defaults = {
          containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
      };
      
      
      $().UItoTop({ easingType: 'easeOutQuart' });
      
    });
  </script>
  <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>

</html>

