<!doctype html>
<html class="no-js" lang="">

<head> 
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>教学效果</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="icon" href="__PUBLIC__/img/favicon.ico">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="__PUBLIC__/css/normalize.css">
  <link rel="stylesheet" href="__PUBLIC__/css/main.css">
  <link rel="stylesheet" href="__PUBLIC__/css/index.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css" />
 
 
</head>

<body>
  
  <!-- header start -->
  {include file="common/header" /}
  <!-- header end -->



  <!-- center start -->
  <div class="container">
    <div class="row clearfix" id="i_zxgk">
      
      <div class="col-md-4 column">
        <ul>
          <li><h4>实验教学</h4></li>
          <li><a href="kctx.html">课程体系</a></li>
          <li><a href="jxxg.html">教学效果</a></li>
        </ul>
      </div>
      
      <div class="col-md-8 column">
        <div class="gps">
          当前位置:  &nbsp;&nbsp; <a href="{:url('index/index')}">首页</a> << <a href="{:url('syjx/index')}">实验教学</a> << <a href="jxxg.html">教学效果</a>
        </div>
        
        <article>
          <h3>教学效果</h3>
          <div class="data">2014-07-01 06:01:00</div>

          <div class="center" id="color_red">
            <p><strong>1、学科基础课程虚拟仿真实验教学平台</strong></p>

            <p class="red"><strong>机械设计、制造数字化实验教学模块</strong></p>

            <p>机械设计、制造数字化实验教学模块应用于机械设计制造及其自动化专业多门课程。利用该模块学生能够明显增强对机械原理、机械设计和机械制造工艺过程基础理论的理解，熟悉设备操作和加工过程，克服学习时在实际设备上操作的不足和限制。该模块可使一台实验设备以软件方式扩展成多台&ldquo;设备&rdquo;，供多人使用，并突破实验室物理条件的限制，提高学生的学习兴趣，保证学生实验时每人都有设备用，为学生的创新实践能力培养创造条件，增强了机械制造工艺实验的综合性、设计性，缩短学生使用真实设备完成实验的时间，使得在同样的设备资源和相同的实验条件下原来只能开设一组变为可以开设多组实验，原有实验过程中不可见的现象和规律变得可见，增强了相同实验周期内实验设备的使用人数和设备的信息输出能力，有效地扩展本专业制造设备资源的人才培养能力。</p>

            <p class="red"><strong>流体控制元件和系统虚拟仿真实验教学模块</strong></p>

            <p>流体关键元件在流体系统中有着至关重要的作用，流体元件的工作原理可通过课堂教学获得，但实际的液压和气动元件的结构复杂，还需考虑安装空间、材料性能等诸多因素的影响。流体元件的虚拟实验使学生可直接模拟元件设计，以及设计时考虑的各种制约因素和工作条件，与真实环境下实验相比给予了学生更多的自主性，充分调动学生的主观能动性，发挥学生的创新意识，使学生直观的体会元件的工作原理，改进了教学效果。</p>

            <p>流体系统的虚拟实验是以工程应用为背景，学生既可对常用液压和气动回路进行验证和复习，也可自主设计流体回路。使学生深入了解流体系统的设计与控制过程，体会元件和系统之间的相互关系，使学生建立整体的意识，可锻炼学生的解决实际问题的能力，增加学生的成就感，为解决实际问题做好储备。</p>

            <p class="red"><strong>&ldquo;未来工厂&rdquo;虚拟仿真实验教学模块</strong></p>

            <p>工业工程专业课程均针对企业开展研究，而学生仅从书本无法深入理解企业的运作。一个尽量全面、贴近真实的模拟/虚拟企业仿真环境有助于学生避免&ldquo;盲人摸象&rdquo;的学习方式，使得所学的理论知识有的放矢。也极大的增强了课程的工程应用背景。&ldquo;优化问题&rdquo;是大部分工业工程课程的共同点，利用企业虚拟仿真环境可以使学生对在企业实习、实践环节中难以全面了解的部分进行模拟仿真，深刻理解&ldquo;局部优化&rdquo;、&ldquo;全局优化&rdquo;的含义。通过人-机-环境虚拟环境的数字人的建模与操作，可以使学生既能够快速的体会动作可行性分析、舒适性、可达性、视野等内容，又可以量化的体会能量消耗和疲劳极限，并且避免人体体验过程中的受伤隐患。借助企业虚拟仿真环境与部分物流、仓储、加工硬件构建的企业虚拟仿真环境，在目前的实验学时条件下，提高了实验效果、减少了经费和实验空间的投入。体现了&ldquo;以虚为主，虚实结合，以虚补实，以实验虚&rdquo;的原则。</p>

            <p><strong>2、专业课程虚拟仿真实验教学平台</strong></p>

            <p class="red"><strong>空间极特殊环境效应及空间机构虚拟仿真实验教学模块</strong></p>

            <p>采用虚拟仿真实验模拟空间极特殊环境效应可以大大拓展实验内容的空间，激发学生学习兴趣，提高教学效果。尤其对于耗时、危险性高、实验设备昂贵、实验条件要求苛刻的传统实验室不便开展的实验项目，采用虚拟仿真手段，十分有利于空间极特殊环境效应实验课的顺利开展，并能够在有限的学时内保证实验内容的全面性和系统性。学生突破了实验课的场所限制，进而提高实验课学习的自由度，提高实验教学效果。</p>

            <p class="red"><strong>空间飞行器地面模拟装备虚拟测试及运动控制仿真实验教学模块</strong></p>

            <p>空间飞行器地面模拟装备虚拟测试及运动控制仿真实验教学模块结合机械电子的本科专业课程设计的特点，实现具体实验操作和虚拟实验操作相结合的教学。允许学生在虚拟环境下进行各种实验操作，改变了传统模式下实验教学中怕损坏设备而不让学生动手的弊端，同时由于学生操作具有不可预知性，使得实验效果无法取得预期效果。通过虚拟实验和实际实验相结模块合，使得学生能够全面掌握控制参数变化引起结构动作的变化规律，了解空间结构地面仿真设备的设计特点和极端环境下的控制特点，达到了良好的教学效果。</p>

            <p class="red"><strong>纳米加工虚拟仿真实验教学模块</strong></p>

            <p>纳米切削加工理论是精密与超精密加工技术基础的一项重要组成内容，也是开展精密与超精密以及纳米加工的重要基础之一。纳米加工仿真教学平台结合当前科研对高端人才培养的需求，设立了金属、陶瓷及聚合物的纳米加工机理的分子动力学仿真研究这一教学实验。利用该模块，不仅使得学生加深了对课程的掌握程度，还鼓励学生进行自主创新，已有两名本科学生发表了<strong>三篇</strong><strong>SCI检索论文</strong>（2008级本科生徐方达：&ldquo;Current Nanoscience&rdquo;，影响因子1.422和&ldquo;Chinese Science Bulletin&rdquo;，影响因子1.365；2009级本科生刘星：&ldquo;Journal of Physics D: Applied Physics&rdquo;，影响因子2.521）&rdquo;）和<strong>一篇</strong><strong>EI检索论文</strong>（2008级本科生徐方达：&ldquo;International Journal of Nanomanufacturing&rdquo;），2015年姜雨琦的毕业设计（论文）获得了<strong>哈尔滨工业大学百优本科生毕业设计（论文）奖</strong>。该模块经过教学实践，达到了良好的效果。</p>

            <figure>
              <img  src="__PUBLIC__/img/4(2).1.jpg"  />
              <figcaption><p style="text-align:center">学生应用纳米加工虚拟仿真实验教学模块获得的成果</p></figcaption>
              
            </figure>

          

            

            <p class="red"><strong>机器人特殊环境作业虚拟仿真实验教学模块</strong></p>

            <p>机器人特殊环境作业虚拟仿真实验教学模块针对特殊环境下的机器人作业，满足了机器人系列课程因为特殊环境的实验需要，克服了危险、微纳装配、难操作等特殊环境作业难以进行实际实验的问题。将实验课程设计与机器人运动控制仿真、多机器人协调控制仿真实验和机器人微装配教学内容&ldquo;复制&rdquo;到虚拟实验中，实现具体实验操作和虚拟实验操作相结合的教学模式。允许学生在虚拟环境下进行各种实验操作，改变了传统模式下实验教学中怕损坏设备而不让学生动手的弊端，同时由于学生操作具有不可预知性，使得实验效果无法取得预期效果。通过虚拟实验和实际实验相结模块合，使得学生能够全面掌握控制参数变化引起结构动作的变化规律，达到了良好的教学效果。同时，为帮助学生更深入掌握虚拟现实技术，还提供虚拟模型接口，学生在教师的指导下对仿真软件进行修改和二次开发，培养学生具有一定的自主创建虚拟仿真的能力，为高端装备制造人才培养打下良好的基础。</p>

            <p><strong>3、大学生机械创新与创业虚拟仿真实验教学平台</strong></p>

            <p>针对大一大二低年级学生而设立，形成了机械创新人才的培养的新模式，通过相关课程创新以及素质教育的加强，使学生的创新精神、创新能力和综合素质得到了普遍的提高，为高等教育改革提供了理论和实践依据。近五年来，机电工程学院学生参加各类大赛共获得省部级以上奖励279项，机电工程学院学生在中日韩国际顶点大赛中获得铜奖；在全国大学生机械创新设计大赛全国决赛中获得一等奖2项、二等奖4项；在哈尔滨工业大学大学生创新创业训练计划中获得一等奖9项、二等奖18项。先后有西安交通大学、西北工业大学、北京科技大学、澳大利亚阿德莱德大学、美国伊利诺理工大学和伊顿公司等国内外知名院校与企业有3千余人来中心参观指导，起到了宣传和示范作用。</p>



        </article>
      </div>
    </div>
  </div>
  <!-- center end -->

  <!-- footer start -->
  {include file="common/foot" /}
  <!-- footer end -->
 
  <script src="__PUBLIC__/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="__PUBLIC__/js/plugins.js"></script>
  <script src="__PUBLIC__/js/main.js"></script>
  <script src="__PUBLIC__/js/bootstrap.min.js"></script>
  
  <script type="text/javascript" src="__PUBLIC__/js/move-top.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/easing.js"></script>

  
  <script type="text/javascript">
    $(document).ready(function() {
    
      var defaults = {
          containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
      };
      
      
      $().UItoTop({ easingType: 'easeOutQuart' });
      
    });
  </script>
  <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>

</html>

