<!doctype html>
<html class="no-js" lang="">

<head> 
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>课程体系</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="icon" href="__PUBLIC__/img/favicon.ico">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="__PUBLIC__/css/normalize.css">
  <link rel="stylesheet" href="__PUBLIC__/css/main.css">
  <link rel="stylesheet" href="__PUBLIC__/css/index.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css" />
 
 
</head>

<body>
  
  <!-- header start -->
  {include file="common/header" /}
  <!-- header end -->



  <!-- center start -->
  <div class="container">
    <div class="row clearfix" id="i_zxgk">
      
      <div class="col-md-4 column">
        <ul>
          <li><h4>实验教学</h4></li>
          <li><a href="kctx.html">课程体系</a></li>
          <li><a href="jxxg.html">教学效果</a></li>
        </ul>
      </div>
      
      <div class="col-md-8 column">
        <div class="gps">
          当前位置:  &nbsp;&nbsp; <a href="{:url('index/index')}">首页</a> << <a href="{:url('syjx/index')}">实验教学</a> << <a href="kctx.html">课程体系</a>
        </div>
        
        <article>
          <h3>课程体系</h3>
          <div class="data">2014-07-01 17:58:00 </div>

          <div class="center">
            <p>1、学科基础课程虚拟仿真实验教学平台</p>

            <p>学科基础课程虚拟仿真实验教学平台共有<strong>44个实验项目，支持36门课（含8门创新研修课（表中加粗标记）和2门创新实验课（表中倾斜标记））</strong>的实验教学，具体情况见下表：</p>

            <table align="center" border="1" cellpadding="0" cellspacing="0" style="width:600px;margin-bottom: 10px" >
              <tbody>
                <tr>
                  <td style="background-color:rgb(102, 204, 0); height:33px; text-align:center; width:72px">教学模块</td>
                  <td style="background-color:rgb(102, 204, 0); height:33px; text-align:center; width:72px">实验项目名称</td>
                  <td style="background-color:rgb(102, 204, 0); height:33px; text-align:center; width:72px">课程名称</td>
                  <td style="background-color:rgb(102, 204, 0); height:33px; text-align:center; width:72px">实验类型</td>
                </tr>
                <tr>
                  <td rowspan="17" style="height:566px; text-align:center; width:72px"><strong style="color:red;">机械设计、制造数字化实验教学模块</strong></td>
                  <td style="text-align:center; width:215px">机件表达方法剖析实验</td>
                  <td style="text-align:center; width:193px">机械原理、工程图学、工业产品逆向设计研究</td>
                  <td style="text-align:center; width:69px">演示类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">装备体拆画零件实验</td>
                  <td style="text-align:center; width:193px">机械原理、机械设计、工程图学</td>
                  <td style="text-align:center; width:69px">演示类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">机械组合体分析实验</td>
                  <td style="text-align:center; width:193px">机械原理、机械设计、工程图学、柔性加工工装设计及组装实验</td>
                  <td style="text-align:center; width:69px">演示类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">车削数控编程及仿真实验</td>
                  <td style="text-align:center; width:193px">机械制造技术基础、现代高效刀具创新设计方法</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">铣削数控编程及仿真实验</td>
                  <td style="text-align:center; width:193px">机械制造技术基础</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">切削用量对切削力的影响实验</td>
                  <td style="text-align:center; width:193px">机械制造技术基础</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">切削用量对表面粗糙度的影响实验</td>
                  <td style="text-align:center; width:193px">机械制造技术基础</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">切削用量对切削温度的影响实验</td>
                  <td style="text-align:center; width:193px">机械制造技术基础</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">数字化仿真技术实验实验</td>
                  <td style="text-align:center; width:193px">CAD/CAM技术基础</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">复杂零件数控编程实验</td>
                  <td style="text-align:center; width:193px">CAD/CAM综合实验</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">数控系统实验</td>
                  <td style="text-align:center; width:193px">数控技术、数字化设计与制造</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">数控铣床操作实验</td>
                  <td style="text-align:center; width:193px">数控技术、数字化设计与制造</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">数控插补原理实验</td>
                  <td style="text-align:center; width:193px">数控技术、数字化设计与制造</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">数控铣床编程实验</td>
                  <td style="text-align:center; width:193px">数控技术、数字化设计与制造</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">数控车床编程实验</td>
                  <td style="text-align:center; width:193px">数控技术、数字化设计与制造</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">数字化设计与制造实验</td>
                  <td style="text-align:center; width:193px">数字化设计与制造、数控技术</td>
                  <td style="text-align:center; width:69px">设计类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">加工误差统计分析实验</td>
                  <td style="text-align:center; width:193px">机械加工新技术</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td rowspan="7" style="height:233px; text-align:center; width:72px"><strong style="color:red;">流体控制元件和系统虚拟仿真实验教学模块</strong></td>
                  <td style="text-align:center; width:215px">液压传动回路仿真实验</td>
                  <td style="text-align:center; width:193px">液压传动、功能流体</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">液压轴向柱塞泵仿真实验</td>
                  <td style="text-align:center; width:193px">液压元件、新型液压元件及装置设计</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">液压两级伺服阀仿真实验</td>
                  <td style="text-align:center; width:193px">液压控制系统</td>
                  <td style="text-align:center; width:69px">演示类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">液压控制阀门结构和功能实验</td>
                  <td style="text-align:center; width:193px">液压元件制造技术</td>
                  <td style="text-align:center; width:69px">演示类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">集成液压系统仿真实验</td>
                  <td style="text-align:center; width:193px">机电液系统装备设计、流体驱动仿生行走机械研究、机电液实验系统测试技术</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">气动减压阀仿真实验</td>
                  <td style="text-align:center; width:193px">气压传动及控制、基于气动仿生肌肉的气动机器人设计</td>
                  <td style="text-align:center; width:69px">演示类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">气动工业生产线仿真实验</td>
                  <td style="text-align:center; width:193px">气动系统设计</td>
                  <td style="text-align:center; width:69px">设计类</td>
                </tr>
                <tr>
                  <td rowspan="20" style="height:665px; text-align:center; width:72px"><strong style="color:red;">&ldquo;未来工厂&rdquo;虚拟仿真实验教学模块</strong></td>
                  <td style="text-align:center; width:215px">多产品单阶段制造系统仿真与分析实验</td>
                  <td style="text-align:center; width:193px">设施规划与物流管理</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">产品测试工艺仿真与分析实验</td>
                  <td style="text-align:center; width:193px">设施规划与物流管理</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">混流装配线线平衡生产调度实验</td>
                  <td style="text-align:center; width:193px">生产计划与控制</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">&ldquo;模拟工厂&rdquo;设施布局与AGV搬运路线设计实验</td>
                  <td style="text-align:center; width:193px">生产计划与控制</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">装配线双手操作分析实验</td>
                  <td style="text-align:center; width:193px">基础工业工程</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">人机作业环境测量分析实验</td>
                  <td style="text-align:center; width:193px">工效学</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">人的信息处理能力测试实验</td>
                  <td style="text-align:center; width:193px">工效学</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">手部测量实验</td>
                  <td style="text-align:center; width:193px">工效学</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">工位设计实验</td>
                  <td style="text-align:center; width:193px">工效学</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">机械加工测量与工序质量控制分析实验</td>
                  <td style="text-align:center; width:193px">质量管理学</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">多品种少批量生产系统的仿真实验</td>
                  <td style="text-align:center; width:193px">生产系统建模与仿真</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">Witness仿真软件认识实验</td>
                  <td style="text-align:center; width:193px">生产系统建模与仿真、智能维护基础</td>
                  <td style="text-align:center; width:69px">演示类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">工作分解结构（WBS）建立实验</td>
                  <td style="text-align:center; width:193px">项目管理</td>
                  <td style="text-align:center; width:69px">设计类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">项目进度计划编制实验</td>
                  <td style="text-align:center; width:193px">项目管理</td>
                  <td style="text-align:center; width:69px">设计类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">快速成型实验</td>
                  <td style="text-align:center; width:193px">产品虚拟设计与快速制造</td>
                  <td style="text-align:center; width:69px">演示类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">生产排程与调度实验</td>
                  <td style="text-align:center; width:193px">制造执行系统、现代制造系统业务咨询和信息化建模与仿真技术</td>
                  <td style="text-align:center; width:69px">验证类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">MPS排产与MRP计算实验</td>
                  <td style="text-align:center; width:193px">企业资源规划</td>
                  <td style="text-align:center; width:69px">验证类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">基础数据管理实验</td>
                  <td style="text-align:center; width:193px">企业资源规划</td>
                  <td style="text-align:center; width:69px">验证类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">基于ED三维离散系统仿真软件实验教学-产品装配线</td>
                  <td style="text-align:center; width:193px">工业工程专业实践II</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">基于ED三维离散系统仿真软件实验教学-产品包装线</td>
                  <td style="text-align:center; width:193px">工业工程专业实践II</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
              </tbody>
            </table>

            <p>2、专业课程虚拟仿真实验教学平台</p>

            <p>专业课程虚拟仿真实验教学平台共有<strong>33个实验项目，支持34门课（含12门创新研修课（表中加粗标记）和1门创新实验课（表中倾斜标记））</strong>的实验教学，具体情况见下表：</p>

            <table align="center" border="1" cellpadding="0" cellspacing="0" style="width:600px;margin-bottom: 10px">
              <tbody>
                <tr>
                  <td style="background-color:rgb(102, 204, 0); height:33px; text-align:center; width:72px">教学模块</td>
                  <td style="background-color:rgb(102, 204, 0); height:33px; text-align:center; width:72px">实验项目名称</td>
                  <td style="background-color:rgb(102, 204, 0); height:33px; text-align:center; width:72px">课程名称</td>
                  <td style="background-color:rgb(102, 204, 0); height:33px; text-align:center; width:72px">实验类型</td>
                </tr>
                <tr>
                  <td rowspan="6" style="height:200px; text-align:center; width:72px"><strong style="color:red;">空间极特殊环境效应及空间机构虚拟仿真实验教学模块</strong></td>
                  <td style="text-align:center; width:215px">星球表面尘/壤环境模拟实验</td>
                  <td style="text-align:center; width:193px">空间技术概论</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">空间微重力环境模拟实验</td>
                  <td style="text-align:center; width:193px">飞行器结构设计</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">空间机械臂操作模拟实验</td>
                  <td style="text-align:center; width:193px">机器人技术与空间机构、飞行模拟器飞行动力学建模及视景实时协同仿真技术研究</td>
                  <td style="text-align:center; width:69px">演示类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">空间伸展臂在空间微重力环境下的展开模拟实验</td>
                  <td style="text-align:center; width:193px">空间可展开机构</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">空间机械臂设计实验</td>
                  <td style="text-align:center; width:193px">模块化机器人创新设计、空间可展开机构</td>
                  <td style="text-align:center; width:69px">设计类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">月球车机构创新设计实验</td>
                  <td style="text-align:center; width:193px">月面采样机构创新设计与实践、轮步式行星探测车移动系统结构与控制研究、月球着陆缓冲元件地面模拟实验装置研制、月面采样机构创新设计与实践</td>
                  <td style="text-align:center; width:69px">设计类</td>
                </tr>
                <tr>
                  <td rowspan="7" style="height:233px; text-align:center; width:72px"><strong style="color:red;">空间飞行器地面模拟装备虚拟测试及运动控制仿真实验教学模块</strong></td>
                  <td style="text-align:center; width:215px">基于工作原理和物理性能指标的地面模拟装备的系统建模实验（在建）</td>
                  <td style="text-align:center; width:193px">机电系统控制基础</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">数字控制器离散化方法虚拟仿真实验（在建）</td>
                  <td style="text-align:center; width:193px">机电系统控制器与应用</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">测试系统传感特性的表征与多信号融合虚拟实验</td>
                  <td style="text-align:center; width:193px">传感与测试技术、机械量检测及信息可视化处理技术、机械设备智能故障诊断的知识获取技术、机械量测量系统设计、视觉测量与三维重构技术</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">机械机构创新设计实验（在建）</td>
                  <td style="text-align:center; width:193px">机械机构创新设计及应用</td>
                  <td style="text-align:center; width:69px">设计类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">驱动控制系统的硬件组态与控制性能虚拟实验</td>
                  <td style="text-align:center; width:193px">机电控制系统分析与设计</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">基于几何及工艺约束的原理仿真与虚拟装备实验（在建）</td>
                  <td style="text-align:center; width:193px">机电一体化系统设计</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">地面模拟器综合虚拟设计实验</td>
                  <td style="text-align:center; width:193px">机电产品现代设计方法</td>
                  <td style="text-align:center; width:69px">设计类</td>
                </tr>
                <tr>
                  <td rowspan="8" style="height:266px; text-align:center; width:72px"><strong style="color:red;">纳米加工虚拟仿真实验教学模块</strong></td>
                  <td style="text-align:center; width:215px">分子动力学仿真的运行实验</td>
                  <td style="text-align:center; width:193px">纳米科学与技术</td>
                  <td style="text-align:center; width:69px">演示类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">分子动力学仿真数据的可视化与分析实验</td>
                  <td style="text-align:center; width:193px">纳米科学与技术</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">不同类型材料的分子动力学建模实验</td>
                  <td style="text-align:center; width:193px">纳米科学与技术</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">剪切变形的分子动力学仿真实验</td>
                  <td style="text-align:center; width:193px">纳米科学与技术</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">纳米线拉伸过程的分子动力学仿真实验</td>
                  <td style="text-align:center; width:193px">纳米科学与技术</td>
                  <td style="text-align:center; width:69px">演示类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">纳米线三点弯曲过程的分子动力学仿真实验</td>
                  <td style="text-align:center; width:193px">纳米科学与技术</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">刻划过程的分子动力学仿真</td>
                  <td style="text-align:center; width:193px">超精密加工与特种加工技术</td>
                  <td style="text-align:center; width:69px">演示类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">切削过程的分子动力学仿真</td>
                  <td style="text-align:center; width:193px">超精密加工与特种加工技术</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td rowspan="12" style="height:399px; text-align:center; width:72px"><strong style="color:red;">机器人特殊环境作业虚拟仿真实验教学模块</strong></td>
                  <td style="text-align:center; width:215px">多机器人运动实验</td>
                  <td style="text-align:center; width:193px">工业机器人设计与应用、多机器人协作探索技术</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">核反应堆承压容器检测仿真操作实验</td>
                  <td style="text-align:center; width:193px">工业机器人设计与应用、特种机器人系统设计</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">微装配系统认识实验</td>
                  <td style="text-align:center; width:193px">特种机器人系统设计</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">虚拟微装配仿真操作实验</td>
                  <td style="text-align:center; width:193px">特种机器人系统设计</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">虚拟微装配仿真任务设计实验</td>
                  <td style="text-align:center; width:193px">特种机器人系统设计</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">虚拟微装配仿真预测模型设计实验</td>
                  <td style="text-align:center; width:193px">特种机器人系统设计</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">虚拟微装配仿真主从力反馈设计实验</td>
                  <td style="text-align:center; width:193px">特种机器人系统设计</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">虚拟微装配仿真二次开发实验</td>
                  <td style="text-align:center; width:193px">特种机器人系统设计</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">多机器人协调控制实验</td>
                  <td style="text-align:center; width:193px">机器人交互技术、六自由度并联机器人及其虚拟设计</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">机器人仿真系统运动控制实验</td>
                  <td style="text-align:center; width:193px">机器人运动控制技术、模块化机器人创新设计</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">机器人操作模拟实验</td>
                  <td style="text-align:center; width:193px">医疗机器人技术、仿人机器人创新设计与实践</td>
                  <td style="text-align:center; width:69px">演示类</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:215px">机器人驱动控制虚拟实验</td>
                  <td style="text-align:center; width:193px">机器人驱动控制实验</td>
                  <td style="text-align:center; width:69px">综合类</td>
                </tr>
              </tbody>
            </table>

            <p>3、大学生机械创新与创业虚拟仿真实验教学平台</p>

            <p>大学生机械创新与创业虚拟仿真实验教学平台共有<strong>2个大类的实验项目，支持3门课（含1门创新研修课（表中加粗标记））</strong>的实验教学，平台还支持大学生的<strong>课外创新创业实践项目（科技竞赛）</strong><strong>3项</strong>，具体情况见下表。</p>

            <table align="center" border="1" cellpadding="0" cellspacing="0" style="width:600px;margin-bottom: 10px">
              <tbody>
                <tr>
                  <td style="background-color:rgb(102, 204, 0); height:33px; text-align:center; width:72px">教学平台</td>
                  <td colspan="2" style="background-color:rgb(102, 204, 0); text-align:center; width:313px">实验/创新项目名称</td>
                  <td style="background-color:rgb(102, 204, 0); text-align:center; width:103px">课程名称/创新大赛主题</td>
                  <td style="background-color:rgb(102, 204, 0); text-align:center; width:96px">实验类型</td>
                </tr>
                <tr>
                  <td rowspan="9" style="height:299px; text-align:center; width:72px"><strong style="color:red;">大学生机械创新与创业虚拟仿真实验教学平台</strong></td>
                  <td colspan="2" style="text-align:center; width:313px">依托全国&ldquo;欧特克杯大学生机械产品数字化设计大赛&rdquo;，开展大一年度虚拟仿真创新项目</td>
                  <td style="text-align:center; width:103px">机械产品创新设计及仿真</td>
                  <td style="text-align:center; width:96px">机械创新综合类</td>
                </tr>
                <tr>
                  <td colspan="2" style="height:33px; text-align:center; width:313px">依托哈工大机电工程学院&ldquo;仿生机器人设计大赛&rdquo;，开展大二年度创新项目研发与制作</td>
                  <td style="text-align:center; width:103px">机械创新设计及制作、仿生类机构创新实践课</td>
                  <td style="text-align:center; width:96px">机械创新综合类</td>
                </tr>
                <tr>
                  <td rowspan="3" style="height:100px; text-align:center; width:147px">机械产品创新设计及仿真实验</td>
                  <td style="text-align:center; width:167px">2013年：绿色出行，火轮再现</td>
                  <td style="text-align:center; width:103px">未来自行车的设计</td>
                  <td style="text-align:center; width:96px">创新项目，竞赛</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:167px">2014年：梦想快速实现</td>
                  <td style="text-align:center; width:103px">面向3D 打印的玩具、打印的玩具、机器模型、假肢模型、假肢模型、假肢的设计</td>
                  <td style="text-align:center; width:96px">创新项目，竞赛</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:167px">2015年：极限攀越</td>
                  <td style="text-align:center; width:103px">攀爬机器人的设计</td>
                  <td style="text-align:center; width:96px">创新项目，竞赛</td>
                </tr>
                <tr>
                  <td rowspan="3" style="height:100px; text-align:center; width:147px">机械创新设计及制作实验</td>
                  <td style="text-align:center; width:167px">2013年：幻&middot;梦课堂</td>
                  <td style="text-align:center; width:103px">教室用设备和教具的设计与制作</td>
                  <td style="text-align:center; width:96px">创新项目，竞赛</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:167px">2014年：仿生机器人</td>
                  <td style="text-align:center; width:103px">仿生机器人的设计和制作</td>
                  <td style="text-align:center; width:96px">创新项目，竞赛</td>
                </tr>
                <tr>
                  <td style="height:33px; text-align:center; width:167px">2015年：服务社会&mdash;&mdash;高效、便利、个性化</td>
                  <td style="text-align:center; width:103px">钱币的分类、清点、整理机械装置；不同材质、形状和尺寸商品的包装机械装置；商品载运及助力机械装置</td>
                  <td style="text-align:center; width:96px">创新项目，竞赛</td>
                </tr>
                <tr>
                  <td colspan="2" style="height:33px; text-align:center; width:313px">创业训练计划</td>
                  <td style="text-align:center; width:103px">自拟主题</td>
                  <td style="text-align:center; width:96px">创业项目，竞赛</td>
                </tr>
              </tbody>
            </table>


          </div>
          

        </article>
      </div>
    </div>
  </div>
  <!-- center end -->

  <!-- footer start -->
  {include file="common/foot" /}
  <!-- footer end -->
 
  <script src="__PUBLIC__/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="__PUBLIC__/js/plugins.js"></script>
  <script src="__PUBLIC__/js/main.js"></script>
  <script src="__PUBLIC__/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/move-top.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/easing.js"></script>

  
  <script type="text/javascript">
    $(document).ready(function() {
    
      var defaults = {
          containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
      };
      
      
      $().UItoTop({ easingType: 'easeOutQuart' });
      
    });
  </script>
  <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>

</html>
