<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> 列表单</a>
  <ul>
    <li class="submenu"><a href="{:url('admin/lst')}"><i class="icon icon-home"></i> <span>管理员</span></a> 
      <ul>
        <li><a href="{:url('admin/lst')}">管理员列表</a></li>
        <li><a href="{:url('student/lst')}">学生列表</a></li>
      </ul>
    </li>
 
    <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>实验报告</span> </a>
      <ul>
         <li><a href="{:url('cates/lst')}">栏目列表</a></li>
      </ul>
    </li> 

    <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>文章管理</span> </a>
      <ul>
         <li><a href="{:url('article/lst')}">文章列表</a></li>
      </ul>
    </li> 
    <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>通知要闻</span> </a>
      <ul>
         <li><a href="{:url('tzyw/lst')}">通知要闻列表</a></li>
      </ul>
    </li> 
  </ul>
    
  </ul>
</div>