<!doctype html>
<html class="no-js" lang="">

<head> 
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>典型实验</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="icon" href="__PUBLIC__/img/favicon.ico">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="__PUBLIC__/css/normalize.css">
  <link rel="stylesheet" href="__PUBLIC__/css/main.css">
  <link rel="stylesheet" href="__PUBLIC__/css/index.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css" />
 
 
</head>

<body>
  
  <!-- header start -->
  {include file="common/header" /}
  <!-- header end -->



  <!-- center start -->
  <div class="container">
    <div class="row clearfix" id="i_zxgk">
      
      <div class="col-md-4 column" id="dxsy">
        <ul id="dxsy">
          <li><h4>典型实验</h4></li>
          <li><a href="xnwz.html">虚拟微装配仿真操作实验</a></li>
          <li><a href="qxsy.html">切削用量对切削力的影响实验</a></li>
          <li><a href="hfyd.html">核反应堆承压容器检测仿真操作实验</a></li>
        </ul>
      </div>
      
      <div class="col-md-8 column">
        <div class="gps">
          当前位置:  &nbsp;&nbsp; <a href="{:url('index/index')}">首页</a> << <a href="{:url('dxsy/index')}">典型实验</a>
        </div>
        
        <article>
          <h3>典型实验</h3>
          <div class="data">2015-08-01 20:20:00 </div>

          <div class="center" id="color_red">
            <p><strong>1</strong><strong>、虚拟微装配仿真操作实验</strong></p>

            <p><strong>虚拟微装配仿真实验是针对机器人在特殊环境条件下应用而开设，是将特殊机器人系统中的微装配系统通过三维立体虚拟环境和模型来实时 体现微装配的平台样貌、原理及相关技术。该实验根据所需微装配工艺规划装配任务，并对微装配任务进行离线仿真，实时观测装配状态信息，最终实现虚拟微装配 任务。</strong></p>

            <p><strong>面向专业：</strong>机械电子工程，机械设计、制造及其自动化，飞行器制造工程</p>

            <p><strong>所属课程：《</strong>特种机器人系统设计》</p>

            <p><strong>实验目标：</strong>掌握虚拟微装配仿真平台可三维立体视角模拟仿真微装配的全部过程，掌握特种机器人系统设计中微装配系统的设计，了解并学习微装配的任务特点和关键技术。</p>

            <p><strong>实验工具：</strong>虚拟微装配仿真软件VMA2.0</p>

            <p><strong>2</strong><strong>、切削用量对切削力的影响实验</strong></p>

            <p><strong>该实验针对《机械制造技术基础》等多门课程中金属切削加工理论和技术内容。在图形仿真环境中模拟不同背吃刀量、进给量及切削速度条件下金属的切削过程对切削力的影响仿真，利用计算机在仿真环境下完成多种与金属切削加工相关的实验操作。</strong></p>

            <p><strong>面向专业：</strong>机械设计、制造及其自动化，机械电子工程</p>

            <p><strong>所属课程：《</strong>机械制造技术基础》</p>

            <p><strong>实验目标：</strong>掌握背吃刀量<span style="font-size:16px"><em>a<sub>p</sub></em></span>、进给量<span style="font-size:16px"><em>f</em></span> 和切削速度<em>V<sub>c</sub></em>对切削力的影响规律。通过实验数据的处理，建立切削力的经验公式。</p>

            <p><strong>实验工具：</strong>金属切削过程的虚拟仿真软件Virtual Machining 2.1</p>

            <p><strong>3</strong><strong>、核反应堆承压容器检测仿真操作实验</strong></p>

            <p><strong>该实验针对学生学习机器人技术中对于特殊的危险作业环境下的机器人应用技术，模拟核电站压力容器焊缝自动化机器人检测系统的操作和工作过程，可实现压力容器焊缝检测的运动学模拟仿真。具有全三维动态模拟、可离线编程/组态、测量及干涉检测、检测机械臂运动轨迹的仿真、生成、模型参数调节等功能。可使学生更加直观地了解和掌握机器人运动学、工作空间及运动约束、运动轨迹的参数生成、机器人机构参数对运动的影响等，为培养学生理论联系实际的能力奠定坚实的基础。</strong></p>

            <p><strong>面向专业：</strong>机械电子工程，机械设计、制造及其自动化，飞行器制造工程</p>

            <p><strong>所属课程：《</strong>工业机器人设计与应用》、《特种机器人系统设计》</p>

            <p><strong>实验目标：</strong>核反应堆承压容器检测仿真平台可三维立体视角离线仿真压力容器焊缝涡流检测以及视频检测的全部过程，机械专业学生通过仿真实验加深机器人运动学、机器人机构参数对机器人运动的影响、机器人离线运动轨迹规划、机器人控制的保护措施的调节等的认识，强化学生对所学的机器人相关课程的认识，提高科学研究的兴趣。</p>

            <p><strong>实验工具：</strong>承压容器检查机械手三维控制系统离线仿真软件：CROS 3.0</p>

            



          </div>
          

        </article>
      </div>
    </div>
  </div>
  <!-- center end -->

  <!-- footer start -->
  {include file="common/foot" /}
  <!-- footer end -->
 
  <script src="__PUBLIC__/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="__PUBLIC__/js/plugins.js"></script>
  <script src="__PUBLIC__/js/main.js"></script>
  <script src="__PUBLIC__/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/move-top.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/easing.js"></script>

  
  <script type="text/javascript">
    $(document).ready(function() {
    
      var defaults = {
          containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
      };
      
      
      $().UItoTop({ easingType: 'easeOutQuart' });
      
    });
  </script>
  <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>

</html>
