<!doctype html>
<html class="no-js" lang="">

<head> 
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>虚拟微装配仿真操作实验</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="icon" href="__PUBLIC__/img/favicon.ico">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="__PUBLIC__/css/normalize.css">
  <link rel="stylesheet" href="__PUBLIC__/css/main.css">
  <link rel="stylesheet" href="__PUBLIC__/css/index.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css" />
 
 
</head>

<body>
  
  <!-- header start -->
  {include file="common/header" /}
  <!-- header end -->



  <!-- center start -->
  <div class="container">
    <div class="row clearfix" id="i_zxgk">
      
      <div class="col-md-4 column" id="dxsy">
        <ul id="dxsy">
          <li><h4>典型实验</h4></li>
          <li><a href="xnwz.html">虚拟微装配仿真操作实验</a></li>
          <li><a href="qxsy.html">切削用量对切削力的影响实验</a></li>
          <li><a href="hfyd.html">核反应堆承压容器检测仿真操作实验</a></li>
        </ul>
      </div>
      
      <div class="col-md-8 column">
        <div class="gps">
          当前位置:  &nbsp;&nbsp; <a href="{:url('index/index')}">首页</a> << <a href="{:url('dxsy/index')}">典型实验</a><< <a href="{:url('dxsy/xnwz')}">虚拟微装配仿真操作实验</a>
        </div>
        
        <article>
          <h3>虚拟微装配仿真操作实验</h3>
          <div class="data">2015-08-26 16:50:00 </div>

          <div class="center" id="color_red">
            <p><strong>实验流程简述</strong></p>

            <p><strong>（1</strong><strong>）虚拟实验软件初始化</strong></p>

            <p>打开VMA虚拟微装配软件并远程登录，设定虚拟微装配目标模型，完成初始化</p>

            <figure>
              <img src="__PUBLIC__/img/xnwz/xnwzp1.png" alt="">
              <figcaption><p style="text-align:center">虚拟微装配实验初始化</p></figcaption>
            </figure>

            
            

            <p><strong>（2</strong><strong>）实验过程</strong></p>

            <p>根据所确定的微装配任务开始实验。在实验过程中可以根据需要进行模型的旋转、缩放、移动和微调，还可对微装配模型进行预测，以保证微装配任务的顺利完成</p>

            <figure>
              <img src="__PUBLIC__/img/xnwz/xnwzp2.png" alt="">
              <figcaption><p style="text-align:center">虚拟微装配实验过程</p></figcaption>
            </figure>

           

            <p><strong>（3</strong><strong>）后处理</strong></p>

            <p style="text-align:center">根据状态信息确认微装配完成后，可以得到目标模型的微装配结果</p>



            <figure>
              <img src="__PUBLIC__/img/xnwz/xnwzp3.png" alt="">
              <figcaption><p style="text-align:center">微装配任务状态和微装配任务完成界面</p></figcaption>
            </figure>

           

            <p style="text-align:center">&nbsp;</p>

            <p style="text-align:center"><span style="font-size:18px"><strong>【<u><a href="#" target="_blank">点击进入实验</a></u>】</strong></span></p>


            



          </div>
          

        </article>
      </div>
    </div>
  </div>
  <!-- center end -->

  <!-- footer start -->
  {include file="common/foot" /}
  <!-- footer end -->
 
  <script src="__PUBLIC__/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="__PUBLIC__/js/plugins.js"></script>
  <script src="__PUBLIC__/js/main.js"></script>
  <script src="__PUBLIC__/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/move-top.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/easing.js"></script>

  
  <script type="text/javascript">
    $(document).ready(function() {
    
      var defaults = {
          containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
      };
      
      
      $().UItoTop({ easingType: 'easeOutQuart' });
      
    });
  </script>
  <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>

</html>

