<!doctype html>
<html class="no-js" lang="">

<head> 
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>注册</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="icon" href="__PUBLIC__/img/favicon.ico">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="__PUBLIC__/css/normalize.css">
  <link rel="stylesheet" href="__PUBLIC__/css/index.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css" />

  <style type="text/css">
    #form01{width: 200px; margin:auto;margin-top: 50px}

  </style>

 
</head>

<body>


  <div class="container" >
    <div class="row clearfix">
      <div class="col-md-12 column" id="form01">
        <form class="form-horizontal" role="form" action="" method="post" id="student01" >
            <div class="form-group">
                <label for="stuname" class="">学生姓名</label>
                <div class="">
                    <input class="form-control" id="stuname" placeholder="" name="stuname"  type="text">  <span class=" " style="color: red">* 必填 </span> 
                </div>  
            </div>
            <p></p>
            <div class="form-group">
                <label for="stunumber" >学号 </label>
                <div class="">
                     <input class="form-control" id="stunumber" placeholder="" name="stunumber" type="text">

                     <span class=" " style="color: red">* 必填  </span> 
                </div>
            </div>  
            <p></p>
            <div class="form-group">
                <label for="sex" >性别 </label>
                <div class="">
                     <input class="form-control" id="stusex" placeholder="" name="stusex" type="text">

                      <span class=" " style="color: red">* 必填 </span> 
                </div>  
            </div>  
            <p></p>
              <div class="form-group">
                <label for="username" >账号 </label>
                <div class="">
                     <input class="form-control" id="username" placeholder="" name="username" type="text">   <span class=" " style="color: red">* 必填    </span> 
                </div>    
            </div>  
            <p></p>
            <div class="form-group">
                <label for="password" >密码 </label>
                <div class="">
                     <input class="form-control" id="password" placeholder="" name="password" 
                     type="text">
                     <span class=" " style="color: red">* 必填 </span> 
                </div>
            </div>  
            <p></p>
            <div class="form-group">
                <label for="class" >行政班级 </label>
                <div class="">
                     <input class="form-control" id="class" placeholder="" name="class" 
                     type="text">
                     <span class=" " style="color: red">* 必填 </span> 
                </div>
            </div>  
            <p></p>
            <div class="form-group" >
                <div class="">
                    <button type="submit" class="btn btn-default">保存信息</button>
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>

 

  
  <script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="__PUBLIC__/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="__PUBLIC__/js/plugins.js"></script>
  <script src="__PUBLIC__/js/main.js"></script>
 
  
</body>

</html>
